<div class="hero-section">
  <img 
  src="[[imagesPath]]/kits/hockey/Hockey-hero.png" 
  class="image" 
  alt="hockey-hero" 
  />
  <div class="hero-text">
    Custom Apparel & Online Stores for Hockey Teams
  </div>
</div>

<div class="dark-section s1">
  <div class="text">
    <p>"Create A Custom Look For Your Team Or Club With Our Design Team"</p>
  </div>

  <!-- <div class="button">
    <a href="/store/" tabindex="-1">
      <button class="green">Set up Your Team Store</button>
    </a>
  </div>   -->
</div>


<div class="triple-block width">
  <!-- <h1>Create your unique custom look for your team 
    or club with the help of our design team
  </h1> -->

  <p>
    We will build an online store with your kits so your team members can order them with no minimum restrictions any time of the year. 
    Each player can personalize the jerseys with player number and player name according to your team or league policy. 
    Complete each kit with our high-quality hockey socks in many stock colors. 
    The production time is ten business days plus shipping from when the order is completed. 
    All our products are made with high-quality materials and professional workmanship to rival the top brands of hockey uniforms.
  </p>

  <div class="triple-block-container width">
    <div class="block-p3">
        <div class="vertical-block">
            <div class="images">
              <img src="[[imagesPath]]/kits/hockey/Jersey 1.png" />
              <img src="[[imagesPath]]/kits/hockey/Socks 1.png" />
              </div>
            <div class="title upper">
              Classic Lace-Up Hockey Jersey
            </div>
            <div class="button">
              <a href="/store/WP4301" tabindex="-1">
                <button class="green">Visit Sample Store</button>
              </a>
            </div>
            <div class="text big">
              Our Championship uniform offers a diamond-shaped neckline for a professional look in high-stakes games where everything matters.
              The side mock mesh inserts offer additional breathability and moisture-wicking. 
              The matching shorts provide comfort and a complete look with the jerseys. 
            </div>
            <div class="text accent">
              Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences.
            </div>
            <div class="button">
              <a href="/custom-design-request/GQ5315" tabindex="-1">
                <button class="green">Create Your Jersey</button>
              </a>
            </div>
        </div>
    </div>

    <div class="block-p3">
      <div class="vertical-block">
          <div class="images">
            <img src="[[imagesPath]]/kits/hockey/Jersey 2.png" />
            <img src="[[imagesPath]]/kits/hockey/Socks 2.png" />
          </div>
          <div class="title upper">
            Breakaway Hockey Jersey
          </div>
          <div class="button">
            <a href="/store/YP7498" tabindex="-1">
              <button class="green">Visit Sample Store</button>
            </a>
          </div>
          <div class="text big">
            Our essential goalie hockey jersey with raglan sleeve offer economic way to look great on ice. 
            The sleeve construction offers the freedom of movement. Design it with your team name and colors and personalize with player's names and numbers, 
            besides the stock design options, all our jerseys can be ordered with completely custom designs.
          </div>
          <div class="text accent">
            Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences.
          </div>
          <div class="button">
            <a href="/custom-design-request/BP8476" tabindex="-1">
              <button class="green">Create Your Jersey</button>
            </a>
          </div>
      </div>
    </div>
    
    <div class="block-p3">
      <div class="vertical-block">
          <div class="images">
            <img src="[[imagesPath]]/kits/hockey/Jersey 3.png" />
            <img src="[[imagesPath]]/kits/hockey/Socks 3.png" />
          </div>
          <div class="title upper">
            Two-Way Hockey Jersey
          </div>
          <div class="button">
            <a href="/store/FP3693" tabindex="-1">
              <button class="green">Visit Sample Store</button>
            </a>
          </div>
          <div class="text big">
            The matching shorts provide comfort and a complete look with the jerseys. 
            It features side and shoulder inserts with two different fabrics to provide additional moisture-wicking and breathability.
          </div>
          <div class="text accent">
            Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences.
          </div>
          <div class="button">
            <a href="/custom-design-request/UQ7324" tabindex="-1">
              <button class="green">Create Your Jersey</button>
            </a>
          </div>
      </div>
    </div>
  </div>

</div>


<div class="dark-section small">
  <div class="text">
    <p>Teamatical  Benefits</p>
  </div>
</div>
<div>
  <div class="double-block width">
    <div class="double-block-container width">
      <div class="block-p5">
          <div class="vertical-block">
              <div class="images">
                <img src="[[imagesPath]]/kits/hockey/ben1.png" />
              </div>
          </div>
      </div>
      <div class="block-p5">
        <div class="vertical-block">
            <div class="images">
              <img src="[[imagesPath]]/kits/hockey/ben2.png" />
            </div>
        </div>
      </div>
      <div class="block-p5">
        <div class="vertical-block">
            <div class="images">
              <img src="[[imagesPath]]/kits/hockey/ben3.png" />
            </div>
        </div>
      </div>
      <div class="block-p5">
        <div class="vertical-block">
            <div class="images">
              <img src="[[imagesPath]]/kits/hockey/ben4.png" />
            </div>
        </div>
      </div>
      <div class="block-p5">
        <div class="vertical-block">
            <div class="images">
              <img src="[[imagesPath]]/kits/hockey/ben5.png" />
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="section-block">
  <div class="button">
    <a href="/store/xxxx" tabindex="-1">
      <button class="green">Set up Your Team Store</button>
    </a>
  </div>  
</div> -->




<div class="dark-section small">
  <div class="text">
    <p>More  Teamatical  Products</p>
  </div>
</div>
<div class="text-thin-block">
  <h2>Goalie  Hockey Jerseys</h2>
  <p>
    Our essential goalie hockey jersey with raglan sleeve offer economic way to look great on ice. The sleeve construction offers the freedom of movement. 
    Design it with your team name and colors and personalize with player's names and numbers, besides the stock design options, 
    all our jerseys can be ordered with completely custom designs. Every design, lettering, player names and numbers are available for the same flat price. 
    We make our jerseys with state of the art sublimation technology that infuses fabric with the ink, creating bright permanent design that does not peal, crack or fade. 
    The jersey is suitable for both men and women players. Match this jersey with our hockey socks to complete the team uniform. We also offer youth version of this jersey.
  </p>
</div>

<div class="double-block width">
  <div class="double-block-container width">
    <div class="block-p2">
        <div class="vertical-block">
            <div class="images">
              <img src="[[imagesPath]]/kits/hockey/Goalie1.png" />
            </div>
        </div>
    </div>
    <div class="block-p2">
      <div class="vertical-block">
          <div class="images">
            <img src="[[imagesPath]]/kits/hockey/Goalie2.png" />
          </div>
      </div>
    </div>
  </div>
</div>


<div class="hockey-backgound">
  <div class="text-thin-block">
    <h2>Hockey Socks</h2>
    <p>
      The Performance Socks can be matched to any of our game winning uniforms to complete your team's identity. 
      They feature a durable material with velcro straps to stay comfortably in place all game long. 
      There are 21 more designs for customization, press Customize to get more excited options.
    </p>
  </div>
  
  <div class="text-thin-block">
    <h2>Youth  Hockey Jerseys</h2>
    <p>
      Our essential youth hockey jersey with raglan sleeve offer economic way to look great on ice. 
      The sleeve construction offers the freedom of movement. 
      Design it with your team name and colors and personalize with player's names and numbers, besides the stock design options, all our jerseys can be ordered with completely custom designs. 
      Every design, lettering, player names and numbers are available for the same flat price. 
      We make our jerseys with state of the art sublimation technology that infuses fabric with the ink, creating bright permanent design that does not peal, crack or fade. 
      Match this jersey with our hockey socks to complete the team uniform.
    </p>
  </div>
  
  <div class="text-thin-block">
    <h2>Spiritwear</h2>
    <p>
      Our essential youth hockey jersey with raglan sleeve offer economic way to look great on ice. 
      The sleeve construction offers the freedom of movement. 
      Design it with your team name and colors and personalize with player's names and numbers, besides the stock design options, all our jerseys can be ordered with completely custom designs. 
      Every design, lettering, player names and numbers are available for the same flat price. 
      We make our jerseys with state of the art sublimation technology that infuses fabric with the ink, creating bright permanent design that does not peal, crack or fade. 
      Match this jersey with our hockey socks to complete the team uniform.
    </p>
  </div>
</div>





<div class="triple-block width">
  <div class="triple-block-container width">
    <div class="block-p3">
        <div class="vertical-block">
            <div class="images">
              <img src="[[imagesPath]]/kits/hockey/Jacket.png" />
              </div>
            <div class="title upper">
              Warm Up Jacket and pants
            </div>
            <div class="text big">
              The Flex Warm Up Jacket can be customized to match your team and uniforms. 
              The jacket is constructed from woven material, lined with lightweight mesh, and features zippered pockets.
            </div>
            <div class="text accent">
              Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences.
            </div>
            <!-- <div class="button">
              <a href="/store/" tabindex="-1">
                <button class="green">Store Demo</button>
              </a>
            </div> -->
        </div>
    </div>

    <div class="block-p3">
      <div class="vertical-block">
          <div class="images">
            <img src="[[imagesPath]]/kits/hockey/Polo.png" />
          </div>
          <div class="title upper">
            Polo  Shirts and T-shirts
          </div>
          <div class="text big">
            We have pushed the envelope on Teamatical’s Performance line so you can push harder. 
            The Performance T-shirt is designed for those serious about their workouts. 
            The back is equipped with [quad-vent] ultra-lightweight fabric, and the sides have breathable inserts designed for maximum sweat wicking.
          </div>
          <div class="text accent">
            Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences.
          </div>
          <!-- <div class="button">
            <a href="/store/" tabindex="-1">
              <button class="green">Store Demo</button>
            </a>
          </div> -->
      </div>
    </div>
    
    <div class="block-p3">
      <div class="vertical-block">
          <div class="images">
            <img src="[[imagesPath]]/kits/hockey/Sweatshirt.png" />
          </div>
          <div class="title upper">
            Full-Zip Hoodies and Hooded Pullover
          </div>
          <div class="text big">
            Meet your new on-the-move sweatshirt that’s perfect for early mornings or summer evenings. 
            The lightweight material quickly wicks away any moisture to keep you cool and dry. 
            The full zipper makes it is easier to put on and warm up while the lined hood provides additional customizability.
          </div>
          <div class="text accent">
            Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences.
          </div>
          <!-- <div class="button">
            <a href="/store/" tabindex="-1">
              <button class="green">Store Demo</button>
            </a>
          </div> -->
      </div>
    </div>
  </div>
</div>
<div class="section-block">
  <div class="button">
    <a href="/list/hockey" tabindex="-1">
      <button class="green">Visit Spiritwear Store</button>
    </a>
  </div>  
</div>






<div class="darkligher-section s3">
  <p>Explore the full Teamatical platform by designing your custom apparel, and setting up your team store without the need 
    for a middleman. In as little as a day, your team will be ready to offer an incredible experience to its fans.</p>
</div>
<div class="dark-section s3">
</div>
<div class="triple-block darkercolor">
  <div class="triple-block-container width">
      <div class="block-p3">
          <div class="vertical-block">
              <div class="title upper">
                Explore Brand Partners​​
              </div>
              <div class="text">
                Explore the platform​
              </div>
              <div class="link">
                  <a href="/help/brand-module/">Learn More</a>
              </div>
          </div>
      </div>

      <div class="block-p3">
        <div class="vertical-block">
            <div class="title upper">
              Explore Design Services​
            </div>
            <div class="text">
              Explore the platform​
            </div>
            <div class="link">
                <a href="/help/design-module/">Learn More</a>
            </div>
        </div>
    </div>
    
    <div class="block-p3">
      <div class="vertical-block">
          <div class="title upper">
            Explore TM Apparel​
          </div>
          <div class="text">
            Explore the platform​
          </div>
          <div class="link">
              <a href="/help/manufacturing-module/">Learn More</a>
          </div>
      </div>
    </div>

  </div>
</div>
