<img src="[[imagesPath]]/kits/soccer/soccer-hero.png" class="image" alt="soccer-hero" />

<div class="dark-section">
  <div class="text">
    Our production process is fully digitalized and automated from start&#8209;to&#8209;finish<br class="br-mobile" />
    providing you with the most efficient and transparent order experience
  </div>
</div>


<div class="triple-block width">
  <h1>Create your unique custom look for your team 
    or club with the help of our design team
  </h1>

  <p>
    We will build an online store with your kits so your team members can order them with no minimum restrictions any time of the year. 
    Each player can personalize the jerseys with player number and player name according to your team or league policy. 
    Complete each kit with our high-quality soccer socks in many stock colors. 
    The production time is ten business days plus shipping from when the order is completed. 
    All our products are made with high-quality materials and professional workmanship to rival the top brands of soccer uniforms.
  </p>

  <div class="triple-block-container width">
    <div class="block-p3">
        <div class="vertical-block">
            <div class="images">
              <img src="[[imagesPath]]/kits/soccer/Jersey1.png" />
              <img src="[[imagesPath]]/kits/soccer/Shorts1.png" />
              <img src="[[imagesPath]]/kits/soccer/Socks1.png" />
              </div>
            <div class="title upper">
              Championship Kit
            </div>
            <div class="button">
              <a href="/store/AQ1249" tabindex="-1">
                <button class="green">Visit Sample Store</button>
              </a>
            </div>
            <div class="text big">
              Our Championship uniform offers a 
              diamond-shaped neckline for a professional look in high-stakes games where everything matters.
              The side mock mesh inserts offer additional breathability and moisture-wicking. 
              The matching shorts provide comfort and a complete look with the jerseys. 
            </div>
            <div class="text accent">
              Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences.
            </div>
            <div class="button">
              <a href="/custom-design-request/VQ3518" tabindex="-1">
                <button class="green">Create Your Jersey</button>
              </a>
            </div>
        </div>
    </div>

    <div class="block-p3">
      <div class="vertical-block">
          <div class="images">
            <img src="[[imagesPath]]/kits/soccer/Jersey2.png" />
            <img src="[[imagesPath]]/kits/soccer/Shorts2.png" />
            <img src="[[imagesPath]]/kits/soccer/Socks3.png" />
          </div>
          <div class="title upper">
            Elite Kit
          </div>
          <div class="button">
            <a href="/store/VP8156" tabindex="-1">
              <button class="green">Visit Sample Store</button>
            </a>
        </div>
          <div class="text big">
            Our Elite uniform is a step up from Striker when you just have to have some extras to make your team feel special and powerful and to give you the edge over the opponent team.
            It features side and shoulder inserts with two different fabrics to provide additional moisture-wicking and breathability.
            The matching shorts provide comfort and a complete look with the jerseys. 
          </div>
          <div class="text accent">
            Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences
          </div>
          <div class="button">
            <a href="/custom-design-request/DP7386" tabindex="-1">
              <button class="green">Create Your Jersey</button>
            </a>
          </div>
      </div>
    </div>
    
    <div class="block-p3">
      <div class="vertical-block">
          <div class="images">
            <img src="[[imagesPath]]/kits/soccer/Jersey3.png" />
            <img src="[[imagesPath]]/kits/soccer/Shorts3.png" />
            <img src="[[imagesPath]]/kits/soccer/Socks3.png" />
          </div>
          <div class="title upper">
            Striker Kit
          </div>
          <div class="button">
            <a href="/store/NQ6746" tabindex="-1">
              <button class="green">Visit Sample Store</button>
            </a>
          </div>
          <div class="text big">
            Our Striker uniform is the perfect choice when less is more.
            The classic V-neck design is timeless and never out of fashion. Free from complications, it is still made from high-quality materials and sewn with great attention to detail. 
            The 100% polyester material offers an outstanding balance of stability and stretch to keep your team looking sharp on the field.
          </div>
          <div class="text accent">
            Available in Men, Women, Boys, and Girls styles and various lengths to match your team preferences.
          </div>
          <div class="button">
            <a href="/custom-design-request/FQ6178" tabindex="-1">
              <button class="green">Create Your Jersey</button>
            </a>
          </div>
      </div>
    </div>
  </div>

</div>


<div class="dark-section small">
  <!-- none -->
</div>



<div class="text-thin-block">
  <h2>Optimized for group ordering  scenarios with automated personalization.</h2>
  <p>Easily facilitate custom personalized orders through our online platform with no minimums. Teamatical was built with the team ordering scenario at heart, and our online platform delivers automation at every step of the ordering process.</p>
</div>

<div class="text-thin-block">
  <h2>3D product visualization & real time rendering</h2>
  <p>At Teamatical, we believe in what you see if what you get. We developed our own proprietary rendering engine to deliver next level visualization for the consumers shopping experience. ​</p>
</div>

<div class="text-thin-block">
  <h2>Store management features that allow you to tailor the selling  experience by customer</h2>
  <p>Supercharge your salesforce with our suite of sales productivity tools to efficiently scale your business. Manage store prices, privacy, products, merchandising, design, shipping, and much more in a single easy-to-use platform.</p>
</div>



<div class="triple-block darkcolor">
  <div class="triple-block-container width">
      <div class="block-p3">
          <div class="vertical-block">
              <div class="title upper">
                Explore Brand Partners​​
              </div>
              <div class="text">
                Explore the platform​
              </div>
              <div class="link">
                  <a href="/help/brand-module/">Learn More</a>
              </div>
          </div>
      </div>

      <div class="block-p3">
        <div class="vertical-block">
            <div class="title upper">
              Explore Design Services​
            </div>
            <div class="text">
              Explore the platform​
            </div>
            <div class="link">
                <a href="/help/design-module/">Learn More</a>
            </div>
        </div>
    </div>
    
    <div class="block-p3">
      <div class="vertical-block">
          <div class="title upper">
            Explore TM Apparel​
          </div>
          <div class="text">
            Explore the platform​
          </div>
          <div class="link">
              <a href="/help/manufacturing-module/">Learn More</a>
          </div>
      </div>
    </div>

  </div>
</div>
