node_modules
ActionResults
bin
ClientArtManager
Configurations
Connected Services
Controllers
Converters
Helpers
Models
node_modulesobj
PackageRoot
Properties
Security
ServiceFabric
Setups
SignalRHubs
Views
wwwroot
app.config
app.Configurations
appsettings.json
appsettings.Production-Template.json
appsettings.Production.json
hosting.json
jsconfig.json
Startup.cs
Teamatical.Website.csproj
tgconfig.json
ClientApp/.temp_cache-admin
ClientApp/.temp_cache-app