:host {
  /* @apply --layout-horizontal; */
  transform: rotateY(-90deg);
  transition: all 0.2s cubic-bezier(.36,-0.64,.34,1.76);
  opacity: 0;
}

:host(.show) {
  transform: none;
  transition: all 0.2s cubic-bezier(.36,-0.64,.34,1.76);
  opacity: 1;
}

:host([is-replaced]) teamatical-ui-image {
	opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

:host([as-qa]) h1 {
  margin-left: 260px;
  /* margin-left: 0px !important; */
}

[disabled] {
  pointer-events: none;
	opacity: 0.2;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

h1 {
  /* position: absolute; */
  z-index: 1;
  top: 66px;
  --iron-icon-height: 1.1em;
  --iron-icon-width: 1.1em;
}

.thread-color {
  display: inline-block;
  min-width: 320px;

  border: 3px dashed var(--app-accent-color);
  padding: 0px 8px;
  border-radius: 4px;
  /* 
  background-color: var(--app-disabled-color);
   */
}
.qty {
  font-size: 2em;
}
.thread-color .label,
.order-accessories-item .label,
.accessories .label {
  font-size: 1.4em;
  text-align: center;
  
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;   */
  /* height: 56px; */

  /* line-height:20px;
  height:40px; */
  display: -webkit-box;
  line-height: 16px;     /* fallback */
  max-height: 32px;      /* fallback */
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
.thread-color .color,
.order-accessories-item .color,
.accessories .color {
  /* mix-blend-mode: difference; */
  border: 3px solid var(--app-disabled-color);
  padding: 4px;
  margin: 0px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

/* .order-accessories-item .size { */
/* .order-accessories-item .color-container, */
.order-accessories-item .color {
  height: 19px;
}
.order-accessories-item .size {
  position: relative;
}
.order-accessories-item .size div {
  position: absolute;
  top: -32px;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid gray;
}

.order-accessories-item .label {
  font-size: 1.4em;
  line-height: 1em;
}


/* h4 {
  margin-right: 20px;
} */

.order-accessories-item h4,
.accessories h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
}

/* .accessories > :not(first-child) {
  display: inline-block;
} */

paper-input {
  width: 260px;
}
paper-input iron-icon {
    box-shadow: inset 0 0 0 6px #f6f6f6;
    
    -webkit-transition: all .15s ease-in;
            transition: all .15s ease-in;

    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 19px;
    border: 2px solid #fff;
}

.download {
  display: flex;
  /* cursor: pointer; */
}
.download paper-spinner-lite {
	width: 18px;
	height: 18px;
  margin: 2px;
}

/* .img-scroll-x {
  overflow-x: scroll;
} */

/* .image-product-grid-container {
  overflow-x: scroll;
  width: 100%;
} */

.image-product-grid {
  padding: 0;
  min-width: 21px; 

  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: stretch;

  /* margin: 0 auto; */

  /* overflow-x: scroll;
  ::-webkit-scrollbar { 
    display: none;
  } */
  /* @apply --layout-scroll;	
	
	scrollbar-width: none;
	-ms-overflow-style: none; */
  
  /* flex-shrink: 1;
  display: flex;
  flex-flow: row unwrap;
  justify-content: center;
  align-items: flex-start; */
}

.accessories teamatical-ui-image,
.image-product-grid teamatical-ui-image[clickable] {
  cursor: pointer;
}

.accessories teamatical-ui-image,
.image-product-grid teamatical-ui-image {
  display: inline-block;
  /* align-self: flex-start; */
  
  --teamatical-ui-image-img: {
    border-radius: 6px;
  };
}

.accessories teamatical-ui-image::before,
.image-product-grid teamatical-ui-image::before {
  content: ""; 
  padding-top: 133%;
}

.detail-container {
  margin-left: 10px; 
  flex-grow: 2;
  flex-shrink: 160;
}

.delete-button {
  flex-basis: 38px;
  width: 38px;
  height: 38px;
  color: var(--app-secondary-color);
  
  margin-top: 15px;
  flex-shrink: 0;
}

.name {
  min-width: 90px;
  line-height: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 30px;
}

.name a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  color: var(--app-primary-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.price, 
.size,
.player {
  color: var(--app-secondary-color);
}

.player {
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quantity,
.size,
.price,
.player {
  margin: 10px;
}

.size > span {
  margin-left: 10px;
}

.price {
  font-weight: 600;
  color: var(--app-secondary-color);
  margin: 0 15px;
}

.price_old {
  color: var(--app-secondary-color);
  text-decoration: line-through;
}

.price_new {
  color: var(--app-discount-color);
  font-weight: bold;
}

.store > a {
  border-radius: 5px;
  border: 1px dashed var(--app-secondary-color);

  display: inline-block;
  outline: none;
  padding: 9px 6px;
  margin: 8px 0;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  color: var(--app-primary-color);
}

.accessories-added {
  @apply --layout-horizontal;
	@apply --layout-center-center;
  align-items: flex-start;
}
.accessories-added > div {
  width:33%;
}

.accessories-added .order-accessories-list {
  justify-content: flex-end;
}
/* .accessories-added > div:nth-of-type(2n){
  width:300px;
} */

@media (max-width: 1800px) {
  .accessories-added {
    @apply --layout-vertical;
  }
  /* .order-accessories .order-accessories-list, */
  .accessories-added .order-accessories-list {
    justify-content: flex-start;
  }
  .accessories-added > div {
    width:100%;
  }
}


.accessories teamatical-ui-image,
.image-product-grid teamatical-ui-image {
  width: 180px;
  height: 240px;
}

:host([responsive-images]) .image-product-grid teamatical-ui-image {
  width: 309px;
  height: 412px;
}

@media (max-width: 1200px) {
}

@media (max-width: 1024px) {
  :host([responsive-images]) .image-product-grid teamatical-ui-image {
    width: 250px;
    height: 333px;
  }  
}

@media (max-width: 958px) {
  /*:host([responsive-images]) .image-product-grid teamatical-ui-image {
    width: 196px;
    height: 262px;
  } */
}

@media (max-width: 800px) {
  .detail-container {
    margin-left: 0px; 
  }
  /* :host([responsive-images]) .image-product-grid teamatical-ui-image {
    width: 374px;
    height: 499px;
  } */
}

@media (max-width: 689px) {
  /* .image-product-grid {
    max-width: 175px; 
  } */
  /* :host([responsive-images]) .image-product-grid teamatical-ui-image {
    width: 173px;
    height: 231px;
  } */
}

@media (max-width: 411px) {
  .image-product-grid {
    flex-flow: row wrap;
  }
  /* :host([responsive-images]) .image-product-grid teamatical-ui-image {
    width: 344px;
    height: 459px;
  } */
}

@media (max-width: 320px) {
  /* :host([responsive-images]) .image-product-grid teamatical-ui-image {
    width: 311px;
    height: 415px;
  } */
}


.order-history,
.order-shipment {
  margin: 24px 0px 24px 0px;
}
.order-history h4,
.order-shipment h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-history .table,
.order-shipment .table {
	margin: 16px;
	width: 100%;
	max-width:1250px;
}


.order-accessories {
	margin: 8px;
}
.order-accessories h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
	text-transform: uppercase;
}
.order-accessories-list {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.order-accessories-item {
	display: inline-flexbox;
	margin: 8px;

	width: 160px;
	text-align: center;
}
.order-accessories-item teamatical-ui-image {
	height: 106px;
  margin: 4px;
}


.order-cameraresults {
	margin: 8px;
}
.order-cameraresults h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
	text-transform: uppercase;
}
.order-cameraresults-list {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
.order-cameraresults-item {
	display: inline-flexbox;
	margin: 8px;

	width: 160px;
	text-align: center;
}
.order-cameraresults-item teamatical-ui-image {
	height: 106px;
  margin: 4px;
}




#dialogcamera {
	--tmladmin-ui-dialog-container: {
	    /* background: linear-gradient(45deg, #f06, blue); */
      background: rgba(0, 0, 0, 0.25);
	};
	--tmladmin-ui-dialog-frame: {
		margin: 16px auto;
	};
}
#dialogcamera div[slot="body"] {
	overflow: auto;
}
#dialogcamera div[slot="body"] > img {
  width: 100%;
  height: auto;
}
/* #dialogcamera .dialog-loading-container {
	position: relative;
} */
#dialogcamera .dialog-loading {
	display: block;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
}

#dialogzoom teamatical-ui-image-multiview-3d {
  --teamatical-ui-image-sprite-container: {
    bottom: 0px;
  };
  /* --teamatical-ui-image-img: {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    border-radius: 6px;
  }; */
}

/* #dialogzoom {
	--tmladmin-ui-dialog-container: {
	    background: linear-gradient(45deg, #f06, blue);
	};
}
#dialogzoom div[slot="body"] {
	overflow: auto;
}
#dialogzoom .dialog-loading-container {
	position: relative;
}
#dialogzoom .dialog-loading {
	display: block;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
} */
