:host {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;

  transform: rotateY(-90deg);
  transition: all 0.2s cubic-bezier(.36,-0.64,.34,1.76);
  opacity: 0;
}

:host(.show) {
  transform: none;
  transition: all 0.2s cubic-bezier(.36,-0.64,.34,1.76);
  opacity: 1;
}


.image-product-grid {
  overflow: hidden;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: start;

  flex: 1 1 70em;
}

.gray {
  color: var(--disabled-text-color);
}
.link-over-object:not([href]) .product-view {
  cursor: default;
}

.image-product-grid .product-view {
  width: 314px;
  height: 419px;

  margin: 4px;

  cursor: pointer;

  --teamatical-ui-image-img: {
    border-radius: 6px;
  };
}

.image-product-grid .product-view.bigger {
  width: 574px;
  height: 765px;
}

.image-product-grid .product-view::before {
  content: ""; 
  padding-top: 133%;
}

.detail-container {
  margin-left: 10px;
  flex: 2 2 20em;
}

:host(:not([grid])) .name {
  min-width: 90px;
}
:host([grid]) .name a {
  white-space: nowrap;
  width: 35px;
}


.name {
  line-height: 20px;
  font-weight: 500;
  margin-top: 15px;
  margin-right: 30px;
}

.name a {
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  color: var(--app-primary-color);
  overflow: hidden;
  text-overflow: ellipsis;
}

.price, 
.size,
.player {
  color: var(--app-secondary-color);
}

.player {
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.quantity,
.size,
.price,
.player {
  margin: 10px;
}

.size > span {
  margin-left: 10px;
}

.price {
  font-size: 1.1em;
  font-weight: 600;
  color: var(--app-secondary-color);
  margin: 0 10px;
}

.price_old {
  font-weight: normal;
  color: var(--app-secondary-color);
  text-decoration: line-through;
}

.price_new {
  color: var(--app-discount-color);
  font-weight: bold;
}

.store > a {
  border-radius: 5px;
  border: 1px dashed var(--app-secondary-color);

  display: inline-block;
  outline: none;
  padding: 9px 6px;
  margin: 8px 0;
  font-weight: 500;
  text-decoration: none;
  color: var(--app-primary-color);
}




@media (max-width: 1245px) {
  .image-product-grid {
    flex: 1 1 50em;
  }
}

@media (max-width: 1024px) {
  .image-product-grid .product-view {
    width: 212px;
    height: 283px;
  }
}

@media (max-width: 800px) {
  .image-product-grid .product-view {
    width: 212px;
    height: 283px;
  }
  .image-product-grid {
    flex: 1 1 32em;
  }
}

@media (max-width: 576px) {
  :host(:not([grid])) .name {
    min-width: unset;
  }
  .image-product-grid .product-view {
    width: 166px;
    height: 222px;
  }
  .image-product-grid {
    flex: 1 1 20em;
  }
}

@media (max-width: 375px) {
  .image-product-grid .product-view {
    width: 132px;
    height: 176px;
  }
  .image-product-grid {
    flex: 1 1 15em;
  }
}

@media (max-width: 320px) {
  .image-product-grid .product-view {
    width: 108px;
    height: 144px;
  }
}
