.button {
    --paper-fab-background: var(--paper-grey-50);
    --paper-fab-keyboard-focus-background: var(--paper-grey-100);
    --paper-fab-disabled-background: var(--paper-grey-200);
    --paper-fab-iron-icon: {
      fill: var(--disabled-text-color);
    };
    /* --app-secondary-color */
}

:host([connecting]) .button {
    -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    -ms-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;
}

:host([connected]) .button {
    --paper-fab-iron-icon: {
      fill: var(--paper-green-600);
    };
}

:host([misconfigured]) .button {
    -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    -ms-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;

    --paper-fab-iron-icon: {
      fill: var(--paper-yellow-700);
    };
}

:host([failure]) .button {
    --paper-fab-iron-icon: {
      fill: var(--paper-red-600) !important;
    };
}

.video-parameter-slider {
    width: 100%;
}
.reload-fonts {
    float: right;
    margin: 0px 16px;
}

paper-spinner-lite.thick {
    display: block;
    position: absolute;
    top: 6px;
    right: 6px;
    pointer-events: none;
}


.scanner-selection {
	@apply --layout-vertical;
	@apply --layout-end;
}

.video-selection {
    margin-top: 10px;
	@apply --layout-vertical;
	@apply --layout-end;
}

.printer-selection {
    margin-top: 10px;
	@apply --layout-vertical;
	@apply --layout-end;
}

.rfid-scanner-selection {
    margin-top: 10px;
	@apply --layout-vertical;
	@apply --layout-end;
}

.local-service-btns {
    @apply --layout-horizontal;
}

.leds-selection {
    margin-top: 10px;
    @apply --layout-horizontal;
}
.leds-selection > * {
    margin: 8px 40px;
}

.scale-selection {
    margin-top: 10px;
    /* @apply --layout-horizontal; */
}
.scale-selection > * {
    margin: 8px 40px;
}


/*.local-service-on-screen {
    position: relative;
}
 .local-service-on-screen > * {
    position: absolute;
    top: -12px;
    right: 0px;
} */


.dialog-wide {
    min-width: 620px;
    /* min-height: 500px; */
}
.dialog-wide paper-dialog-scrollable {
    min-height: 175px;
    /* --paper-dialog-scrollable: {
      box-sizing: border-box;
      width: 360px;
      height: 640px;
    } */
}
.dialog-wide tmladmin-ui-dropdown-menu,
.dialog-wide paper-dropdown-menu-light {
    min-width: 520px;
}

@media (max-width: 767px) {
    .dialog-wide {
        min-width: unset;
    }
    .dialog-wide tmladmin-ui-dropdown-menu,
    .dialog-wide paper-dropdown-menu-light {
        min-width: unset;
    }

}




/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}
