[hidden] {
	display: none !important;
}

:host {
	display: inline-block;
	position: relative;
}

#overlay {
	pointer-events: none;
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	@apply --teamatical-tab-overlay;
}

:host(.tabs-overlay-static-above) #overlay {
	display: block;
}