:host {
    display: block;

    border: 1px solid transparent;
    border-radius: 8px;
}
/* :host(:focus) { */
    /* outline-width: 2px;
    outline-style: double;
    outline-color: var(--paper-input-container-underline) */
    /* box-shadow: 0 0 0 1pt var(--paper-input-container-underline);
    border-radius: 4px; */
/* } */
:host(:focus) {
    outline: 1px dashed transparent;
}
:host(:focus:not(:active)) {
    border-left: 1px dashed var(--app-primary-color);
    border-right: 1px dashed var(--app-primary-color);
}

:host([disabled]) {
	opacity: 0.6;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    
    pointer-events: none;
}

:host([rectangle]) .colorlist iron-icon {
    border-radius: 4px;
}

.colorlist ul {
    padding: 0;
}
@media (max-width: 391px) {
    .colorlist ul {
        text-align: center;
    }
}
  
.colorlist li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.colorlist li[selected] iron-icon {
    border: 2px solid var(--divider-color);
    transform: scale(1.05);
}

/* .colorlist iron-icon:hover {
    transform: scale(1.05);
} */
.colorlist iron-icon:focus {
	-webkit-filter: drop-shadow( 0 0 0.15rem #999 );
	filter: drop-shadow( 0 0 0.15rem #999 );
}
.colorlist iron-icon {
    outline: none;
	will-change: filter;

    background-color: white;
    box-shadow: inset 0 0 0 6px #f6f6f6;
    
    -webkit-transition: all .15s ease-in;
            transition: all .15s ease-in;

    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 19px;
    border: 2px solid #fff;
    margin: 2px;
}

