:host {
    --panel-width: 164.61px;
    --label-font-size: 14px;
    --ui-list-carousel-scroll-height: 1px;
}
@media (max-width: 767px) {
    :host {
        --panel-width: 123.45px;
        --label-font-size: 14px;
    }
}


.noitems {
    margin: 0 auto;
    text-align: center;
    color: var(--divider-color);
}

.track {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    margin-left: 0px;
    position: relative;
    width: 100%;
    cursor: ew-resize;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
    -webkit-user-drag: none;
}
.track:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2em;
  z-index: 1;
  background-image: linear-gradient(to right, 
    rgba(255, 255, 255, 0), 
    rgba(255, 255, 255, 1) 100%);
}
.track:before {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2em;
  background-image: linear-gradient(to left, 
    rgba(255, 255, 255, 0), 
    rgba(255, 255, 255, 1) 100%);
}


.slides {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 15000%;
    display: inline-block;
    will-change: transform;
    white-space: nowrap;
    backface-visibility: hidden;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
    -webkit-user-drag: none;
}

.slides:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


.panel {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    box-sizing: border-box;
    display: inline-block;
    transition: inherit;
    -webkit-transition: inherit;
    height: 100%;
    position: relative;
    
    outline: none;
    
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
    -webkit-user-drag: none;
}
/* .panel a:focus teamatical-ui-list-item  {
    transform: zoom(0.7);
} */

/* .panel > a:focus {
    outline: none;
} */
.panel .main {
    transition: inherit;
    display: inline-block;
    position: relative;
    height: 100%;
    border-radius: 6px;
    /* box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.3); */
    /* transform: scale(0.95); */
    width: var(--panel-width);
    --teamatical-ui-list-item-gap: 2px;
}

.panel > .main {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-drag: none; 
    -webkit-user-drag: none;
}

.panel-end {
    clear:both; 
    visibility:hidden;
}

.notvalid > .main {
    opacity:0.4;
}
.notvalid .name {
    color:gray;
}

.selected .checkmark {
    position: absolute;
    display: block;
}

.selected .name {
    /*color: red;*/
    text-decoration: underline;
}

.hidden {
    visibility: hidden;
}

.name {
    position: absolute;
    font-size: var(--label-font-size);
    text-align: center;
    font-family: var(--paper-font-caption_-_font-family);
    font-weight: 50;
    bottom: 11%;
    /* width: 100%; */
    width: 94%;
    margin-left: 3%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.counter {
    position: absolute;
    text-align: center;
    font-weight: 600;
    bottom: 1%;
    width: 100%;
    font-size: var(--label-font-size);
}

.animate {
    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
}

.scroll-container {
    position: relative;
}

.scroll-bkg[active] {
    opacity: 1;
}
.scroll-bkg {
    pointer-events: none;
    transition: all 0.2s cubic-bezier(.27,-0.32,.27,1.32);
    opacity: 0;
    will-change: opacity;

    position: absolute;
    top: calc(-26px - var(--ui-list-carousel-scroll-height));
    left: 0px;
    right: 0px;

    background: var(--paper-grey-100);
    height: var(--ui-list-carousel-scroll-height);
    width: 100%;
}
.scroll-tick {
    background: var(--paper-grey-600);
    width: 1px;
    height: var(--ui-list-carousel-scroll-height);
    will-change: trasform;
    transform: translate(200px, 0px);
}



.buttons-container {
    pointer-events: none;

    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    z-index: 2;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.buttons-container .image-before-btn,
.buttons-container .image-next-btn {
    pointer-events: auto;
    margin-top: -56px;
    
    opacity: 0;
    transition: all .2s ease-in-out;
}
.buttons-container .image-before-btn:focus,
.buttons-container .image-next-btn:focus,
:host(:hover) .buttons-container .image-before-btn,
:host(:hover) .buttons-container .image-next-btn {
    opacity: 1;
    transition: all .2s ease-in-out;
}
.buttons-container .image-next-btn[disabled],
.buttons-container .image-before-btn[disabled] {
    --iron-icon: {
        fill: var(--app-disabled-color);
    };
}

.buttons-container .image-before-btn {
    margin-right: auto;
    margin-left: -10px;
}
.buttons-container .image-next-btn {
    margin-left: auto;
    margin-right: -10px;
}





/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
} 

/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
