:host {
  @apply --layout-vertical;
  @apply --layout-center-justified;
  
  /* text-align: center; */
  overflow: hidden;
  font-size: 1.2em;
  --teamatical-ui-list-item-gap: 2vw;

  outline: none;
  /* transition: all 0.3s cubic-bezier(.36,-0.64,.34,1.76); */ 
}

:host .price-container,
:host .title {
  font-size: 1.2em;
}

:host([hide-prices]) .price-container .price,
:host([hide-prices]) .price-container > div {
  margin-left: 5px;
}
:host([hide-prices]) .price-container {
  --blur-value: 6px;
	-webkit-filter: blur(var(--blur-value));
	-moz-filter: blur(var(--blur-value));
	-o-filter: blur(var(--blur-value));
	-ms-filter: blur(var(--blur-value));
	filter: blur(var(--blur-value));

  -moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;

  pointer-events: none;
}

@media (min-width: 768px) {
  :host(:not([responsive-title=none])) .product-disabled p,
  :host(:not([responsive-title=none])) .price-container,
  :host(:not([responsive-title=none])) .title {
    font-size: 1.4em;
  }
}
@media (min-width: 1136px) {
  :host(:not([responsive-title=none])) .product-disabled p,
  :host(:not([responsive-title=none])) .price-container,
  :host(:not([responsive-title=none])) .title {
    font-size: 1.6em;
  }
}

/* @media (min-width: 767px) {
  .title,
  .price-container {
    margin: 0 15px;
  }
} */

teamatical-ui-image {
  margin: 0px 0px 4px;

  --teamatical-ui-image-img: {
    border-radius: 6px;
  };
}

teamatical-ui-image::before {
  content: "";
  display: block;
  padding-top: 133%;
}

.title {
  /* text-transform: uppercase; */
  /* font-weight: bold; */
  color: var(--app-primary-color);
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0 var(--teamatical-ui-list-item-gap);
}
:host(:not([responsive-title=none])) .title > span {
  /* 1 line
   white-space: nowrap; */
  
   /* 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;

  /* 2 lines min
  font-size: 1em;
  line-height: 1.125;
  min-height: 2.25em; */
}

.price-container {
    margin: 0 var(--teamatical-ui-list-item-gap);
}

.price {
  font-weight: 600;
  color: var(--app-secondary-color);
  /* margin: 0 15px; */
}

.price_old {
  font-weight: normal;
  color: var(--app-secondary-color);
  text-decoration: line-through;
}

.price_new {
  color: var(--app-discount-color);
  font-weight: bold;
}

.discount {
  position: relative;
  margin: 0 15px;
  pointer-events: none;
}
.discount div {
  position: absolute;
  bottom: 16px;
  left: 16%;
}
:host([responsive-title=none]) .discount div {
  right: -8%;
}
@media (max-width: 768px) {
  :host(:not([responsive-title=none])) .discount div {
    right: 25%;
    left: unset;
  }
}
.discount p {
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-disabled {
  position: relative;
}
.product-disabled > div {
  display: inline-block;
  position: absolute;
  z-index: 1;
  
  left: 4px;
  top: 5em;
}
@media (min-width: 1136px) {
  .product-disabled > div {
    /* left: 2em; */
    top: 8em;
  }
}

.product-disabled p {
  pointer-events: none;

  background-color: var(--app-disabled-color-bkg);
  background: linear-gradient(43deg, var(--app-disabled-color-bkg) 27%, var(--app-disabled-color-bkg-gradient-light) 77%);
  opacity: 0.85;
  color: var(--app-disabled-color-text);

  padding: 0px 8px;
  margin: 2px;
  border-radius: 3px;

  font-weight: bold;
  letter-spacing: 0.001em;
  text-transform: uppercase;

  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;

  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
