:host { 
    @apply --teamatical-ui-payment-type-style;
}

.nowrap {
    white-space: nowrap;
}
  
a.iron-icon {
	text-decoration: none;
}

iron-icon.wallet {
	/* --iron-icon-width: 72px;
    --iron-icon-height: 34px; */
    --iron-icon-width: 54px;
    --iron-icon-height: 24px;
}

/*
.bank {
}
.card {
	margin: 24px;
	padding: 16px;
	color: #757575;
	border-radius: 5px;
	background-color: #fff;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
} */
