<app-route route="{{route}}" pattern="/:rid" data="{{routeData}}"></app-route>

<teamatical-order-roster-data 
  id="order-roster-data" 
  rid="[[routeData.rid]]"
  orders="{{orders}}" 
  num-items="{{numItems}}"
  searching-progress="{{searchingProgress}}"
  query-params="{{queryParams}}"
  currency="{{currency}}"
  loading="{{loading}}" 
  failure="{{failure}}"
  user-info="{{userInfo}}" 
  visible="[[visible]]" 
  website-url="[[websiteUrl]]">
</teamatical-order-roster-data>

<teamatical-ui-loader hidden$="[[_isNotConn]]"></teamatical-ui-loader>

<div hidden$="[[_isNoOrders]]">
  <div class="subsection" visible>
    <header>
      <h1>
        <!-- #: [[orders.oid]] - -->
        [[localize('order-roster-title')]] - [[orders.Roster.title]]
      </h1>
      <span hidden$="[[hideCountTitle]]">
        (
        <span>[[_numItems]][[_numItemsApproximately]]</span>
        <span hidden="[[!_single]]">[[localize('order-roster-qty-item')]]</span>
        <span hidden="[[!_many]]">[[localize('order-roster-qty-items')]]</span>
        )
      </span>
    </header>

    <div id="search-progress-container">
      <paper-spinner-lite 
        id="search-progress"
        active="[[searchingProgress]]">
      </paper-spinner-lite>
    </div>

    <paper-input 
      id="search"
      name="search"
      hidden$="[[_hideSearchInput]]"
      type="text"
      label="[[localize('order-roster-search-input')]]" 
      aria-label$="[[localize('order-roster-search-input')]]"
      placeholder="[[localize('order-roster-search-placeholder')]]"
      value="{{orders.search::input}}"
      required
      autocomplete="search"
      error-message="[[localize('order-roster-search-invalid')]]">
    </paper-input>


    <p class="empty-list" hidden$="[[_hasInitialItems]]">
      [[localize('order-roster-empty')]]
    </p>

    <p class="empty-list" hidden$="[[_hasSearchedItems]]">
      [[localize('order-roster-search-empty')]]
    </p>

    <div id="list" class="order-list">
      <iron-list 
        id="gridList"
        items="[[orders.items]]" 
        as="itemi"
        scroll-target="document"
        default-physical-count="40">
        <template>
          <div class="order-items">
            <teamatical-ui-order-item 
              entry="[[itemi]]" 
              access-token="[[accessToken]]"
              action-disabled="[[loading]]">
            </teamatical-ui-order-item>
          </div>
        </template>
      </iron-list>
    </div>

    <div class="detail-buttons progress-container">
      <paper-spinner-lite 
        id="loadMoreProgress"
        class="progress-centered"
        active="[[_loadMoreProgress(loading, loadingMore)]]">
      </paper-spinner-lite>

      <teamatical-ui-button
        id="loadMoreBtn"
        aria-label$="[[localize('order-roster-btn-more-label')]]"
        disabled$="[[loading]]"
        hidden$="[[orders.plast]]"
        class="hidden-animated slow"
        hidden-animated$="[[_loadMoreProgress(loading, loadingMore)]]"
        on-tap="moreOrdersTap">
        [[localize('order-roster-btn-more')]]
      </teamatical-ui-button>

      <div class="end-list" hidden$="[[!_hasNoMoreItems]]">[[localize('order-roster-list-end')]]</div>
    </div>

  </div>
</div>

<teamatical-ui-network-warning 
  hidden$="[[!failure]]" 
  offline="[[offline]]" 
  on-try-reconnect="_tryReconnect">
</teamatical-ui-network-warning>