<app-route route="[[route]]" pattern="/:sgid" data="{{routeData}}"></app-route>

<teamatical-store-groups-data 
  id="store-groups-data" 
  sid="[[routeData.sgid]]"
  stores="{{stores}}" 
  num-items="{{numItems}}"
  query-params="{{queryParams}}"
  searching-progress="{{searchingProgress}}"
  user-info="{{userInfo}}" 
  website-url="[[websiteUrl]]"
  loading="{{loading}}" 
  failure="{{failure}}"
  visible="[[visible]]" 
  saving="{{saving}}">
</teamatical-store-groups-data>


<teamatical-ui-loader hidden$="[[_isNotConn]]"></teamatical-ui-loader>

<div hidden$="[[_isNoStores]]">
  <div class="subsection" visible>
    <header>
      <h1>[[localize('store-groups-title', 'sid', routeData.sgid, 'title', stores.StoreTitle)]]</h1>
      <span>
        (
        <span>[[_numItems]][[_numItemsApproximately]]</span>
        <span hidden="[[!_single]]">[[localize('store-groups-qty-item')]]</span>
        <span hidden="[[!_many]]">[[localize('store-groups-qty-items')]]</span>
        )
      </span>
    </header>

    <!-- <div id="add-button-container">
      <paper-fab 
        id="add-button" 
        aria-label="add"
        icon="add" 
        disabled="[[actionNotAllowed]]"
        mini
        on-tap="_onAddTap">
      </paper-fab>

      <paper-spinner-lite 
        id="search-progress"
        active="[[searchingProgress]]">
      </paper-spinner-lite>
    </div> -->

    <paper-input 
      id="search"
      name="search"
      type="text"
      label="[[localize('store-groups-search-input')]]" 
      aria-label$="[[localize('store-groups-search-input')]]"
      placeholder="[[localize('store-groups-search-placeholder')]]"
      value="{{stores.search::input}}"
      required
      autocomplete="search"
      error-message="[[localize('store-groups-search-invalid')]]">
    </paper-input>

    <p class="empty-list" hidden$="[[_hasSearchedItems]]">
      [[localize('store-groups-search-empty')]]
    </p>
    
    <div
      id="list" 
      class="store-list" 
      hidden$="[[!_hasSearchedItems]]"
      draggable="false">

      <iron-list 
        id="gridList"
        items="{{stores.items}}" 
        as="storei"
        scroll-target="document"
        default-physical-count="40">
          <template>
            <div class="store drag-item" 
                 archive$="[[_bool(storei.isarchive)]]">

              <div class="store-header">
                <h3>
                  [[localize('store-groups-item-title')]] - [[_formatDate(storei.groupdeadline)]]
                </h3>


                <div class="store-details-container">
                  <div>
                    <h4>[[localize('store-groups-title-shipaddress')]]</h4>
                    <div class="table order-details-shipment">
                      <!--  shipaddress -->
                      <div class="row">
                        <div>
                          [[localize('order-title-firstname')]]
                        </div>
                        <div>
                          [[storei.ShipFirstName]]
                        </div>
                      </div>
                
                      <div class="row">
                        <div>
                          [[localize('order-title-lastname')]]
                        </div>
                        <div>
                          [[storei.ShipLastName]]
                        </div>
                      </div>


                      <div class="row" hidden$="[[!storei.ShipCompany]]">
                        <div>
                          [[localize('order-title-company')]]
                        </div>
                        <div>
                          [[storei.ShipCompany]]
                        </div>
                      </div>
                      
                      <div class="row" hidden$="[[!storei.ShipTaxID]]">
                        <div>
                          [[localize('order-title-tax')]]
                        </div>
                        <div>
                          [[storei.ShipTaxID]]
                        </div>
                      </div>
                      
                      <div class="row" hidden$="[[!storei.ShipEORI]]">
                        <div>
                          [[localize('order-title-eori')]]
                        </div>
                        <div>
                          [[storei.ShipEORI]]
                        </div>
                      </div>

                
                      <div class="row">
                        <div>
                          [[localize('order-title-address')]]
                        </div>
                        <div>
                          [[storei.ShipAddress]]
                        </div>
                      </div>
                      
                      <div class="row"  hidden$="[[!storei.ShipAddress2]]">
                        <div>
                          [[localize('order-title-address2')]]
                        </div>
                        <div>
                          [[storei.ShipAddress2]]
                        </div>
                      </div>

                      <div class="row"  hidden$="[[!storei.ShipAddress3]]">
                        <div>
                          [[localize('order-title-address3')]]
                        </div>
                        <div>
                          [[storei.ShipAddress3]]
                        </div>
                      </div>
                
                      <div class="row">
                        <div>
                          [[localize('order-title-city')]]
                        </div>
                        <div>
                          [[storei.ShipCity]]
                        </div>
                      </div>

                      <div class="row">
                        <div>
                          [[localizeByCountry('order-title-state', storei.ShipCountry.ID)]]
                        </div>
                        <div>
                          [[storei.ShipState]]
                        </div>
                      </div>
                
                      <div class="row">
                        <div>
                          [[localizeByCountry('order-title-zip', storei.ShipCountry.ID)]]
                        </div>
                        <div>
                          [[storei.ShipZip]]
                        </div>
                      </div>

                      <div class="row">
                        <div>
                          [[localize('order-title-country')]]
                        </div>
                        <div>
                          [[storei.ShipCountry]]
                        </div>
                      </div>
                    </div>
                  </div>
                
                  <div>
                    <h4>[[localize('order-title-details')]]</h4>
                    <div class="table order-details">
                      <div class="row">
                        <div>
                          [[localize('store-groups-title-ordercountmin')]]
                        </div>
                        <div>
                          [[storei.GroupShippingMinParticipants]]
                        </div>
                      </div>

                      <div class="row">
                        <div>
                          [[localize('store-groups-title-ordercount')]]
                        </div>
                        <div>
                          [[storei.OrderCount]]
                        </div>
                      </div>
                
                      <div class="row">
                        <div>
                          [[localize('order-title-email')]]
                        </div>
                        <div>
                          [[storei.AccountEmail]]
                        </div>
                      </div>
                
                      <div class="row">
                        <div>
                          [[localize('order-title-phone')]]
                        </div>
                        <div>
                          [[storei.AccountPhone]]
                        </div>
                      </div>
                
                      <div class="row" hidden$="[[!storei.DeliveryDetailsOnly]]">
                        <div>
                          [[localize('order-title-deliverydetails')]]
                        </div>
                        <div>
                          [[storei.DeliveryDetails]]
                        </div>
                      </div>
                
                      <!-- <div class="row">
                        <div>
                          [[localize('order-title-shipment')]]
                        </div>
                        <div>
                          [[_formatShipment(storei.ShipmentMethod)]]
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
              
              <div class="store-footer">
                <teamatical-ui-button 
                  class="view-participants-btn" 
                  href="[[viewParticipantsUrl(storei)]]">
                  [[localize('store-groups-btn-view')]]
                </teamatical-ui-button>
              </div>
            </div>
          </template>
      </iron-list>

    </div>

    <footer class="progress-container">
      <paper-spinner-lite 
        id="loadMoreProgress"
        class="progress-centered"
        active="[[_loadMoreProgress(loading, loadingMore)]]">
      </paper-spinner-lite>
      
      <teamatical-ui-button 
        id="loadMoreBtn" 
        hidden$="[[stores.plast]]" 
        class="hidden-animated slow" 
        hidden-animated$="[[_loadMoreProgress(loading, loadingMore)]]" 
        disabled$="[[loading]]" 
        on-tap="_loadMore">
        [[localize('store-groups-load-more-btn')]]
      </teamatical-ui-button>

      <teamatical-ui-button 
        class="view-participants-btn" 
        hidden$="[[_asBool(queryParams.backtostore)]]"
        href="[[_hrefAccountStores()]]">
        [[localize('store-groups-btn-back')]]
      </teamatical-ui-button>

      <teamatical-ui-button 
        class="configure-btn" 
        on-tap="backToStoreTap">
        [[localize('stores-btn-edit')]]
      </teamatical-ui-button>


      <div class="end-list" hidden$="[[!_hasNoMoreItems]]">[[localize('store-groups-list-end')]]</div>
    </footer>

  </div>
</div>


<teamatical-ui-network-warning 
  hidden$="[[!failure]]" 
  offline="[[offline]]" 
  on-try-reconnect="_tryReconnect">
</teamatical-ui-network-warning>