<div class="main-frame wide" id="container" recent-lang$="[[uiLanguage]]">
	<header>
		<h1>
			[[localize('designplugin-title')]]
		</h1>
	</header>

	<section id="designplugin">
		<div class="download">
			<div class="download-container">
				<div>
					<picture>
						<source srcset="[[imagesPath]]/designplugin-teamatical.jpg.webp" type="image/webp">
						<source srcset="[[imagesPath]]/designplugin-teamatical.jpg" type="image/jpeg">
						<img src="[[imagesPath]]/designplugin-teamatical.jpg" alt="home-teamatical" />
					</picture>
				</div>

				<div hidden$="[[_hide('win', os)]]">
					<h1>[[localize('designplugin-plugin-text-win')]]</h1>

					<div>
						<picture>
							<source srcset="[[imagesPath]]/designplugin-win.jpg.webp" type="image/webp">
							<source srcset="[[imagesPath]]/designplugin-win.jpg" type="image/jpeg">
							<img src="[[imagesPath]]/designplugin-teamatical.jpg" alt="home-teamatical" />
						</picture>
					</div>

					<!-- <div>
						<a href="/api/v1.0/design/artmanagerzxp" tabindex="-1" target="_blank" download>
							<button class="green">[[localize('designplugin-download-win')]]</button>
						</a>
					</div> -->
				</div>

				<div hidden$="[[_hide('mac', os)]]">
					<h1>[[localize('designplugin-plugin-text-mac')]]</h1>

					<div>
						<picture>
							<source srcset="[[imagesPath]]/designplugin-mac.jpg.webp" type="image/webp">
							<source srcset="[[imagesPath]]/designplugin-mac.jpg" type="image/jpeg">
							<img src="[[imagesPath]]/designplugin-teamatical.jpg" alt="home-teamatical" />
						</picture>
					</div>

					<!-- <div>
						<a href="/api/v1.0/design/artmanagerzxp" tabindex="-1" target="_blank" download>
							<button class="green">[[localize('designplugin-download-mac')]]</button>
						</a>
					</div> -->
				</div>

			</div>
		</div>

		<div class="detail">
			<div class="detail-container">
				<div lang="en">
					<h1 class="uppercase">Installation Instructions</h1>
					<p>
						Before trying to install the plugin, please make sure you have the version of Adobe Illustrator 26.2 or later.
					</p>

					<h2>Installing the Teamatical Art Manager Plugin Via Adobe Exchange</h2>
					<ol>
						<li>
							Create an account with Teamatical
							<a href="/account">here<iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a>
							if you do not already have one. You will use these credentials to log into the Art Manager plugin during the installation process.
						</li>
						<li>Once you create the account please request plugin access via the <a href="/feedback?id=request_plugin_access">feedback from</a>.</li>
						<li>Make sure your Adobe Illustrator application is updated to the latest version and the Adobe Creative Cloud application is running on your computer.</li>
						<li>
							Navigate to Adobe Exchange’s page for the Teamatical Art Manager <a href="https://exchange.adobe.com/creativecloud.details.101028.teamatical-apparel-and-uniforms-designer.html" target="_blank" rel="noreferrer nofollow">here<iron-icon icon="open-in-new" class="open-in-new"></iron-icon></a>
							. Make sure you are signed into the same Adobe account that you use for the Adobe Illustrator and Creative Cloud Desktop applications.
						</li>
						<li>On the Adobe Exchange plugin page, click “Free” button to start the download for the Teamatical plugin.</li>
						<li>The Teamatical plugin should be automatically downloaded and installed by the Creative Cloud Desktop.</li>
						<li>Restart Adobe Illustrator and proceed to the “Running the Teamatical Art Manager Plugin” section below.</li>
					</ol>
					<p>
						Please watch the following videos for starting with the Teamatical design process:
						<ol>
							<li>Plugin installation <a href="https://vimeo.com/578701280" target="_blank" ><iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a></li>
							<li>Getting started part 1 <a href="https://vimeo.com/679673636" target="_blank"><iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a></li>
							<li>Getting started part 2 <a href="https://vimeo.com/679965589" target="_blank"><iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a></li>
						</ol>
					</p>
				</div>

				<div lang="th">
					<h1 class="uppercase">คำแนะนำในการติดตั้ง</h1>
					<p>
						ก่อนพยายามติดตั้งปลั๊กอิน โปรดตรวจสอบให้แน่ใจว่าคุณมี Adobe Illustrator 26.2 เวอร์ชันหรือใหม่กว่า
					</p>
					<h2>การติดตั้งปลั๊กอิน Teamatical Art Manager ผ่าน Adobe Exchange</h2>
					<ol>
						<li>
							สร้างบัญชีด้วย Teamatical
							<a href="/account">ที่นี่<iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a>
							หากคุณยังไม่มี คุณจะใช้ข้อมูลรับรองเหล่านี้เพื่อเข้าสู่ปลั๊กอิน Art Manager ในระหว่าง
							กระบวนการติดตั้ง
						</li>
						<li>
							ตรวจสอบให้แน่ใจว่าแอพพลิเคชั่น Adobe Illustrator ของคุณได้รับการอัพเดตเป็นเวอร์ชันล่าสุดและ Adobe Creative Cloud
							แอปพลิเคชันทำงานบนคอมพิวเตอร์ของคุณ
						</li>
						<li>
							ไปที่หน้าของ Adobe Exchange สำหรับ Teamatical Art Manager<a href="https://exchange.adobe.com/creativecloud.details.101028.teamatical-apparel-and-uniforms-designer.html"
																		  target="_blank" rel="noreferrer nofollow">ที่นี่<iron-icon icon="open-in-new" class="open-in-new"></iron-icon></a>
							. ตรวจสอบให้แน่ใจว่าคุณได้ลงชื่อเข้าใช้บัญชี Adobe เดียวกันกับที่คุณใช้สำหรับแอพพลิเคชั่น Adobe Illustrator และ Creative
							Cloud Desktop
						</li>
						<li> ในหน้าปลั๊กอิน Adobe Exchange ให้คลิกปุ่ม“ ฟรี” เพื่อเริ่มดาวน์โหลดปลั๊กอิน Teamatical </li>
						<li> ปลั๊กอิน Teamatical ควรดาวน์โหลดและติดตั้งโดยอัตโนมัติโดย Desktop Creative Cloud </li>
						<li> รีสตาร์ท Adobe Illustrator และดำเนินการต่อในส่วน "การเรียกใช้ปลั๊กอิน Artatical Art Manager" ด้านล่าง </li>
					</ol>
					<p>
						โปรดดูวิดีโอต่อไปนี้เพื่อเริ่มต้นกระบวนการออกแบบ Teamatical:
						<ol>
							<li>การติดตั้งปลั๊กอิน <a href="https://vimeo.com/578701280" target="_blank"><iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a></li>
							<li>เริ่มต้น ตอนที่ 1 <a href="https://vimeo.com/679673636" target="_blank"><iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a></li>
							<li>เริ่มต้น ตอนที่ 2 <a href="https://vimeo.com/679965589" target="_blank"><iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a></li>
						</ol>
					</p>
				</div>
			</div>
		</div>
	</section>

	<!-- <div class="detail-wide">

		<div lang="en">
			<h2>Option 2: Installing the Teamatical Art Manager Plugin Via Anastasy’s Extensions Manager</h2>
			<ol>
				<li>
					Create an account with Teamatical <a href="/account">here<iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a> if you do not already have one. You will use these credentials to log
					into the Art Manager plugin during the installation process.
				</li>
				<li>Once you create the account please request plugin access via the <a href="/feedback?id=request_plugin_access">feedback from</a>.</li>
				<li>
					Download and install Anastasy’s Extension Manager <a href="http://install.anastasiy.com/"
															   target="_blank" rel="noreferrer nofollow">here<iron-icon icon="open-in-new" class="open-in-new"></iron-icon></a>.
					For Mac users, before installing the Extension Manager, go to System Preferences -> Security &amp; Privacy -> General Tab. Then make sure to allow apps downloaded from App Store and identified developers.
				</li>
				<li>
					Download Teamatical’s Art Manager plugin package file <a href="/api/v1.0/design/artmanagerzxp" tabindex="0" target="_blank" download>here<iron-icon icon="file-download" class="open-in-here"></iron-icon></a>
					to your hard drive. The name of the package file is com.teamatical.artmanager.zxp.
				</li>
				<li>
					After Anastasy’s Extension Manager has finished downloading, click on the ZIP file to unzip. Within the ZIP
					file,
					click on the “ExtensionManager” file to launch the application.
				</li>
				<li>Select “Illustrator” in the Extension Manager.</li>
				<li>
					Click on the “Install” button in the Extension Manager and find the downloaded com.teamatical.artmanager.zxp
					file on
					your computer to enable the Teamatical Extension.
				</li>
				<li>Proceed to the “Running the Teamatical Art Manager Plugin” section below.</li>
			</ol>
			
			
			<h2>Running the Teamatical Art Manager Plugin</h2>
			<ol>
				<li>Make sure you have created an account with Teamatical <a href="/account">here<iron-icon icon="open-in-new" class="open-in-here"></iron-icon></a>
					 as you will use these credentials to log into the plugin within Adobe Illustrator.</li>
				<li>If your Teamatical account was not previously enabled to access Teamatical’s library of patterns, email pluginsupport@teamatical.com and request access.</li>
				<li>Launch Adobe Illustrator and open the Teamatical Extension in Window -> Extensions -> Teamatical Art Manager.
				Teamatical regularly updates the Art Manager plugin. When Teamatical publishes an update, the plugin interface will show
				a message that Adobe Illustrator must be restarted to enable the new version. Please restart Adobe Illustrator to
				proceed.</li>
				<li>In the Teamatical Art Manager window, click on the user icon in the top right and log in with your Teamatical account credentials.</li>
				<li>Once you log into the plugin, click on the List icon that is to the right of the Camera icon within the Teamatical Art Manager window. The List icon lets you see the list of products that you can design on.</li>
				<li>Scroll through the available products and click the “Template” button to start designing.</li>
				<li>If you would like to see what your 2D artwork would look like in 3D on the selected product, click on the Camera icon
				in the Teamatical Art Manager window. Scroll down and click on the “Validate and Render” checkbox. Your artwork should
				render on the product within the window below.</li>
				<li>If you would like to publish the design to your online on Teamatical’s website, click on the Camera icon and scroll
				down to the bottom of the page. Click on the “Upload” button. This will generate a unique URL for the product that you
				can click or share.</li>
				<li>To learn techniques and best practices for designing sports jerseys, uniforms and other products, subscribe to
				Teamatical’s YouTube channel 
				<a href="https://www.youtube.com/watch?v=VLmylkXbAus&feature=youtu.be" target="_blank"  rel="noreferrer nofollow">here<iron-icon icon="open-in-new" class="open-in-new"></iron-icon></a>
				!</li>
			</ol>

			<div>
				<p>
					<a href="/help">
						Read more details ...
					</a>
				</p>
			</div>

			<div class="designplugin-footer" hidden$="[[userInfo.isAuth]]">
				<p>[[localize('designplugin-signup-msg')]]</p>
				<teamatical-ui-button disabled$="[[_disabled]]" on-tap="_signUpTap">
					[[localize('designplugin-signup-btn')]]
				</teamatical-ui-button>
			</div>

		</div>

		<div lang="th">
			<h2>ตัวเลือกที่ 2: การติดตั้งปลั๊กอิน Teamatical Art Manager ผ่านตัวจัดการส่วนขยายของ Anastasy</h2>
			<ol>
				<li> สร้างบัญชีด้วย Teamatical <a href="/account"> ที่นี่ <iron-icon icon="open-in-new" class="open-in-here">
						</iron-icon> </a> หากคุณยังไม่มี คุณจะใช้ข้อมูลรับรองเหล่านี้เพื่อเข้าสู่ระบบ
					ลงในปลั๊กอิน Art Manager ในระหว่างกระบวนการติดตั้ง </li>
				<li> ดาวน์โหลดและติดตั้งตัวจัดการส่วนขยายของ Anastasy <a href="http://install.anastasiy.com/" target="_ blank"
						rel="noreferrer"> ที่นี่ <iron-icon icon="open-in-new" class="open-in-new"> </iron-icon> </a> </li>
				<li> ดาวน์โหลดไฟล์แพคเกจปลั๊กอิน Art Manager ของทีม <a href="/api/v1.0/design/artmanagerzxp" tabindex="0" target="_blank" download
					> ที่นี่ <iron-icon icon="file-download" class="open-in-here"> </iron-icon> </a>
					ไปยังฮาร์ดไดรฟ์ของคุณ ชื่อของไฟล์แพ็กเกจคือ com.teamatical.artmanager.zxp. </li>
				<li> หลังจากตัวจัดการส่วนขยายของ Anastasy เสร็จสิ้นการดาวน์โหลดให้คลิกที่ไฟล์ ZIP เพื่อคลายซิป ภายในรหัสไปรษณีย์
					ไฟล์,
					คลิกที่ไฟล์“ ExtensionManager” เพื่อเปิดแอปพลิเคชัน </li>
				<li> เลือก“ Illustrator” ใน Extension Manager </li>
				<li> คลิกที่ปุ่ม "ติดตั้ง" ในเครื่องมือจัดการส่วนขยายและค้นหา com.teamatical.artmanager.zxp ที่ดาวน์โหลด
					ไฟล์บน
					คอมพิวเตอร์ของคุณเพื่อเปิดใช้งานการทำงานเป็นทีมส่วนขยาย </li>
				<li> ดำเนินการต่อไปยังส่วน“ การเรียกใช้ปลั๊กอินผู้จัดการทีมเชิงกลยุทธ์” ด้านล่าง </li>
			</ol>
		
		
			<h2>เรียกใช้ปลั๊กอิน Teamatical Art Manager</h2>
			<ol>
				<li> ตรวจสอบให้แน่ใจว่าคุณได้สร้างบัญชีด้วยทีมงาน <a href="/account"> ที่นี่ <iron-icon icon="open-in-new"
							class="open-in-here"></iron-icon> </a>
					ตามที่คุณจะใช้ข้อมูลรับรองเหล่านี้เพื่อเข้าสู่ปลั๊กอินภายใน Adobe Illustrator </li>
				<li> หากบัญชีทีมของคุณไม่ได้เปิดใช้งานก่อนหน้านี้เพื่อเข้าถึงไลบรารีของรูปแบบอีเมลของทีม
					pluginsupport@teamatical.com และขอการเข้าถึง </li>
				<li> เปิดใช้งาน Adobe Illustrator และเปิดส่วนขยาย Teamatical ในหน้าต่าง -> ส่วนขยาย -> Artatical Team
					ผู้จัดการ.
					Teamatical อัปเดตปลั๊กอิน Art Manager เป็นประจำ เมื่อ Teamatical เผยแพร่การอัปเดตปลั๊กอิน
					อินเตอร์เฟซจะแสดง
					ข้อความที่ Adobe Illustrator ต้องเริ่มต้นใหม่เพื่อเปิดใช้งานเวอร์ชันใหม่ กรุณารีสตาร์ท Adobe
					ผู้วาดภาพประกอบถึง
					ดำเนินการต่อไป. </li>
				<li> ในหน้าต่าง Teamatical Art Manager คลิกที่ไอคอนผู้ใช้ที่มุมบนขวาและลงชื่อเข้าใช้ด้วย
					ข้อมูลรับรองบัญชีแบบเป็นทีม </li>
				<li> เมื่อคุณเข้าสู่ปลั๊กอินให้คลิกที่ไอคอนรายการทางด้านขวาของไอคอนกล้องภายใน
					หน้าต่างผู้จัดการทีม ไอคอนรายการช่วยให้คุณเห็นรายการผลิตภัณฑ์ที่คุณสามารถออกแบบได้ </li>
				<li> เลื่อนดูผลิตภัณฑ์ที่มีอยู่และคลิกปุ่ม“ เทมเพลต” เพื่อเริ่มการออกแบบ </li>
				<li> หากคุณต้องการดูว่างานศิลปะ 2D ของคุณจะเป็นอย่างไรในรูปแบบ 3 มิติบนผลิตภัณฑ์ที่เลือกให้คลิกที่
					ไอคอนกล้อง
					ในหน้าต่าง Teamatical Art Manager เลื่อนลงและคลิกที่ช่องทำเครื่องหมาย "ตรวจสอบและแสดงผล" ของคุณ
					งานศิลปะควร
					แสดงผลบนผลิตภัณฑ์ภายในหน้าต่างด้านล่าง </li>
				<li> หากคุณต้องการเผยแพร่การออกแบบออนไลน์ของคุณบนเว็บไซต์ของ Teamatical ให้คลิกที่ไอคอนกล้องและ
					เลื่อน
					ลงไปที่ด้านล่างของหน้า คลิกที่ปุ่ม "อัปโหลด" สิ่งนี้จะสร้าง URL เฉพาะสำหรับ
					ผลิตภัณฑ์ที่คุณ
					สามารถคลิกหรือแชร์ </li>
				<li> หากต้องการเรียนรู้เทคนิคและแนวปฏิบัติที่ดีที่สุดสำหรับการออกแบบเสื้อกีฬาชุดเครื่องแบบและผลิตภัณฑ์อื่น ๆ
					สมัครรับข้อมูล
					ถึง
					ช่อง YouTube ของทีม
					<a href="https://www.youtube.com/watch?v=VLmylkXbAus&feature=youtu.be" target="_blank" rel="noreferrer nofollow"> ที่นี่
					<iron-icon icon="open-in-new" class="open-in-new"></iron-icon></a>! 
				</li>
			</ol>

			<div>
				<p>
					<a href="/help">
						อ่านรายละเอียดเพิ่มเติม ...
					</a>
				</p>
			</div>
		
			<div class="designplugin-footer" hidden$="[[userInfo.isAuth]]">
				<p>[[localize('designplugin-signup-msg')]]</p>
				<teamatical-ui-button disabled$="[[_disabled]]" on-tap="_signUpTap">
					[[localize('designplugin-signup-btn')]]
				</teamatical-ui-button>
			</div>
		
		</div>
		
	</div> -->
</div>
