<div id="customization-container" hidden$="[[showMask]]">
  <section id="customization">
    <teamatical-ui-image class="image" src="[[imagesPath]]/home-customization.jpg" use-webp lazy-load alt="home-customization">
    </teamatical-ui-image>

    <div class="detail" has-content>
      <div class="detail-container">
        <h1>[[localize('home-customization-h1-l1')]]
          <br />[[localize('home-customization-h1-l2')]]</h1>
        <div class="h5 uppercase">[[localize('home-customization-h5')]]</div>
        <a href="/team/create" tabindex="-1">
          <button class="green">[[localize('home-customization-button')]]</button>
        </a>
      </div>
    </div>
  </section>
</div>


<div id="masks-container" hidden$="[[!showMask]]">
  <section id="masks">
    <teamatical-ui-image class="image s1x1" src="[[imagesPath]]/home-masks.jpg" use-webp lazy-load alt="home-masks">
    </teamatical-ui-image>

    <div class="detail" has-content>
      <div class="detail-container">
        <h1>[[localize('home-masks-h1')]]</h1>
        <div class="h5 uppercase">[[localize('home-masks-h5')]]</div>
        <a href="/list/masks" tabindex="-1">
          <button class="green">[[localize('home-masks-button')]]</button>
        </a>
      </div>
    </div>
  </section>
</div>



<section id="customization_text">
  <div class="text">
    <div class="text-container">
      <h2>[[localize('home-customization-text-l1')]]</h2>
      <h2 class="uppercase">[[localize('home-customization-text-l2')]]</h2>
      <div class="h5">[[localize('home-customization-text-l3')]]</div>
      <div class="icons">
        <iron-icon icon="event"></iron-icon>
        <iron-icon icon="update"></iron-icon>
      </div>
    </div>
  </div>
</section>


<section id="sublimation">
  
  <div class="image-container s1x1">
    <a rel="noreferrer nofollow">
      <teamatical-ui-image src="[[imagesPath]]/home-sublimation.jpg" use-webp lazy-load
        placeholder-img="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABUBAQEAAAAAAAAAAAAAAAAAAAQF/9oADAMBAAIQAxAAAAApT0f/xAAZEAADAQEBAAAAAAAAAAAAAAABAwQCADH/2gAIAQEAAT8AqtskqZLLW1SlMOFrWw5zjIJAAA8AHf/EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQIBAT8Af//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMBAT8Af//Z"
        alt="home-sublimation">
      </teamatical-ui-image>
    </a>
  </div>

  <div class="detail" has-content>
    <div class="detail-container">
      <h2>[[localize('home-sublimation-text-l1')]]</h2>
      <div class="h5">[[localize('home-sublimation-text-l2')]]</div>
      <div class="icons">
        <picture>
          <source srcset="[[imagesPath]]/home-sublimation-colors-icon.jpg.webp" type="image/webp">
          <source srcset="[[imagesPath]]/home-sublimation-colors-icon.jpg" type="image/jpeg">
          <img src="[[imagesPath]]/home-sublimation-colors-icon.jpg" alt="home-sublimation-colors-icon" />
        </picture>
      </div>
    </div>
  </div>
</section>


<section id="designvariations">
  <div class="image-container s1x1">
      <a href="/list/cust-samples">
        <teamatical-ui-image src="[[imagesPath]]/home-designvariations.jpg" use-webp lazy-load
          placeholder-img="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAACAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAAB//EABQBAQAAAAAAAAAAAAAAAAAAAAb/2gAMAwEAAhADEAAAAE8ek//EAB0QAAICAwADAAAAAAAAAAAAAAEDAgUEBgcAESH/2gAIAQEAAT8A4vz/AEOx49qlhYaTUPe/WsBj3urVSmycseBMpEx9kk/ST5//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAECAQE/AH//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAEDAQE/AH//2Q=="
          alt="home-designvariations">
        </teamatical-ui-image>
      </a>
  </div>

  <div class="detail" has-content>
    <div class="detail-container">
      <h2>[[localize('home-designvariations-text-l1')]]</h2>
      <div class="h5">[[localize('home-designvariations-text-l2')]]</div>
      <div class="icons">
        <picture>
          <source srcset="[[imagesPath]]/home-designvariations-icon.jpg.webp" type="image/webp">
          <source srcset="[[imagesPath]]/home-designvariations-icon.jpg" type="image/jpeg">
          <img src="[[imagesPath]]/home-designvariations-icon.jpg" alt="home-designvariations-icon" />
        </picture>
      </div>
    </div>
  </div>
</section>


<section id="customstore_text">
  <div class="text">
    <div class="text-container">
      <h2>[[localize('home-customstore-text-l1')]]</h2>
      <div class="h5">[[localize('home-customstore-text-l2')]]</div>
      <div class="icons">
        <picture>
          <source srcset="[[imagesPath]]/home-customstore-text-icon.jpg.webp" type="image/webp">
          <source srcset="[[imagesPath]]/home-customstore-text-icon.jpg" type="image/jpeg">
          <img src="[[imagesPath]]/home-customstore-text-icon.jpg" alt="home-customstore-text-icon" />
        </picture>
      </div>
    </div>
  </div>
</section>


<section id="customstore">
  <teamatical-ui-image class="image s1x1" src="[[imagesPath]]/home-customstore.jpg" use-webp lazy-load alt="home-customstore">
  </teamatical-ui-image>
  <div class="detail" has-content>
    <div class="detail-container">
      <div class="icons">
        <iron-icon icon="store"></iron-icon>
      </div>
      <h1 class="uppercase">[[localize('home-customstore-h1')]]</h1>
      <div class="h5 uppercase">[[localize('home-customstore-h5')]]</div>
      <a href="/store" tabindex="-1">
        <button class="green">[[localize('home-customstore-button')]]</button>
      </a>
    </div>
  </div>
</section>


<section id="designplugin_text">
  <div class="text">
    <div class="text-container">
      <h2>[[localize('home-designplugin-text-l1')]]</h2>
      <div class="h5">[[localize('home-designplugin-text-l2')]]</div>
      <div class="icons">
        <picture>
          <source srcset="[[imagesPath]]/home-designplugin-text-icon.jpg.webp" type="image/webp">
          <source srcset="[[imagesPath]]/home-designplugin-text-icon.jpg" type="image/jpeg">
          <img src="[[imagesPath]]/home-designplugin-text-icon.jpg" alt="home-designplugin-text-icon" />
        </picture>
      </div>
    </div>
  </div>
</section>


<section id="designplugin">
  <teamatical-ui-image class="image-bkg" src="[[imagesPath]]/home-designplugin.jpg" use-webp lazy-load placeholder-img="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAADAAQDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABQBAQAAAAAAAAAAAAAAAAAAAAP/2gAMAwEAAhADEAAAAEyFf//EAB8QAAICAgEFAAAAAAAAAAAAAAIDAQQFBgAHESMxkf/aAAgBAQABPwDp0gdzzm7O2lrbpY/eL1KlLnn4a4QuRWPafUSZfef/xAAWEQADAAAAAAAAAAAAAAAAAAAAAhL/2gAIAQIBAT8AhT//xAAWEQADAAAAAAAAAAAAAAAAAAAAARH/2gAIAQMBAT8ArP/Z"
    alt="home-designplugin">
  </teamatical-ui-image>

  <div class="text">
    <div class="text-container">
      <h2 class="uppercase">[[localize('home-designplugin-text-l1')]]</h2>
      <h2 class="uppercase">[[localize('home-designplugin-text-l2')]]</h2>
      <div class="h5 uppercase">[[localize('home-designplugin-text-l3')]]</div>
      <div class="icons">
        <iron-icon icon="cloud-download"></iron-icon>
      </div>
      <div class="links">
        <a href="/designplugin/mac">[[localize('home-designplugin-btn-mac')]]</a>
        <a href="/designplugin/win">[[localize('home-designplugin-btn-win')]]</a>
      </div>
    </div>
  </div>
</section>
