<div id="mainbanner-container">
  <div class="mainbanner-background"></div>
  <section id="mainbanner">
    <div class="start-store">
      <!-- <div>
        <h1>
          Unite your organization  with unique designs that define your brand <br />
          Create products today that embody your brand through creative design 
        </h1>
      </div> -->
      <div>
        <a href="/store/" tabindex="-1">
          <button class="green">Start Your Free Store</button>
        </a>
      </div>
    </div>

    <teamatical-ui-image 
      class="image" 
      src="[[imagesPath]]/home-snapraise/main.png" 
      placeholder-img1="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAABlBMVEUpOFgvOlaOnBJeAAAACklEQVQI12NwAAAAQgBBg7nsrQAAAABJRU5ErkJggg=="
      use-webp1 lazy-load background-dark 
      alt="home-mainbanner">
    </teamatical-ui-image>
  </section>
</div>

<div id="easystepprocess-container">
  <section id="easystepprocess">
    <div class="easystepprocess-line1">&nbsp;</div>
    <div class="easystepprocess-header">
      <h1>
        Easy 3 Step Process
      </h1>
    </div>
    <div class="easystepprocess-items table">
      <div class="row buttons">
        <div>
          <img src="[[imagesPath]]/home-snapraise/b1.png" />
        </div>
        <div>
          <img src="[[imagesPath]]/home-snapraise/b2.png" />
        </div>
        <div>
          <img src="[[imagesPath]]/home-snapraise/b3.png" />
        </div>
      </div>
      <div class="row numbers">
        <div>
          <p>1</p>
        </div>
        <div>
          <p>2</p>
        </div>
        <div>
          <p>3</p>
        </div>
      </div>
      <div class="row texts">
        <div>
          <p>Open your free store</p>
        </div>
        <div>
          <p>SnapRaise will curate <br />
            a store that captures <br />
            your brand</p>
        </div>
        <div>
          <p>Distribute store link <br /> 
            and begin purchasing </p>
        </div>
      </div>
    </div>
  </section>
</div>


<div id="designvariations-container">
  <section id="designvariations">
    <div class="image-container s1x2">
        <a>
          <teamatical-ui-image src="[[imagesPath]]/home-snapraise/i22.png" use-webp1 lazy-load
            placeholder-img="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAABlBMVEXO2ueQp8JvV+kwAAAACklEQVQI12NoAAAAggCB3UNq9AAAAABJRU5ErkJggg=="
            alt="home-designvariations">
          </teamatical-ui-image>
        </a>
    </div>

    <div class="image-container s1x2" 
      style="background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAABAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABQBAQAAAAAAAAAAAAAAAAAAAAX/2gAMAwEAAhADEAAAAGugP//EABsQAAAHAQAAAAAAAAAAAAAAAAACBAUGNnWz/9oACAEBAAE/AJ7envXU9Tj/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAECAQE/AH//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAEDAQE/AH//2Q==);">
        <teamatical-ui-image src="[[imagesPath]]/home-snapraise/i21.png" 
          use-webp1 
          lazy-load
          placeholder-img="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAABlBMVEU5Rl0gMEtuw303AAAACklEQVQI12NwAAAAQgBBg7nsrQAAAABJRU5ErkJggg=="
          alt="home-sublimation">
        </teamatical-ui-image>
    </div>
  </section>
</div>

<div id="sublimation-container">
  <section id="sublimation">
    <div class="image-container s1x2" 
      style="background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAABAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABQBAQAAAAAAAAAAAAAAAAAAAAX/2gAMAwEAAhADEAAAAGugP//EABsQAAAHAQAAAAAAAAAAAAAAAAACBAUGNnWz/9oACAEBAAE/AJ7envXU9Tj/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAECAQE/AH//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAEDAQE/AH//2Q==);">

        <teamatical-ui-image src="[[imagesPath]]/home-snapraise/i23.png" 
          use-webp1 
          lazy-load
          placeholder-img="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAABlBMVEW+y9usvdGa6rorAAAACklEQVQI12NoAAAAggCB3UNq9AAAAABJRU5ErkJggg=="
          alt="home-sublimation">
        </teamatical-ui-image>
    </div>

    <div class="detail" has-content>
      <div class="detail-container">
        <h2 class="text-light">
        </h2>
        <div class="h5 left">
          <ul class="dashed">
            <li>Developed from moisture wicking athletic materials to stay comfortable all game long</li>
            <li>Fully <span class="text-bold">customizable</span> and free personalization</li>
            <li>Youth and adult sizes available</li>
            <li>Available add-ons such as stoppers, ear fasteners, and nose wires</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>




<section class="hero_text">
  <div class="text">
    <div class="text-container">
      
      <h1 class="bold-500 uppercase">
        SnapRaise Custom Store Benefits
      </h1>
      
      <div class="h5 text-light">
        Our custom stores powered by the Teamatical platform  enable us to deliver an online customer experience  with product tailored to your organization
      </div>
      
      <div class="h5 uppercase">
        Online stores open <span class="text-bold">24/7</span> <br />
        High quality performance athletic apparel  <br />
        <span class="text-bold">No minimum</span> quantity <br />
        No inventory required <br />
        Group and individual shipping<br />
        Club & Team digital fundraising opportunities<br />
        Fully customizable athletic apparel <br />
        No upcharge for customization and personalization<br />
        Official mask of Little Caesars Amateur Hockey League <br />
      </div>

    </div>
  </div>
</section>




<section id="plugin" class="hero_text">
  <div class="text">
    <div class="text-container">
      <h1 class="">[[localize('home-www-plugin-h1-l1')]]</h1>
      <h1 class="">[[localize('home-www-plugin-h1-l2')]]</h1>
      <div class="h5">[[localize('home-www-plugin-h5')]]</div>
      <h2 class="text-light">[[localize('home-www-plugin-h2')]]</h2>
      <div class="links">
        <a href="/designplugin/mac" tabindex="-1"><button class="green">[[localize('home-designplugin-btn-mac')]]</button></a>
        <a href="/designplugin/win" tabindex="-1"><button class="green">[[localize('home-designplugin-btn-win')]]</button></a>
      </div>
    </div>
  </div>
</section>

