<div id="customization-container">
  <div class="customization-background" style="background-image:url([[imagesPath]]/home-douglassportswear/top_1000x1000-01.png);"></div>
  <section id="customization">
    <teamatical-ui-image 
      class="image" 
      src="[[imagesPath]]/home-douglassportswear/top_1000x1000-01.png" use-webp1 lazy-load background-dark alt="home-customization">
    </teamatical-ui-image>

    <div class="detail" has-content>
      <div class="detail-container">
        <h1>
          Douglas infinity series
        </h1>
        <div class="h5">
          Our infinity series offers an infinite number of color and design options due to
the most advanced sublimation process available to the market.  View your design
in 3d as you navigate through our customization process and recieve your finished
product quickly due to our technological advances in the sublimation industry.
        </div>

        <a href="/team/create" tabindex="-1">
          <button class="green">Create Team UNIFORM NOW!</button>
        </a>
      </div>
    </div>
  </section>
</div>




<section class="hero_text">
  <div class="text">
    <div class="text-container">
      <h2 class="text-light">
        "Create A Custom Look For Your Team Or Club With Our Design Team"
      </h2>
      <!-- <h2 class="text-bold">[[localize('home-www-hero_text0-h2-3')]]</h2> -->
      <div class="h5">
        We will build an online store with your jersey’s so your team members can order them with no minimum restrictions any time of the year. Each player can personalize the jerseys with player number and player name according to your team or league policy. The production time is ten business days plus shipping from when the order is completed. All our products are made with high-quality materials and professional workmanship to rival the top brands of uniforms.
      </div>
    </div>
  </div>
</section>





<div id="designvariations-container">
  <section id="designvariations">
    <div class="image-container s1x2">
        <a href="/store/TT0452" tabindex="-1">
          <teamatical-ui-image src="[[imagesPath]]/home-douglassportswear/Douglas_Image_1,2.jpg" use-webp1 lazy-load
            placeholder-img="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAABAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABUBAQEAAAAAAAAAAAAAAAAAAAQF/9oADAMBAAIQAxAAAABU2R//xAAaEAAABwAAAAAAAAAAAAAAAAAAAwQFNXSy/9oACAEBAAE/AGSGSVS8j//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQIBAT8Af//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMBAT8Af//Z"
            alt="home-designvariations">
          </teamatical-ui-image>
        </a>
    </div>

    <div class="detail" has-content>
      <div class="detail-container">
        <h2 class="text-light">
          INFINITY LEAD OFF SERIES-BASEBALL
        </h2>
        <div class="h5">
          OUR BASEBALL LEAD OFF SERIES OFFERS AND EXTENSIVE BULLPEN OF DESIGNS THAT DELIVER LIKE AN ACE ON THE FIELD FROM THE OPENING PITCH TO THE SEVENTH INNING STRETCH.
        </div>
      </div>
    </div>
  </section>
</div>

<div id="sublimation-container">
  <section id="sublimation">
    <div class="image-container s1x2" style="background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAABAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABQBAQAAAAAAAAAAAAAAAAAAAAX/2gAMAwEAAhADEAAAAGugP//EABsQAAAHAQAAAAAAAAAAAAAAAAACBAUGNnWz/9oACAEBAAE/AJ7envXU9Tj/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAECAQE/AH//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAEDAQE/AH//2Q==);">
      <a href="/store/LM7420" tabindex="-1">
        <teamatical-ui-image src="[[imagesPath]]/home-douglassportswear/Douglas_Image_3,4.jpg" 
          use-webp1 
          lazy-load
          placeholder-img="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAABAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABQBAQAAAAAAAAAAAAAAAAAAAAX/2gAMAwEAAhADEAAAAGugP//EABsQAAAHAQAAAAAAAAAAAAAAAAACBAUGNnWz/9oACAEBAAE/AJ7envXU9Tj/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAECAQE/AH//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAEDAQE/AH//2Q=="
          alt="home-sublimation">
        </teamatical-ui-image>
      </a>
    </div>

    <div class="detail" has-content>
      <div class="detail-container">
        <h2 class="text-light">
          INFINITY LEAD OFF SERIES-SOFTBALL
        </h2>
        <div class="h5">
          OUR SOFTBALL LEAD OFF SERIES OFFERS A SWEET SPOT OF DESIGNS RIGHT IN YOUR WHEELHOUSE SO YOU WILL FEEL LIKE AN ULTIMATE GRAND SLAM ON  THE FIELD AND OFF.
        </div>
      </div>
    </div>
  </section>
</div>



<section id="plugin" class="hero_text">
  <div class="text">
    <div class="text-container">
      <div class="links">
        <a href="/store/" tabindex="-1"><button class="green">Set up Your Team Store</button></a>
      </div>
    </div>
  </div>
</section>

