<ul class="help-menu">
  <li><a href="https://tailgreeter.com/Events" target="_blank">Browse</a></li>
  <li><a href="https://tailgreeter.com/about-us" target="_blank">About</a></li>
  <li><a href="https://tailgreeter.com/contactus" target="_blank">Contact</a></li>
</ul>

<div id="customization-container">
  <div class="customization-background" 
    style="background-image:url([[imagesPath]]/home-tailgreeter/bgnd.png);">
  </div>
  <div class="customization-background hover">
  </div>
  <section id="customization">
    <h1>Exceptional Tailgate Gear for <br />
      the Extraordinary Fan</h1>

      <a href="/store-list" tabindex="-1">
        <button class="green red">Find Your Team Store</button>
      </a>
  </section>
</div>




<section class="hero_text small">
  <div class="text">
    <div class="text-container">
      <div class="partner-images">
        <a href="/store/FS3650" tabindex="-1"><img src="[[imagesPath]]/home-tailgreeter/p1-Bolt Pride.png"></a>
        <a href="/store/YR2984" tabindex="-1"><img src="[[imagesPath]]/home-tailgreeter/p2-SOMH.png"></a>
        <a href="/store/MR2301" tabindex="-1"><img src="[[imagesPath]]/home-tailgreeter/p3-daBUS.png"></a>
        <a href="/store/RS3344" tabindex="-1"><img src="[[imagesPath]]/home-tailgreeter/p4-TAILGREETER LINE.png"></a>
      </div>
    </div>
  </div>
</section>


<div id="partnerlist-container">
  <section id="partner-list" class="hero_text">
    <div class="text">
      <div class="text-container">
        <h1 class="upper">Upgraded gear for upgraded tailgates.</h1>
        <div class="h5">
          All of our items are designed in coordination with our top tailgaters from around the country.
        </div>

        <a href="/store-list" tabindex="-1">
          <button class="green red">Find Your Team Store</button>
        </a>
      </div>
    </div>
  </section>
</div>



<div id="designvariations-container">
  <section id="designvariations">
    <div class="image-container s1x2">
        <a>
          <teamatical-ui-image src="[[imagesPath]]/home-tailgreeter/i1.png" use-webp1 lazy-load
            placeholder-img="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAABAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACf/EABUBAQEAAAAAAAAAAAAAAAAAAAQF/9oADAMBAAIQAxAAAABU2R//xAAaEAAABwAAAAAAAAAAAAAAAAAAAwQFNXSy/9oACAEBAAE/AGSGSVS8j//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQIBAT8Af//EABQRAQAAAAAAAAAAAAAAAAAAAAD/2gAIAQMBAT8Af//Z"
            alt="home-designvariations">
          </teamatical-ui-image>
        </a>
    </div>

    <div class="detail" has-content>
      <div class="detail-container">
        <h2 class="text-light upper">Flex and Stand Out From The Pack</h2>
        <div class="h5">
          Be proud of how unique your tailgate is and rep how you throw down with swag that matches. The same minds that put on the ragers we all love used that ingenuity to develop these collections. 
        </div>
      </div>
    </div>
  </section>
</div>

<div id="sublimation-container">
  <section id="sublimation">
    <div class="image-container s1x2" style="background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAABAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABQBAQAAAAAAAAAAAAAAAAAAAAX/2gAMAwEAAhADEAAAAGugP//EABsQAAAHAQAAAAAAAAAAAAAAAAACBAUGNnWz/9oACAEBAAE/AJ7envXU9Tj/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAECAQE/AH//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAEDAQE/AH//2Q==);">
        <teamatical-ui-image src="[[imagesPath]]/home-tailgreeter/i2.png" 
          use-webp1 
          lazy-load
          placeholder-img="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAABAAIDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABQBAQAAAAAAAAAAAAAAAAAAAAX/2gAMAwEAAhADEAAAAGugP//EABsQAAAHAQAAAAAAAAAAAAAAAAACBAUGNnWz/9oACAEBAAE/AJ7envXU9Tj/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAECAQE/AH//xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oACAEDAQE/AH//2Q=="
          alt="home-sublimation">
        </teamatical-ui-image>
    </div>

    <div class="detail" has-content>
      <div class="detail-container">
        <h2 class="text-light upper">
          Not Your Average Swag
        </h2>
        <div class="h5">
          You know us! We hang out together at the tailgates, we talk to each other all the time, and we like the same things. That's why you can be sure to find the swag that's right for you because we wouldn't offer it unless it is something we would wear.
        </div>
      </div>
    </div>
  </section>
</div>



<section class="hero_text">
  <div class="text">
    <div class="text-container">
      <a href="/store-list" tabindex="-1">
        <button class="green red">Find Your Team Store</button>
      </a>
    </div>
  </div>
</section>



<div id="customstore-container">
  <section id="customstore">
    <div class="detail" has-content>
      <div class="detail-container">
        <h1>
          Don't see your club? <br />
Want to put a stamp on your tailgate squad?<br />
 Reach out and show us why you deserve to be featured next.<br />
        </h1>
      </div>
    </div>
  </section>
</div>

