<div id="customization-container">
  <div class="customization-background" 
    style="background-image:url('[[imagesHomePath]]/Asset 1_NEW.jpg');">
  </div>
  <div class="customization-background hover">
  </div>
  <section id="customization">
    <h1>Exceptional LCAHL Gear for <br />
      the Extraordinary Fan</h1>
      <a href="/store-list" tabindex="-1">
        <button class="green red">Find Your Team Store</button>
      </a>
  </section>
</div>





<section class="hero_text small">
  <div class="text">
    <div class="text-container">
      <h1>Custom Team Uniforms</h1>
      <div class="partner-images">
        <a href="" tabindex="-1"><img src="[[imagesHomePath]]/Asset 9.tif.png"></a>
        <a href="" tabindex="-1"><img src="[[imagesHomePath]]/Asset 7.tif.png"></a>
        <a href="" tabindex="-1"><img src="[[imagesHomePath]]/Asset 8.tif.png"></a>
      </div>
    </div>
  </div>
</section>





<div id="designvariations-container">
  <section id="designvariations">
    <div class="image-container s1x2">
        <a>
          <teamatical-ui-image src="[[imagesHomePath]]/Asset 6.png" lazy-load
            placeholder-img="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAABlBMVEV8foBnb3H6w3eHAAAACklEQVQI12NwAAAAQgBBg7nsrQAAAABJRU5ErkJggg=="
            alt="home-designvariations">
          </teamatical-ui-image>
        </a>
    </div>

    <div class="detail" has-content>
      <div class="detail-container">
        <h2 class="text-light">
          OFFICIAL SPONSOR OF THE LITTLE CAESARS’S HOCKEY LEAGUE
        </h2>
        <div class="h5">
          Our uniforms and spiritwear are made from moisture-wicking materials to keep players and fans comfortable. Customize your jersey with your team’s colors and player name and number. We have youth and adult sizes available.
        </div>
      </div>
    </div>
  </section>
</div>

<div id="sublimation-container">
  <section id="sublimation">
    <div class="image-container s1x2">
        <teamatical-ui-image src="[[imagesHomePath]]/Asset 5.png" 
          lazy-load
          placeholder-img="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAABAQMAAADO7O3JAAAABlBMVEWxp7CwpKkLu+iyAAAACklEQVQI12NwAAAAQgBBg7nsrQAAAABJRU5ErkJggg=="
          alt="home-sublimation">
        </teamatical-ui-image>
    </div>

    <div class="detail" has-content>
      <div class="detail-container">
        <h2 class="text-light">
          Club Fundraising 
          Is Easier Than Ever
        </h2>
        <div class="h5">
          Looking for a way to host a fundraiser for your team, league, school, or organization? With our platform you can create a custom online store in just a few clicks. Design spirit wear personalized with your school or club name, colors and mascot. Sell apparel without the hassle of stocking inventory or shipping–we take care of it for you!
        </div>
      </div>
    </div>
  </section>
</div>



<section class="hero_text small dark">
  <div class="text">
    <div class="text-container">
      <div class="partner-images">
        <a href="" tabindex="-1">
          <img src="[[imagesHomePath]]/icon 1_100px_NEW.png">
          <p>No Minimum Quantity</p>
        </a>
        <a href="" tabindex="-1">
          <img src="[[imagesHomePath]]/icon 2_100px_NEW.png">
          <p>No Inventory Required</p>
        </a>
        <a href="" tabindex="-1">
          <img src="[[imagesHomePath]]/icon 3_100px_NEW.png">
          <p>SHIPS IN 10 BUSINESS DAY OR LESS</p>
        </a>
      </div>
    </div>
  </div>
</section>



<div id="partnerlist-container">
  <section id="partner-list" class="hero_text">
    <div class="text">
      <div class="text-container">
        <h1 class="upper">See what our customers have to say about us!</h1>

        <div class="stories">
          <div class="story">
            <p>"They are awesome. You have our business from here on out. Quality, delivery, and customer service are by far the best I’ve dealt with. Thanks for knocking these out so quickly."</p>
            <p class="author">- Raphael</p>
          </div>

          <div class="story">
            <p>"I just wanted to take the time to thank you for all of your hard work to get this order done. The jerseys turned out great and all of the guys loved them. I appreciate your constant communication and effort."</p>
            <p class="author">- Frank</p>
          </div>

          <div class="story">
            <p>“Just wanted to thank you again. I am very impressed with the shirts so far. They look great and feel even better! Looking forward to wearing them everyday."</p>
            <p class="author">- Steven</p>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>


<!-- 
<section class="hero_text">
  <div class="text">
    <div class="text-container">
      <h2 class="text-light">[[localize('home-www-hero_text-l1')]]</h2>
      <div class="h5">
        [[localize('home-www-hero_text-h5-1')]]
        <span class="text-bold">[[localize('home-www-hero_text-h5-2')]]</span> 
        [[localize('home-www-hero_text-h5-3')]]
      </div>
    </div>
  </div>
</section>



<section id="home-register">
  <teamatical-ui-image class="image-bkg" src="[[imagesHomePath]]/register.jpg" lazy-load 
    placeholder-img="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAIBAQEBAQIBAQECAgICAgQDAgICAgUEBAMEBgUGBgYFBgYGBwkIBgcJBwYGCAsICQoKCgoKBggLDAsKDAkKCgr/2wBDAQICAgICAgUDAwUKBwYHCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgr/wgARCAAEAAgDAREAAhEBAxEB/8QAFAABAAAAAAAAAAAAAAAAAAAACP/EABUBAQEAAAAAAAAAAAAAAAAAAAUG/9oADAMBAAIQAxAAAABc0ZH/xAAhEAAABAUFAAAAAAAAAAAAAAACAwQFCRETFkEAAQYHIf/aAAgBAQABPwBrglQ5OTNN0u/SSkxaCRgDrkWzCKljerPzGv/EABoRAAEFAQAAAAAAAAAAAAAAAAMAAQRRodH/2gAIAQIBAT8AJNJTb1f/xAAaEQABBQEAAAAAAAAAAAAAAAABAAIEUqHR/9oACAEDAQE/AGxhY5xf/9k="
    alt="home-register">
  </teamatical-ui-image>

  <div class="text">
    <div class="text-container">
      <h2>
        <span class="text-bold">Teamatical</span>
        is proud to sponsor<br />
        the Little Caesars Amateur Hockey League.
      </h2>
      <div class="h5">
        We are offering free custom store design and set up if you register with us by 
        <span class="text-bold">Nov 30, 2021</span>
      </div>

      <a href="/feedback?id=teamstore"" tabindex="-1">
        <button class="green">Register Here</button>
      </a>
    </div>
  </div>
</section> -->
