<div id="customization-container">
  <div class="customization-background" 
    style="background-image:url([[imagesHomePath]]/home.jpg);">
  </div>
  <div class="customization-background hover">
  </div>
  <section id="customization">
    <h1>
      Fanatics
      <br class="br-desktop" />
      <span class="powered-by">Powered By</span>
      <br class="br-desktop">
      Teamatical
    </h1>

    <p>This is a demo site set up for Fanatics serving as a live testing enviroment to pilot 
      <br class="br-desktop" />
      the Teamatical platform for custom on-demand apperal.
    </p>

  </section>
</div>




<section class="hero_text small">
  <div class="text">
    <div class="text-container">
      <a href="/store-list" tabindex="-1">
        <button class="green red">Active Store</button>
      </a>
    </div>
  </div>
</section>
