
<div class="main-frame">
  <header>
    <h1>[[localize('termsofuse-title')]]</h1>
  </header>

  <!-- <p class="c18">
    <span class="c21">Teamatical.com Terms of use</span>
  </p> -->
  <p class="c7">
    <span class="c21"></span>
  </p>
  <p class="c5">
    <span class="c28 c23 c29">Acceptance of Terms</span>
  </p>
  <p class="c12 c10">
    <span class="c2"></span>
  </p>
  <p class="c12">
    <span class="c25">TEAMATICAL INC. (&quot;TEAMATICAL&quot;) PROVIDES ITS WEBSITE, ADOBE ILLUSTRATOR DESIGN PLUGIN AND RELATED SERVICES (&quot;SITE&quot;)
      TO YOU SUBJECT TO THE FOLLOWING USER AGREEMENT (&quot;AGREEMENT&quot;). IF YOU DO NOT AGREE WITH ANY OF THE TERMS OF
      THIS AGREEMENT, DO NOT ACCESS OR OTHERWISE USE THIS SITE OR ANY INFORMATION CONTAINED ON THIS SITE. YOUR USE OF THIS
      SITE AND OTHER SERVICES SHALL BE DEEMED TO BE YOUR (AND IF ACTING ON BEHALF OF A THIRD PARTY OR YOUR EMPLOYER, SUCH
      THIRD PARTY&#39;S OR EMPLOYER&#39;S) AGREEMENT TO ABIDE BY EACH OF THE TERMS SET FORTH BELOW (REFERENCES IN THIS AGREEMENT
      TO &quot;YOU&quot; INCLUDE YOU AND ANY SUCH THIRD PARTY OR EMPLOYER). TEAMATICAL CAN CHANGE THIS AGREEMENT AT ANY TIME
      BY POSTING AN UPDATED USER AGREEMENT ON THIS SITE AND TEAMATICAL MAY SEND REGISTERED USERS AN EMAIL NOTICE OF THE CHANGES.
      IF ANY MODIFICATION IS UNACCEPTABLE TO YOU, YOU SHALL CEASE USING THIS SITE. IF YOU DO NOT CEASE USING THIS SITE, YOU
      WILL BE CONCLUSIVELY DEEMED TO HAVE ACCEPTED THE CHANGES. IF YOU HAVE ANY QUESTIONS ABOUT THE AGREEMENT, YOU MAY CONTACT
      US AT&nbsp;</span>
    <span class="c31">
      <a class="c17" href="mailto:IVAN.CHACHKOV@TEAMATICAL.COM">IVAN.CHACHKOV@TEAMATICAL.COM</a>
    </span>
    <span class="c2">.</span>
  </p>
  <p class="c12">
    <span class="c25 c23">If your material, including but not limited to text, design templates for any sportswear item, data, photographs, graphics,
      images, information, and all digital data or any combination of these elements (&quot;Content&quot;), is uploaded as
      a design for products available to other users and teams on the Site, you grant the additional rights set forth in
      the&nbsp;</span>
    <span class="c16">
      <a class="c17" href="https://www.google.com/url?q=https://www.zazzle.com/mk/policy/designer_license_agreement&amp;sa=D&amp;ust=1530258857790000">Designer License Agreement</a>
    </span>
    <span class="c25 c23">&nbsp;that is incorporated herein by this reference. </span>
  </p>
  <p class="c5">
    <span class="c8">Privacy Policy</span>
  </p>
  <p class="c4">
    <span class="c1">Your privacy is very important to&nbsp;Teamatical. Please read our&nbsp;</span>
    <span class="c1">
      <a class="c17" href="https://www.google.com/url?q=https://www.prepsportswear.com/customerservice/privacypolicy&amp;sa=D&amp;ust=1530258857791000">Privacy Policy</a>
    </span>
    <span class="c1">&nbsp;that explains how we treat your personal data and protect your privacy when you use our Services. By using our
      Services, you expressly agree that Teamatical can use such data in accordance with our privacy policy which is incorporated
      herein by reference.</span>
  </p>
  <p class="c7">
    <span class="c21"></span>
  </p>
  <p class="c4">
    <span class="c8">Your Account
      <br>
    </span>
  </p>
  <p class="c4">
    <span class="c1">If you use the Site or Services, you are responsible for maintaining the confidentiality of your account and password
      and for restricting access to your computer, and you agree to accept responsibility for all activities and communications
      that occur under your account or password. For protection of your account log out of your account when not using the
      site on a shared computer. If you are under 18, you may access and use this Site only with the involvement of a parent
      or guardian. Each time you use our Services, you are representing that you are 18 years of age or older. Teamatical
      and its affiliates reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders
      at its sole discretion.</span>
  </p>
  <p class="c4 c10">
    <span class="c6 c23"></span>
  </p>
  <p class="c4">
    <span class="c1">You agree to (a) immediately notify Teamatical of any unauthorized use of your account or any other breach of security,
      and (b) ensure that you exit from your account at the end of each session. Teamatical cannot and will not be liable
      for any loss or damage arising from your failure to comply with this Section.</span>
  </p>
  <p class="c4">
    <span class="c1">You agree that you are responsible for actions and communications undertaken under your account. Teamatical takes no
      responsibility and assumes no liability for any Content uploaded or otherwise transmitted by or to you or by or to
      any third-party, or for any mistakes, defamation, slander, libel, omissions, falsehoods, infringement, obscenity, pornography
      or profanity you or a third party may encounter. You agree to waive any claims against Teamatical and its affiliates,
      contractors, agents and employees for losses, damages and injuries which are based on or relate to communications,
      Content or materials on the Site. You agree to indemnify Teamatical and its affiliates from all claims and expenses,
      including reasonable attorney&#39;s fees, which claims are based on or arise from your violation of any of the provisions
      of this Agreement.</span>
  </p>
  <p class="c7">
    <span class="c6 c23"></span>
  </p>
  <p class="c5">
    <span class="c8">User Conduct</span>
  </p>
  <p class="c7">
    <span class="c1"></span>
  </p>
  <p class="c18">
    <span class="c1">In using this Site and Design Tools, you agree to not:</span>
  </p>
  <ol class="c20 lst-kix_list_1-0 start" start="1">
    <li class="c5 c14">
      <span class="c2">upload, download, post, email or otherwise transmit any Content that is unlawful, harmful, threatening, abusive, vulgar,
        harassing, defamatory, obscene, pornographic, profane, indecent, inflammatory, libelous, tortious, hateful, racially,
        ethnically, socially, politically, legally, morally, religiously objectionable or otherwise objectionable, or invasive
        of another&#39;s rights including but not limited to rights of celebrity, privacy and intellectual property.</span>
    </li>
    <li class="c5 c14">
      <span class="c2">impersonate any person or entity or falsely state or otherwise misrepresent your affiliation with a person or entity;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">Design and publish sportswear items that would infringe on the rights of existing professional team, colleges, schools
        or organizations unless such publishing was authorized or requested by the respective organization;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">upload, download, post, email or otherwise transmit any Content that would constitute or encourage a criminal offense,
        illegal activity, violate the rights of any party, or that would otherwise create liability or violate any local,
        state, national, or international law;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">upload, download, post, email or otherwise transmit any unsolicited or unauthorized advertising, promotional materials,
        junk mail, spam, chain letters, or any other form of solicitation;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">upload, download, post, email or otherwise transmit any material that contains software viruses or any other computer
        code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware
        or telecommunications equipment;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">upload, download, post, email or otherwise transmit false or misleading information;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">disrupt or interfere with the security of, or otherwise abuse, the Site, or any services, system resources, accounts,
        servers, or networks connected to or accessible through the Site or affiliated or linked websites;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">access, tamper with or use non-public areas of the Site. Unauthorized individuals attempting to access these areas
        of the Site may be subject to prosecution;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">disrupt or interfere with any other user&#39;s enjoyment of the Site or affiliated or linked websites;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">frame the Site within another Site or webpage or link to the Site except as permitted in writing by Teamatical;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">incorporate images or names that would violate a person&#39;s right of privacy or publicity; or</span>
    </li>
    <li class="c5 c14">
      <span class="c2">use a manual or automatic device or process to retrieve, index, &quot;data mine&quot; or in any way reproduce or circumvent
        the navigational structure or presentation of the Service;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">transfer your Teamatical account to another party without Teamatical&#39;s written consent;</span>
    </li>
    <li class="c5 c14">
      <span class="c2">copy, modify or distribute rights or Content from the Site, service or tools or Teamatical&#39;s copyrights and trademarks;
        or
      </span>
    </li>
    <li class="c5 c14">
      <span class="c2">harvest or otherwise collect information about users, including email addresses, without their consent.</span>
    </li>
  </ol>
  <p class="c7">
    <span class="c21"></span>
  </p>
  <p class="c18">
    <span class="c1">You acknowledge that Teamatical does not pre-screen submitted or generated design content for its likeness to any copyrighted
      content or for compliance with this agreement or any applicable laws, but that Teamatical shall have the right (but
      not the obligation) at its sole discretion to reject or remove any Design Content that is available via the Site or
      placed as an order for production. Upon placing your order, you acknowledge that Teamatical may review your order,
      and any Design Content it contains, for adherence to our guidelines and compliance with these Terms of Use. Failure
      to review your order will not constitute an admission on the part of Teamatical that you have complied with these Terms
      of Use. Without limiting the foregoing, Teamatical and its designees shall have the right to remove any Design Content
      that violates this Agreement or is otherwise objectionable to Teamatical. You agree that you must evaluate and bear
      all risks associated with the use of any Design Content on your purchased products, including any reliance on the accuracy,
      completeness, or usefulness of such Design Content. In this regard, you acknowledge that you may not rely on any Design
      Content created by or submitted to Teamatical. You acknowledge and agree that you are responsible for the creation
      and compilation of submitted Design Content, and that neither Teamatical nor any other party involved with the production
      of any product incorporating such Design Content assumes that responsibility. The production of any product depicting
      your Design Content by Teamatical or its affiliated producers, including but not limited to sports apparel, uniforms
      and other products, does not indicate that Teamatical or its affiliated producers approves of the Design Content, that
      the Design Content complies with all applicable laws, or that you are absolved of any liability or harm arising from
      the use of the Design Content. You acknowledge that Teamatical production of any product depicting your Design Content
      is a functional and decorative use of the Design Content and does not constitute use as a trademark or use indicating
      the source of the goods or Services.
    </span>
  </p>
  <p class="c0">
    <span class="c8"></span>
  </p>
  <p class="c5">
    <span class="c8">Designs available for purchase on Teamatical Site</span>
  </p>
  <p class="c0">
    <span class="c8"></span>
  </p>
  <p class="c5">
    <span class="c1">Teamatical offers for sale designs of its own creation as well as design created by its affiliate sportswear brands and
      by designers who decorate products using Teamatical design tools.</span>
  </p>
  <p class="c0">
    <span class="c1"></span>
  </p>
  <p class="c5">
    <span class="c1">Each product consists of two design parts: (a) the style of the product with its sewing patterns, construction, types
      of fabrics, and other physical properties further referred to as &ldquo;Style&rdquo;, and (b) the design printed on
      the fabric using ink along with selection of elements that can be chosen by a customer as part of the decoration (zipper
      colors, buttons, etc).</span>
  </p>
  <p class="c0">
    <span class="c1"></span>
  </p>
  <p class="c5">
    <span class="c1">All aspects of the Style or Product are property of Teamatical and its affiliated manufacturers, designers and brands. You as a designer can
      utilize Teamatical&rsquo;s Adobe Illustrator plugin to download Style patterns for the sole purpose of using them as
      guidelines for you all-over-the-body design work. You can not share the files containing Style pattern elements downloaded
      from Teamatical with any third-party designers, manufacturers, distributors, dealers, of sportswear items for any purpose other then to buy and manufacturer 
      such products and designs using Teamatical and its affiliated manufacturers. You, as a customer, designers, vendor, manufacturer and in any other capacity can not use any Teamatical
      tools, web site, artwork, site content, pricing information, to solicit business from anyone if the eventual order placement and production 
      is not completed usign Teamatical systems and its affiliated manufacturing facilities. 
      When you design the product using Teamatical Adobe Illustrator Plugin or other tools, you may save the files on your local computer for the purpose of backing them up and storing your
      work between design sessions. You may not use Teamatical plugin tool and associated template files to manufacture
      the product anywhere other than with Teamatical or its affiliated manufacturers through publishing of the design to
      Teamatical Site. Teamatical Reserves the rights to track the design process on your computer, the usage of templates,
      attempts to move the designs to other computers.</span>
  </p>
  <p class="c5">
    <span class="c1">Teamatical plugin may alter designs in a way that when opened on other computers without Teamatical design plugin, such
      design can be distorted or show messages informing the user that this agreement might have been violated.
      <br>
    </span>
  </p>
  <p class="c0">
    <span class="c1"></span>
  </p>
  <p class="c5">
    <span class="c1">Each style of product on Teamatical site can have a mandatory brand labels or logos printed on the final sportswear on
      top of any user created artwork even if such label in any way interferes with the other design elements. Such brand
      logos are visible during the purchasing process on the Site and during the preview in the design tool.
    </span>
  </p>
  <p class="c0">
    <span class="c8"></span>
  </p>
  <p class="c5">
    <span class="c8">
      <br>Design Accuracy</span>
  </p>
  <p class="c18">
    <span class="c1">
      <br>When you create the design on Teamatical or when you buy a product designed by Teamatical or another affiliate designer
      it is your responsibility to verify the accuracy of the team name spellings, team colors, player names and numbers.
      Teamatical shall not be responsible for orders placed where the design is incorrect. Teamatical Site is designed to
      show accurate representation of the product and its design. If you see inaccuracies, do not buy the product, but contact
      the customer support or the designer who produced the design for you for corrections.</span>
  </p>
  <p class="c5">
    <span class="c8">Design Content created using Teamatical configurator</span>
  </p>
  <p class="c18">
    <span class="c23 c25">
      <br>Designs of uniforms created using the Site public interface from the design components published by Teamatical Shall
      be property of Teamatical along with the Customization and Personalization data applied to those designs.
      <br>
      <br>
    </span>
    <span class="c23 c28">Design Content created using the design tool</span>
  </p>
  <p class="c18">
    <span class="c1">Design that you create or publish using the Teamatical design tool (Adobe Illustrator Plugin) are you property and your
      own sports team or other team can purchase that design. Once you publish the design and make it accessible to users
      via sharing of the page with that design on social media or other means or by publishing the design into a team store,
      the design can be purchased by a team. Once a purchase occurs, we store and keep the design artwork to produce the
      product. You agree that we have all necessary rights to produce the product and that right extends to the affiliate
      manufacturers making the product.
      <br>
    </span>
  </p>
  <p class="c18">
    <span class="c1">Each design you publish has its own unique identifier. Subsequent publishing of the same design does not override the
      previous content but instead creates a new copy. It is your responsibility to manage these copies and make the chosen
      copies available for purchase by Site users. Teamatical does not provide a way to download the files you publish back
      to your computer.</span>
  </p>
  <p class="c5">
    <span class="c8">Design availability assurance</span>
  </p>
  <p class="c7">
    <span class="c1"></span>
  </p>
  <p class="c18">
    <span class="c1">Teamatical strives to provide easy and reliable way to buy sports uniforms for teams. One important aspect for a team
      is to be able to place initial orders and also be able to get fill in orders for new team players joining at the later
      dates.
    </span>
  </p>
  <p class="c18">
    <span class="c1">When you, using design tools on the site or other means generate and publish Design Content that is used by any team
      to outfit its players, and when such design is not infringing on any third party copy rights, you agree that even if
      you later remove the design from a custom store or otherwise make it not public, Teamatical has the right to sell products
      made with such design to the existing teams to outfit the new players joining the team or existing players or fans
      for the term of no less than 3 years from the date such team has made the last purchase of the uniforms or other team
      product when the design was publicly available. If the design content was made for a particular style of product and
      this style is no longer available, Teamatical might transfer such design to another comparable item to outfit the new
      team players. If you are the creator of the design, you hereby grant the License to Teamatical to keep producing the
      design for the teams which initially used the design for team purchases and later require additional products.</span>
  </p>
  <p class="c18">
    <span class="c30 c28 c23">Design Personalization</span>
  </p>
  <p class="c18">
    <span class="c1">Using Teamatical Tools you can create dynamic designs that can be further personalized by end user with choice of colors,
      fonts, team names, player names, and numbers. Such personalization does not constitute a new design for any aspect
      of this agreement.</span>
  </p>
  <p class="c7">
    <span class="c1"></span>
  </p>
  <p class="c18">
    <span class="c28 c23 c30">Design Responsibility</span>
  </p>
  <p class="c12">
    <span class="c2">Teamatical allows you to design your own sports uniforms using the Adobe Illustrator with Teamatical Design Plugin. You
      acknowledge and agree that you are responsible for the creation and compilation of your Design Content, and that neither
      Teamatical nor any other party involved with the production of any product incorporating such Content assumes that
      responsibility. Teamatical&rsquo;s production of any product depicting your Content does not indicate that Teamatical
      approves of the Content, that the Content obeys all applicable laws, or that you are absolved of any liability or harm
      arising from the use of the Content.</span>
  </p>
  <p class="c12">
    <span class="c2">You acknowledge and agree that Teamatical may preserve or store your Content and may also disclose Content if required
      to do so by law or in the good faith belief that such preservation, storage or disclosure is reasonably necessary and
      as set forth in our Privacy Policy. You understand that the technical processing and operation of the Site, including
      your Content, may involve (i) transmissions over various networks; and (ii) changes to conform and adapt to technical
      requirements of connection networks or devices.</span>
  </p>
  <p class="c12">
    <span class="c2">You agree that you are responsible for actions and communications undertaken under your account. Teamatical takes no
      responsibility and assumes no liability for any Content uploaded or otherwise transmitted by or to you or by or to
      any third-party, or for any mistakes, defamation, slander, libel, omissions, falsehoods, infringement, obscenity, pornography
      or profanity you or a third party may encounter. You agree to waive any claims against Teamatical and its affiliates,
      contractors, agents and employees for losses, damages and injuries which are based on or relate to communications,
      Content or materials on the Site. You agree to indemnify Teamatical and its affiliates from all claims and expenses,
      including reasonable attorney&#39;s fees, which claims are based on or arise from your violation of any of the provisions
      of this Agreement.</span>
  </p>
  <p class="c12 c10">
    <span class="c6"></span>
  </p>
  <p class="c12">
    <span class="c19">Trademarks and Copyrights</span>
  </p>
  <p class="c12">
    <span class="c2">Teamatical&#39;s trademarks, trade dress and product images may not be used in connection with any product or service
      that does not belong to Teamatical, in any manner that is likely to cause confusion among customers, or in any manner
      that disparages or discredits Teamatical. All other trademarks not owned by Teamatical that appear on this site are
      the property of their respective owners, who may or may not be affiliated with, connected to, or sponsored by Teamatical.</span>
  </p>
  <p class="c12 c10">
    <span class="c6"></span>
  </p>
  <p class="c12">
    <span class="c19">Proprietary Rights</span>
  </p>
  <p class="c12">
    <span class="c2">You acknowledge and agree that any Content, including but not limited to text, data, photos, graphics, etc. or other
      material contained or distributed on or through the Site, by Teamatical, its advertisers or other third parties, is
      protected by trademarks, service marks, patents, copyrights, or other proprietary rights and laws. You may not use
      or distribute any Content received through the Site without the authorization of Teamatical or the Content owner. You
      agree not to publish, reproduce, copy, in whole or in part, nor upload, download, post, email, sell, or otherwise distribute
      Content available through the Site, in violation of applicable copyright and other intellectual property laws.</span>
  </p>
  <p class="c12">
    <span class="c2">You retain all ownership rights to your Content submitted to the Site except the portion of the design related to the
      product Style. By submitting Content to Teamatical, you grant Teamatical a nonexclusive, worldwide, transferable license
      to use, copy, reproduce, modify, publicly display, and distribute your Content.</span>
  </p>
  <p class="c12">
    <span class="c2">You acknowledge and agree that the Site and any software provided to you or used in connection with the Site, including,
      for example and without limitation, any API&#39;s or other scripts (&quot;Software&quot;) contains proprietary and
      confidential information that is protected by applicable intellectual property and other laws.
    </span>
  </p>
  <p class="c12">
    <span class="c2">Subject to your compliance with the terms and conditions of this Agreement and any additional terms provided in a separate
      applicable agreement, Teamatical grants you a non-exclusive, non-transferable, non-sublicenseable license to use the
      Software solely as necessary to use this Site and provided that you agree not to modify, rent, lease, loan, sell, distribute
      or create derivative works based on the Site or the Software, in whole or in part.</span>
  </p>
  <p class="c12">
    <span class="c2">Teamatical grants you a non-exclusive, revocable and limited license to use the Content and Teamatical&#39;s tools, images,
      product photographs for the purposes of promoting the site in the condition that you provide appropriate attribution
      and a link to the Teamatical website. We reserve the right to terminate this license at any time.</span>
  </p>
  <p class="c12">
    <span class="c2">The intellectual property rights in or relating to the content of any notes, messages, e-mails, postings, letters, ideas,
      suggestions, concepts or other written materials which you submit or communicate to Teamatical (excluding the Content
      you submit) will automatically be deemed to be assigned, granted and transferred by you to Teamatical upon their submission
      or communication to Teamatical, and you do assign all rights therein to Teamatical and agree that the same will automatically
      become the property of Teamatical and that Teamatical may use, exploit, copy, publish, implement, transfer and in all
      other ways deal with such materials and all of the intellectual property rights therein in any way and for any purpose
      Teamatical may elect, forever.</span>
  </p>
  <p class="c12">
    <span class="c19">Intellectual Property Policy</span>
  </p>
  <p class="c12">
    <span class="c2">Teamatical respects the intellectual property rights of others. We ask our users to do the same. Teamatical may terminate
      the accounts of users who infringe, or may infringe, the copyright or other intellectual property rights of others.
      If you believe that your Content has been copied in a way that constitutes copyright and/or trademark infringement,
      please notify Teamatical&#39;s Copyright Agent, and provide the following information (&quot;Notice&quot;):
    </span>
  </p>
  <ul class="c20 lst-kix_list_2-0 start">
    <li class="c15">
      <span class="c24">An electronic or physical signature of the owner or person authorized to act on behalf of the owner of the copyright
        interest;
      </span>
    </li>
    <li class="c15">
      <span class="c24">A description of the copyrighted work that you claim has been infringed upon;</span>
    </li>
    <li class="c15">
      <span class="c24">A description of where the material that you claim is infringing is located on our Site;</span>
    </li>
    <li class="c15">
      <span class="c24">Your address, telephone number, and e-mail address;</span>
    </li>
    <li class="c15">
      <span class="c24">A statement by you that you have a good-faith belief that the disputed use is not authorized by the copyright owner,
        its agent, or the law;</span>
    </li>
    <li class="c15">
      <span class="c24">A statement by you, made under penalty of perjury, that the above information in your notice is accurate, that the
        owner has a legitimate and exclusive right to the work, and that you are the copyright owner or authorized to act
        on the copyright owner&#39;s behalf.</span>
    </li>
    <li class="c22">
      <span class="c24">Teamatical&rsquo;s Copyright Agent for notice of claims of copyright infringement on its site can be reached as follows:
        copyrights@teamatical.com
      </span>
    </li>
  </ul>
  <p class="c12 c10">
    <span class="c6"></span>
  </p>
  <p class="c12">
    <span class="c19">WARRANTY</span>
  </p>
  <p class="c12">
    <span class="c6">YOU REPRESENT AND WARRANT THAT YOU ARE THE OWNER OF THE CONTENT THAT YOU SUBMIT VIA DESIGN TOOLS OR HAVE AUTHORIZATION
      TO CREATE PRODUCT DESIGN USING THE SITE DESIGN TOOLS AND THAT THE CONTENT DOES NOT INFRINGE UPON THE PROPERTY RIGHTS,
      INTELLECTUAL PROPERTY RIGHTS (COPYRIGHTS AND TRADEMARKS) OR OTHER RIGHTS OF OTHERS. YOU ALSO REPRESENT THAT THERE ARE
      NO OUTSTANDING DISPUTES IN CONNECTION WITH THE PROPERTY RIGHTS, INTELLECTUAL PROPERTY RIGHTS OR OTHER RIGHTS IN THE
      CONTENT OR ANY PARTS OF THE CONTENT. YOU HEREBY REPRESENT AND WARRANT TO US THAT THIS AGREEMENT HAS BEEN DULY AND VALIDLY
      EXECUTED AND DELIVERED BY YOU AND CONSTITUTES YOUR LEGAL, VALID AND BINDING OBLIGATION, ENFORCEABLE AGAINST YOU IN
      ACCORDANCE WITH ITS TERMS; AND THAT THE EXECUTION, DELIVERY AND PERFORMANCE BY YOU OF THIS AGREEMENT ARE WITHIN YOUR
      LEGAL CAPACITY AND POWER; HAVE BEEN DULY AUTHORIZED BY ALL REQUISITE ACTION ON YOUR PART; REQUIRE THE APPROVAL OR CONSENT
      OF NO OTHER PERSONS; AND NEITHER VIOLATE NOR CONSTITUTE A DEFAULT UNDER THE (I) PROVISION OF ANY LAW, RULE, REGULATION,
      ORDER, JUDGMENT OR DECREE TO WHICH YOU ARE SUBJECT OR WHICH IS BINDING UPON YOU, OR (II) THE TERMS OF ANY OTHER AGREEMENT,
      DOCUMENT OR INSTRUMENT APPLICABLE TO YOU OR BINDING UPON YOU.</span>
  </p>
  <p class="c12 c10">
    <span class="c6"></span>
  </p>
  <p class="c4">
    <span class="c9">DISCLAIMER OF WARRANTIES</span>
  </p>
  <p class="c4">
    <span class="c13">THIS SITE AND ALL PRODUCTS AND SERVICES ARE PROVIDED BY TEAMATICAL AND AFFILIATED MANUFACTURERS ON AN &quot;AS IS&quot;
      AND &quot;AS AVAILABLE&quot; BASIS. TEAMATICAL MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR IMPLIED,
      AS TO THE OPERATION OF THIS SITE OR THE INFORMATION, CONTENT, MATERIALS, SERVICES, OR PRODUCTS INCLUDED ON OR OTHERWISE
      MADE AVAILABLE TO YOU THROUGH THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF THIS SITE IS AT YOUR SOLE RISK.</span>
  </p>
  <p class="c4">
    <span class="c13">TO THE MAXIMUM EXTENT PERMISSIBLE BY APPLICABLE LAW, TEAMATICAL DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING,
      BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE REGARDING ALL PRODUCTS
      AND SERVICES. TEAMATICAL DOES NOT WARRANT THAT THIS SITE, ITS SERVICES, INFORMATION, CONTENT, MATERIALS, PRODUCTS,
      OR OTHER SERVICES INCLUDED ON OR OTHERWISE MADE AVAILABLE TO YOU THROUGH THIS SITE ARE FREE OF ERRORS, DEFECTS, COMPUTER
      VIRUSES, BUGS, OR OTHER HARMFUL COMPONENTS.</span>
  </p>
  <p class="c4">
    <span class="c9">LIMITATION OF LIABILITY</span>
  </p>
  <p class="c4">
    <span class="c13">TEAMATICAL WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF ANY TEAMATICAL SERVICE OR THIS SITE
      OR FROM ANY INFORMATION, CONTENT, MATERIALS, PRODUCTS, OR OTHER SERVICES MADE AVAILABLE TO YOU THROUGH THIS SITE OR
      ANY TEAMATICAL SERVICE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, PUNITIVE, OR
      CONSEQUENTIAL DAMAGES, OR LOST PROFITS, REVENUES, OR DATA. CERTAIN STATE LAWS DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES
      OR THE EXCLUSION OR LIMITATION OF CERTAIN DAMAGES. IF THESE LAWS APPLY TO YOU, SOME OR ALL OF THE ABOVE DISCLAIMERS,
      EXCLUSIONS, OR LIMITATIONS MAY NOT APPLY TO YOU, AND YOU MIGHT HAVE ADDITIONAL RIGHTS.</span>
  </p>
  <p class="c4">
    <span class="c13">TO THE EXTENT PERMITTED BY LAW, THE TOTAL LIABILITY OF TEAMATICAL FOR ANY CLAIM UNDER THESE TERMS OF USE OR FOR ANY WAIVEABLE
      WARRANTY IS LIMITED TO THE AMOUNT YOU PAID US FOR THE SERVICES OR PRODUCTS.</span>
  </p>
  <p class="c12 c10">
    <span class="c6"></span>
  </p>
  <p class="c12">
    <span class="c19">Indemnity</span>
  </p>
  <p class="c12">
    <span class="c6">You agree to defend, indemnify and hold Teamatical and Teamatical &#39;s officers, directors, employees, agents and licensors
      harmless from all judgments, awards, losses, liabilities, costs and expenses, including but not limited to reasonable
      attorneys&#39; fees, expert witness fees, and costs of litigation arising out of or based on (a) Content you submit,
      post to or transmit through the Site, (b) your use of the Site, (c) your connection to the Site, (d) your violation
      of the Agreement or (e) your violation of any rights of a third party.
    </span>
  </p>
  <p class="c12">
    <span class="c19">No Resale</span>
  </p>
  <p class="c12">
    <span class="c6">Other than as expressly provided under these terms, you agree not to reproduce, duplicate, copy, sell, resell or exploit
      for other commercial purposes, any portion of the Site, without Teamatical &#39;s express written consent.
    </span>
  </p>
  <p class="c12">
    <span class="c19">Termination</span>
  </p>
  <p class="c12">
    <span class="c6">You agree that Teamatical, in its sole discretion, may terminate this agreement including but not limited to termination
      of your password, account (or any part thereof) or use of the Site, and remove and discard any Content you may have
      contributed to the Site, at any time for any reason or no reason. Teamatical may also in its sole discretion and at
      any time discontinue providing the Site, or any part thereof, with or without notice. You agree that any termination
      of your access to the Site under any provision of this Agreement may be effected without prior notice, and acknowledge
      and agree that Teamatical may immediately deactivate or delete your account and all related information and files in
      your account and/or bar any further access to such files of the Site. Further, you agree that Teamatical shall not
      be liable to you or any third-party for any termination of your access to the Site. Should you object to any terms
      and conditions of the Agreement or become dissatisfied with the Site in any way, your only recourse is to immediately
      discontinue your use of the Site and/or terminate your account.</span>
  </p>
  <p class="c12">
    <span class="c6">Any termination of this Agreement shall not affect the respective rights and obligations (including without limitation,
      payment obligations) of the parties arising before the date of termination.</span>
  </p>
  <p class="c12">
    <span class="c19">Links</span>
  </p>
  <p class="c12">
    <span class="c6">The Site may provide, or third parties may provide, links to other websites or resources. Because Teamatical has no control
      of such sites and resources, you acknowledge and agree that Teamatical is not responsible for the availability of such
      sites or resources, and does not endorse and is not responsible or liable for any Content, advertising, products or
      other materials on or available from such sites or resources or the policies or such sites and resources. Teamatical
      is not responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in
      connection with use of or reliance on any such Content, goods or services available on or through any such site or
      resource.</span>
  </p>
  <p class="c12">
    <span class="c19">Public Reputation</span>
  </p>
  <p class="c12">
    <span class="c6">You acknowledge and agree that you will not use any Product ordered from the Site in a way that would be damaging to
      Teamatical&#39;s public reputation or that of its employees, board members, shareholders, licensors, or solution partners.
      Additionally, you acknowledge that if you choose to display any product ordered from Teamatical, in a public setting,
      including on the Internet, in a way which disparages Teamatical, Teamatical &#39;s board members, employees, shareholders
      or partners, Teamatical reserves the right to demand immediate return of the product, to furthermore pursue all recourses
      and remedies available under the law.</span>
  </p>
  <p class="c4">
    <span class="c9">Product Descriptions</span>
  </p>
  <p class="c4">
    <span class="c13">Teamatical attempts to be as accurate as possible. However, Teamatical does not warrant that product descriptions or
      other content of this site or any Teamatical Service is accurate, complete, reliable, current, or error-free. If a
      product offered by Teamatical itself is not as described, your sole remedy is to return it in unused condition. In
      particular, although we have made every effort to display the dynamic products and their colors as accurately as possible,
      the displayed colors of the products will depend upon your monitor and computer settings and we cannot guarantee that
      your monitor and computer settings will accurately portray the actual colors of the products. We reserve the right
      to make corrections and changes to the Site, including product descriptions, at any time without notice.</span>
  </p>
  <p class="c4">
    <span class="c9">Pricing</span>
  </p>
  <p class="c4">
    <span class="c13">Despite our best efforts, a small number of the items on our Site may be mispriced. If we discover a mispricing, we will
      do one of the following:</span>
  </p>
  <ul class="c20 lst-kix_list_3-0 start">
    <li class="c26">
      <span class="c13">If an item&#39;s correct price is lower than our stated price, we will charge the lower amount and ship you the item.</span>
    </li>
    <li class="c22">
      <span class="c13">If an item&#39;s correct price is higher than our stated price, we will, at our discretion, either contact you for
        instructions before shipping or cancel your order and notify you of such cancellation.</span>
    </li>
  </ul>
  <p class="c4">
    <span class="c13">The prices displayed are quoted in U.S. dollars. Purchases are subject to applicable taxes to be paid by the purchaser,
      and do not include shipping and handling, except as otherwise noted.</span>
  </p>
  <p class="c4">
    <span class="c9">Ordering Disclaimer</span>
  </p>
  <p class="c4">
    <span class="c13">Your electronic order confirmation, or any form of confirmation, does not signify our acceptance of your order. Teamatical
      reserves the right to accept or deny shipment to anyone for any reason. Teamatical reserves the right to require additional
      information before processing any order. If an order appears fraudulent in any way, Teamatical reserves the right to
      cancel the order and notify the cardholder or the authorities.</span>
  </p>
  <p class="c4">
    <span class="c9">Shipping And Delivery</span>
  </p>
  <p class="c4">
    <span class="c13">All orders place on Teamatical are made to order and require a week to process. Any additional requests or changes in
      the orders can lead to extra time needed for processing.</span>
  </p>
  <p class="c4">
    <span class="c13">Teamatical ships orders via United States Postal Service, DHL, FEDEX, UPS. Orders Shipped internationally can take up
      to 5 business days and can be delayed due to customs clearance after shipping. Orders shipped domestically usually
      arrive within two to four business days. Accurate shipping address and phone number are required. Your signature may
      be required for delivery. Because many events may occur at your delivery address that are beyond our control, you agree
      that any delivery confirmation provided by the carrier is sufficient proof of delivery to you as the customer and cardholder,
      even without a signature.</span>
  </p>
  <p class="c4">
    <span class="c9">Group Shipping and Order Aggregation</span>
  </p>
  <p class="c4">
    <span class="c13">Teamatical site allows teams to setup a custom store and enable it with group shipping. Such group purchases are shipping
      free of charge if combined quantity of the team orders are above designated threshold. If you are buying the product
      and choosing a group shipping option, it is your responsibility to insure that the person named as receiver is a right
      person designated by your team to receive the Team uniforms or other products.
    </span>
  </p>
  <p class="c4">
    <span class="c13">If you are the designated receiver of the group shipping, you have to agree to the notice sent to you via email or SMS
      message before the group shipping option is available to other buyers. Once you agree to become designated group shipping
      receiver, you accept the responsibility to receive the shipment for the people on you team and to distribute the product
      to your team members. If after agreeing to such duty you are unable to fulfill it, you have to designate another person
      and promptly inform Teamatical about such change.</span>
  </p>
  <p class="c4">
    <span class="c13">If you make mistake with your order and need to cancel it, you may do so without any penalties till the later of the
      day when you placed the order or till the deadline of the group orders.</span>
  </p>
  <p class="c4">
    <span class="c13">Once the order is submitted to production it may be hard to make the changes to your order but we will try to accommodate
      the requests sent to us via any communication means provided on the Site. The changes to your order might incur additional
      charges when the order production has already started or when your change involves change to a higher priced product.</span>
  </p>
  <p class="c4">
    <span class="c9">Return And Cancellation Policy</span>
  </p>
  <p class="c4">
    <span class="c13">You acknowledge that the products purchase on the Site are custom made and have no resale value if you return it. Due
      to the custom nature of our merchandise, Teamatical only accepts returns for damaged or misprinted items. 
      The misprinting means the manufacturing defect and not the defect in the actual design. 
      Please see our FAQ section&nbsp;for further details. You may cancel an order the same day it is placed for any individual order
      or till the order cutoff date if you selected group shipping option.&nbsp;
      <br>When you place an order with us you have at least till the end of the day to cancel it without any penalties, for group
      shipped orders this period is extended all the way to the </span>
  </p>
  <p class="c4">
    <span class="c9">Chargeback Policy</span>
  </p>
  <p class="c4" id="h.gjdgxs">
    <span class="c13">A &ldquo;charge back&rdquo; is a reversal of a credit/debit card charge. You do not need to file a charge back to obtain
      a credit due; simply contact us using the communication means provided on the Site to obtain a credit. Unnecessary
      charge backs are theft and can be prosecuted. If you believe that your credit/debit card was used fraudulently, please
      contact us immediately. You agree that you will not charge back any amounts charged to your credit/debit card through
      our Services. If you charge back a credit/debit card charge for a payment initiated by you, you agree that Teamatical
      may recover the amount of the charge back in addition to a $50 processing fee by any means necessary, including but
      not limited to recharging your credit/debit card or having the amount recovered by a collection agency.</span>
  </p>
  <p class="c7">
    <span class="c1"></span>
  </p>
  <p class="c4">
    <span class="c9">Applicable Law, Venue, And Jurisdiction</span>
  </p>
  <p class="c18">
    <span class="c11">These terms and conditions and your relationship with Teamatical shall be governed by and construed in accordance with
      the laws of the state of Washington, without resort to its conflict of law provisions. Any dispute relating in any
      way to your visit to the Site or to the products you purchase through the Site shall be submitted to confidential binding
      arbitration in the City of Seattle, Washington for the maximum judgment enforceable, except that to the extent you
      have in any manner violated or threatened to violate our intellectual property rights, we may seek injunctive or other
      appropriate relief in any state or federal court in the State of Washington. You hereby consent to, and waive all defenses
      of lack of personal jurisdiction and forum non convenience with respect to venue and jurisdiction in the state and
      federal courts of Washington. Arbitration under this Agreement shall be conducted pursuant to the existing Commercial
      Arbitration Rules at the American Arbitration Association. The arbitrator&#39;s award shall be final and binding and
      may be entered as a judgment in any court of competent jurisdiction. We each agree that any dispute resolution proceedings
      will be conducted only on an individual basis and not in a class, consolidated or representative action. If for any
      reason a claim is initiated in court rather than in arbitration we each waive any right to a jury trial.</span>
  </p>
  <p class="c7">
    <span class="c1"></span>
  </p>
  <p class="c4">
    <span class="c9">Site Policies, Modification, Severability, No Waiver</span>
  </p>
  <p class="c4">
    <span class="c13">We reserve the right to make changes to our Site, policies, products, and this Agreement at any time to, for example,
      reflect changes in the law or to our Services. You should look at these Terms of Use regularly because you are bound
      by any revisions we make; we will endeavor to make changes by posting them in red-line on these pages for fourteen
      days. Changes addressing new functions for a Service or changes made for legal reasons will be effective immediately.
      All other changes will not apply retroactively and will become effective fourteen days after they are first posted.
      If you do not agree to the modified Terms of Use, you should discontinue your use of the Site and the Service.</span>
  </p>
  <p class="c4">
    <span class="c13">If any of these terms are determined to be unenforceable, that term shall be severed, and this will not affect the validity
      and enforceability of the remaining terms. If you do not comply with these terms, and Teamatical does not take action
      right away, this does not mean that Teamatical is waiving any rights that it may have, such as taking action in the
      future. These terms control the relationship between Teamatical and you. They do not create any third party beneficiary
      rights.</span>
  </p>
  <p class="c4">
    <span class="c9">Entire Agreement</span>
  </p>
  <p class="c4">
    <span class="c13">This Agreement comprises the entire agreement between you and Teamatical, or between the Organization on whose behalf
      you are using the Services and Teamatical, and supersedes all prior or contemporaneous negotiations, discussions or
      agreements, whether written or oral, between the parties regarding the subject matter contained in this Agreement.</span>
  </p>
  <p class="c7">
    <span class="c1"></span>
  </p>

</div>
