<div class="maindiv">
	<div>
		<paper-progress 
			id="progress" 
			indeterminate 
			class="" 
			disabled$="[[!loading]]">
		</paper-progress>
		

		<div class="catalog">
			<div class="catalog-header">

				<h3>
					<span class="hidden" showen$="[[hasUnsavedChanges]]">
						<iron-icon icon="admin-icons:warning" class="warning"></iron-icon> [Unsaved Changes]
					</span>

					<paper-icon-button 
						class="refresh-btn" 
						icon="admin-icons:refresh"
						title="Refresh" 
						on-tap="_reloadTap">
					</paper-icon-button>

					Product Catalog Plugin
					
					<span hidden$="[[!order.CurrentCategoryID]]">- [Recent Category: [[order.CurrentCategoryID]]]</span>
				</h3>

				<div class="buttons">
					<paper-button 
						class="catalog-save-btn" 
						disabled$="[[disabledSaveBtn(loading, changedModel)]]" 
						hidden$="[[hideSaveBtn(order)]]" 
						raised
						on-tap="saveCatalogTap">
						Save Art Manager Catalog
					</paper-button>
				</div>

				<div class="category-controls">
					<paper-input 
						name="NewCategoryID"
						on-value-changed="onInputChanged"
						error-message="[[order.notvalid.NewCategoryID]]" 
						invalid="[[_asBool(order.notvalid.NewCategoryID)]]"
						class="new-category-input" 
						label="New Category ID" 
						type="string" 
						disabled$="[[loading]]" >
						<paper-spinner-lite slot="prefix" class="thick"></paper-spinner-lite>
						<paper-icon-button slot="suffix" class="add-btn" icon="admin-icons:add-circle-outline" on-tap="_addCategoryTap" title="Category title get from LOCALE by category-id ..."></paper-icon-button>
					</paper-input>


					<paper-input 
						class="new-product-input hidden-animated" 
						hidden-animated$="[[draggingTabs]]"
						label="New Product ID" 
						type="string" 
						disabled$="[[loading]]"
						name="ID"
						on-value-changed="onInputChanged"
						on-keydown="_addProductEnter"
						error-message="[[order.notvalid.ID]]" 
						invalid="[[_asBool(order.notvalid.ID)]]">
						<!-- <span slot="prefix">#: </span> -->
						<paper-spinner-lite slot="prefix" class="thick"></paper-spinner-lite>
						<paper-icon-button slot="suffix" class="add-btn" icon="admin-icons:add-circle-outline" on-tap="_addProductTap" title="Add new ProductConfigurationID to catalog makes clean all custom data and fallback to original design colors/styles ...">
						</paper-icon-button>
					</paper-input>

					<paper-checkbox 
						class="hidden-animated" 
						hidden-animated$="[[draggingTabs]]"
						checked="{{keepProductColors}}"
						title="(by default - used to use team info)">
						Keep Product Colors
					</paper-checkbox>

				</div>

				<span class="error">[[order.notvalid.Entries]]</span>

				<div class="edit-tabs">
					<div class="edit-tabs-list">
						<paper-tabs 
							slot="dropdown-content" 
							attr-for-selected="value"
							selected="{{order.CurrentCategoryID}}"
							class="dropdown-content"
							disabled$="[[loading]]" 
							hidden$="[[draggingTabs]]"
							scrollable
							noink1>
							<dom-repeat items="[[order.Entries]]" as="cati">
								<template>
									<paper-tab value$="[[cati.Category]]">
										#: [[cati.Category]]
										<paper-icon-button 
											class="remove-btn hidden-animated" 
											icon="admin-icons:close" 
											hidden-animated$="[[!draggingTabs]]"
											on-tap="_removeCategoryTap">
										</paper-icon-button>
										<iron-icon icon="admin-icons:error" class="error" hidden$="[[!_asBool(cati.notvalid.Category)]]" title="[[cati.notvalid.Category]]"></iron-icon>
									</paper-tab>
								</template>
							</dom-repeat>
						</paper-tabs>
		
						<div class="dropdown-content-edit" hidden$="[[!draggingTabs]]">
							<teamatical-ui-sortable-list 
								id="catList"
								class="categories hidden-animated" 
								draggable="false" 
								sortable="categories-item" 
								grabable="categories-item" 
								editing="[[draggingTabs]]"
								on-sort-finish="_onTabsSortFinish">
								<dom-repeat 
									id="catListRepeat"
									items="{{order.Entries}}" 
									as="cati">
									<template>
										<paper-tab
											drag-handler
											class="categories-item" 
											data-index$="[[index]]"
											value$="[[cati.Category]]">
											#: [[cati.Category]]
											<paper-icon-button 
												class="remove-btn hidden-animated" 
												icon="admin-icons:close" 
												hidden-animated$="[[!draggingTabs]]"
												on-tap="_removeCategoryTap">
											</paper-icon-button>
										</paper-tab>
									</template>
								</dom-repeat>
							</teamatical-ui-sortable-list>
						</div>
	
					</div>

					<div class="edit-tabs-btns">
						<paper-icon-button 
							class="edit-btn" 
							hidden$="[[draggingTabs]]"
							icon="admin-editor:mode-edit" 
							title="Edit Categories List"
							on-tap="_editCategoriesTap">
						</paper-icon-button>
						<paper-icon-button 
							class="edit-btn" 
							hidden$="[[!draggingTabs]]"
							icon="admin-icons:done" 
							title="Apply Categories List"
							on-tap="_editCategoriesTap">
						</paper-icon-button>
					</div>
				</div>
			</div>
		
			<div class="catalog-items">
				<teamatical-ui-sortable-list 
					id="catItems"
					class="products hidden-animated" 
					draggable="false" 
					sortable="products-item" 
					grabable="products-item" 
					editing="[[editing]]"
					on-sort-finish="_onListSortFinish">
					<dom-repeat 
						id="catItemsRepeat"
						items="{{category.ProductConfigurations}}" 
						as="item">
						<template>
							<tmladmin-catalog-plugin-products-item 
								class="products-item" 
								data-index$="[[index]]"
								item="{{item}}" 
								editing="[[editing]]" 
								website-url="[[websiteUrl]]"
								category-id="[[order.CurrentCategoryID]]"
								on-tap="onListItem">
							</tmladmin-catalog-plugin-products-item>
						</template>
					</dom-repeat>
				</teamatical-ui-sortable-list>

				<div showen$="[[isEmpty(category, category.ProductConfigurations.length)]]" class="empty-list">
					Empty Category
				</div>
				<div showen$="[[needSelectCategory(order.CurrentCategoryID, draggingTabs)]]" class="empty-list">
					Select Category
				</div>
			</div>
		
		
			<div class="catalog-footer">
			</div>
		</div>
	</div>
</div>




<paper-dialog id="dialogremove" proceed no-overlap dynamic-align vertical-align="middle" horizontal-align="center">
	<h2>Confirm Category Deleting</h2>
	<paper-dialog-scrollable>
		Category #: «[[dialogremove_id]]» with <b>[[dialogremove_list.length]]</b> items is going to be removed...are
		you sure?
	</paper-dialog-scrollable>
	<div class="buttons">
		<paper-button dialog-dismiss>Close</paper-button>
		<paper-button dialog-confirm autofocus on-tap="_removeCategoryConfirmTap">Remove Category</paper-button>
	</div>
</paper-dialog>

<paper-dialog id="dialogaddproduct" proceed no-overlap dynamic-align vertical-align="middle" horizontal-align="center">
	<h2>Add New Product</h2>
	<paper-dialog-scrollable>
		<paper-input 
			class="new-product-input" 
			label="New Product ID" 
			type="string" 
			disabled$="[[loading]]"
			name="ID"
			on-value-changed="onInputChanged"
			on-keydown="_addProductEnter"
			error-message="[[order.notvalid.ID]]" 
			invalid="[[_asBool(order.notvalid.ID)]]">
			<!-- <span slot="prefix">#: </span> -->
			<paper-spinner-lite slot="prefix" class="thick"></paper-spinner-lite>
			<paper-icon-button slot="suffix" class="add-btn" icon="admin-icons:add-circle-outline" on-tap="_addProductTap">
			</paper-icon-button>
		</paper-input>
	</paper-dialog-scrollable>
	<div class="buttons">
		<paper-button dialog-dismiss>CLOSE</paper-button>
	</div>
</paper-dialog>


<paper-dialog id="dialogsave" proceed no-overlap dynamic-align vertical-align="middle" horizontal-align="center">
	<h2>Confirm to Save</h2>
	<paper-dialog-scrollable>
		Art Manager Catalog is going to be saved...are you sure?
	</paper-dialog-scrollable>
	<div class="buttons">
		<paper-button dialog-dismiss>Close</paper-button>
		<paper-button dialog-confirm autofocus on-tap="saveCatalogConfirmTap">Save Catalog</paper-button>
	</div>
</paper-dialog>