<app-localstorage-document key="admin-product-accessories-columns" data="{{columnsSettings}}"></app-localstorage-document>

<div class="maindiv-grid">
	<div>
		<div class="panel-top">
			<paper-progress 
				id="progress" 
				indeterminate 
				class="" 
				disabled$="[[!loading]]">
			</paper-progress>

			<div class="buttons list">
				<paper-icon-button 
					class="refresh-btn" 
					icon="admin-icons:refresh" 
					title="Refresh" 
					on-tap="_refreshTap">
				</paper-icon-button>
				<paper-button class="new-product-view-btn indigo" raised on-tap="newProductAccessoryTap">
					New Product Accessory
				</paper-button>
			</div>
		</div>

		
		<x-data-provider data-provider="{{dataProvider}}"></x-data-provider>

		<vaadin-grid
			id="grid"
			aria-label="ProductAccessories" 
			theme="no-border column-borders wrap-cell-content row-stripes compact"
			data-provider="[[dataProvider]]"
			loading="{{loading}}"
			page-size="[[pageSize]]"
			column-reordering-allowed
			height-by-rows
			on-active-item-changed="_onActiveItemChanged">

			<template class="row-details">
				<div class="details-cell white">
					<span class="order-id copy-tap" on-tap="_copyTap">[[item.ProductAccessoryID]]</span>
					<a href="[[_urlViewProductAccessory(item.ProductAccessoryID)]]">
						<iron-icon icon="admin-icons:open-in-new" class="open-in-here"></iron-icon>
					</a>
				</div>
			</template>


			<vaadin-grid-column width="50px" flex-grow="0" resizable="true" id="#" frozen>
				<template class="header">#</template>
				<template>[[_formatPageN(index, item)]]</template>
				<template class="footer-off">#</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="340px" resizable="true" id="ProductAccessoryID">
				<template class="header">
					ProductAccessoryID
					<vaadin-grid-filter aria-label="ProductAccessoryID" path="ProductAccessoryID" value="[[_filterProductAccessoryID]]"></vaadin-grid-filter>
				</template>
				<template>
					<span class="order-id copy-tap" on-tap="_copyTap">[[item.ProductAccessoryID]]</span>
					<a href="[[_urlViewProductAccessory(item.ProductAccessoryID)]]">
						<iron-icon icon="admin-icons:open-in-new" class="open-in-here"></iron-icon>
					</a>
				</template>
				<template class="footer-off">ProductAccessoryID</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="120px" resizable="true" id="SKU">
				<template class="header">
					SKU
					<vaadin-grid-filter aria-label="SKU" path="SKU" value="[[_filterSKU]]">
					</vaadin-grid-filter>
				</template>
				<template>
					<span class="copy-tap" on-tap="_copyTap">[[item.SKU]]</span>
				</template>
				<template class="footer-off">SKU</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="380px" resizable="true" id="Name">
				<template class="header">
					Name
					<vaadin-grid-filter aria-label="Name" path="Name" value="[[_filterName]]">
					</vaadin-grid-filter>
				</template>
				<template>[[item.Name]]</template>
				<template class="footer-off">Name</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="220px" resizable="true" id="Barcode">
				<template class="header">
					Barcode
					<vaadin-grid-filter aria-label="Barcode" path="Barcode" value="[[_filterBarcode]]">
					</vaadin-grid-filter>
				</template>
				<template>
					<span class="copy-tap" on-tap="_copyTap">[[item.Barcode]]</span>
				</template>
				<template class="footer-off">Barcode</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="380px" resizable="true" id="Color">
				<template class="header">
					Color
					<!-- <vaadin-grid-filter aria-label="Color" path="Color" value="[[_filterColor]]">
					</vaadin-grid-filter> -->
				</template>
				<template>
					<div class="accessory-color">
						<dom-if if="[[item.HasColor]]">
							<template>
								<div class="color" style$="[[_convertBkgColor(item.Color.h)]]">
									[[item.Color.n]]
								</div>
							</template>
						</dom-if>
					</div>
				</template>
				<template class="footer-off">Color</template>
			</vaadin-grid-column>
			
			<vaadin-grid-column width="380px" resizable="true" id="Properties">
				<template class="header">
					Properties
					<vaadin-grid-filter aria-label="Properties" path="Properties" value="[[_filterProperties]]"></vaadin-grid-filter>
				</template>
				<template>
					<pre>[[item.Properties]]</pre>
				</template>
				<template class="footer-off">Properties</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="380px" resizable="true" id="Units">
				<template class="header">
					Units
					<!-- <vaadin-grid-filter aria-label="Units" path="Units" value="[[_filterUnits]]"></vaadin-grid-filter> -->
				</template>
				<template>
					<pre>[[item.Units]]</pre>
				</template>
				<template class="footer-off">Units</template>
			</vaadin-grid-column>

			<!-- <vaadin-grid-column width="210px" resizable="true" id="SideName">
				<template class="header">
					SideName
					<vaadin-grid-filter class="hidden" aria-label="SideName" aria-placeholder="SideName" path="SideName"
						value="[[_filterSideName]]"></vaadin-grid-filter>
					<vaadin-combo-box id="SideNameCombo" value="{{_filterSideName}}">
					</vaadin-combo-box>
				</template>
				<template>
					[[item.SideName]]
				</template>
				<template class="footer-off">SideName</template>
			</vaadin-grid-column> -->

		</vaadin-grid>


		<div class="panel-bottom">
			<tmladmin-ui-grid-pagination 
				visible="[[visible]]"
				loading="[[loadingAny]]"
				localstorage-key="admin-product-accessories-pagesize"
				page-size="{{pageSize}}"
				pfirst="[[pfirst]]"
				plast="[[plast]]"
				ptoken="[[ptoken]]"
				ptoken_next="[[ptoken_next]]"
				total-elements="[[totalElements]]"
				total-pages="[[totalPages]]"
				page="[[page]]"
				pages="[[pages]]">
			</tmladmin-ui-grid-pagination>
		</div>

	</div>
</div>