checkbox-container:host {
	display: block;

	/* margin: 0 auto; */
	/* max-width: var(--app-page-width); */
}

.checkbox-container > * {
	margin: 8px 8px;
}

:host([should-show-tabs]) header {
	display: none;
}

.count {
	@apply --app-font-pdf;
	font-size: 20px;	
}

#search {
	margin: 0 10px;
}

#search-progress {
	margin: 22px;
	float: right;
}

.order-save-btn {
	--paper-button: {
		background: var(--paper-indigo-600);
		color: white;
	};
}
.order-reprocess-btn {
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}


.order-items teamatical-ui-select[disabled] {
	opacity: .3;
}
.order-items teamatical-ui-select {
	border: 1px dashed black;
    border-radius: 5px;
    padding: 2px 4px 0px 4px;
}

#dialogdump paper-dialog-scrollable pre {
	max-width: 1100px;
	max-height: 900px;
}

.spinner paper-spinner-lite {
	margin-top: 18px;
}
    
.order {
	margin-bottom: 35px;
	border-bottom: 4px double var(--light-theme-divider-color);
}

.order-header h3 {
	padding-left: 15px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}

.order-header {
	margin-right: 5px;
	/* margin: 0px 15px; */

	/* background-color: #cccccc;
	border-radius: 8px; 
	border: 1px solid #ccc;*/
	/* padding: 0px 5px; */
}

.order-payment-history {
	margin: 24px 0px 24px 0px;
}
.order-payment-history h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
/*
.order-payment-history table tr {
	border-bottom: 1px solid var(--divider-color);
} */
.order-payment-history .table {
	margin: 16px;
	width: calc(100% - 16px);
	max-width:950px;
}

.order-payment-history .table paper-button {
	display: block;
	text-align: center;
}
/* .order-payment-history .row {
	cursor: pointer;
} */


.order-history {
	margin: 24px 0px 24px 0px;
}
.order-history h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-history .table {
	margin: 16px;
	width: calc(100% - 16px);
	max-width:1250px;
}


.table { 
	display: table; 
}
.table .row, .table .header { display: table-row;}
.table .row > *, .table .header > * { 
	display: table-cell; 
	padding: 0.25em;
}
.table .header > * { 
	font-weight: bold;
}
.table .header > * { 
	border-bottom: 1px solid var(--divider-color);
}
.table .row > * {
	border-bottom: 1px dashed var(--divider-color);
}
.table .centered {
	text-align: center;
}

.order-list {
	margin-top: 10px;
}

.order-items {
	margin: 16px 0px;
}
.order-items h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
}

tmladmin-ui-dropdown-menu,
paper-dropdown-menu, 
paper-dropdown-menu-light {
	width: unset;
	min-width: 200px;
}

.order-items tmladmin-production-order-item {
	border-top: 1px dashed var(--divider-color);
	padding: 0px 0px 24px 0px;
}

.order-items tmladmin-production-order-item:first-of-type {
	border-top: 1px solid var(--divider-color);
}
.order-items tmladmin-production-order-item {
	border-top: 2px solid var(--paper-green-600);
}

.order-items tmladmin-production-order-item:last-of-type {
	border-bottom: 1px solid var(--divider-color);
}

.order-footer {
	margin: 0px 15px;
	margin-bottom: 30px;
}

.order-not-cancelable {
	border-radius: 5px;
	border: 1px dashed var(--app-secondary-color);
	padding: 8px;
	display: inline;
}

.empty-list {
	text-align: center;
	white-space: nowrap;
	color: var(--app-secondary-color);
}

.buttons {
	display: flex;
    align-items: center;
	justify-content: left;
}

ui-loader {
	padding-top: 0px;
	display: block;
	margin-top: 40px;
}

.checkout-box {
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

.subtotal {
	margin: 0 64px 0 24px;
}

.main-frame {
	padding: 0 8px 48px 8px;
}


.order-items,
.order-history,
.order-output-results,
.order-tasks {
	margin: 24px 0px 64px 0px;
}
.order-items h2,
.order-history h2,
.order-output-results h2,
.order-tasks h2 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-items h2,
.order-history h2,
.order-output-results h2,
.order-tasks h2 {
	background-color: var(--paper-blue-grey-600);
	color:white;
	fill: white;
}
.order-items .table,
.order-history .table,
.order-output-results .table,
.order-tasks .table {
	margin: 16px;
	width: calc(100% - 32px);
}
/* .order-items,
.order-history,
.order-output-results,
.order-tasks .table {
	max-width: 1450px;
} */






.preview-img {
	text-align: center;
  margin: 8px;
}
.preview-img img {
	width: 320px;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}



@media (max-width: 767px) {

	.subtotal {
	margin: 0 0 0 24px;
	}

	#checkout {
	margin-left: 20px;
	}

	#checkout[responsive] {
	margin-left: 0px;
	}

	.main-frame {
	padding: 0 1px 6px 1px;
	}
}