:host {
	display: block;
	padding: 0px;
	height: 100%;
}

.order-сollapse-btn {
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}

@media (max-width: 870px) {
	.buttons {
		--tm-button-width: unset !important;
	}	
}