<app-localstorage-document key="admin-colors-columns" data="{{columnsSettings}}"></app-localstorage-document>

<div class="maindiv-grid">
	<div>
		<div class="panel-top">
			<paper-progress 
				id="progress" 
				indeterminate 
				class="" 
				disabled$="[[!loading]]">
			</paper-progress>

			<div class="buttons list">
				<paper-icon-button 
					class="refresh-btn" 
					icon="admin-icons:refresh" 
					title="Refresh" 
					on-tap="_refreshTap">
				</paper-icon-button>
				<paper-button class="upload-new-product-btn indigo" raised on-tap="newColorTap">
					New Color
				</paper-button>
			</div>
		</div>

		
		<x-data-provider data-provider="{{dataProvider}}"></x-data-provider>

		<vaadin-grid
			id="grid"
			aria-label="Colors" 
			theme="no-border column-borders wrap-cell-content row-stripes compact"
			data-provider="[[dataProvider]]"
			loading="{{loading}}"
			page-size="[[pageSize]]"
			column-reordering-allowed
			height-by-rows
			on-active-item-changed="_onActiveItemChanged">

			<template class="row-details">
				<div class="details-cell white">
					<span class="order-id copy-tap" on-tap="_copyTap">[[item.i]]</span>
					<a href="[[_urlViewColor(item.i)]]">
						<iron-icon icon="admin-icons:open-in-new" class="open-in-here"></iron-icon>
					</a>
				</div>
			</template>

			<vaadin-grid-column width="50px" flex-grow="0" resizable="true" id="#" frozen>
				<template class="header">#</template>
				<template>[[_formatPageN(index, item)]]</template>
				<template class="footer-off">#</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="340px" resizable="true" id="ID">
				<template class="header">
					ID
					<vaadin-grid-filter aria-label="ID" path="i" value="[[_filterID]]"></vaadin-grid-filter>
				</template>
				<template>
					<span class="order-id copy-tap" on-tap="_copyTap">[[item.i]]</span>
					<a href="[[_urlViewColor(item.i)]]">
						<iron-icon icon="admin-icons:open-in-new" class="open-in-here"></iron-icon>
					</a>
				</template>
				<template class="footer-off">ID</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="380px" resizable="true" id="n">
				<template class="header">
					Name
					<vaadin-grid-filter aria-label="Name" path="n" value="[[_filtern]]"></vaadin-grid-filter>
				</template>
				<template>
					[[item.n]]
				</template>
				<template class="footer-off">
					Name
				</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="380px" resizable="true" id="h">
				<template class="header">
					Hex
					<vaadin-grid-filter aria-label="Hex" path="h" value="[[_filterh]]"></vaadin-grid-filter>
				</template>
				<template>
					<div class="product-color">
						<div class="color" style$="[[_convertBkgColor(item.h)]]">
							#[[item.h]]
						</div>
					</div>
				</template>
				<template class="footer-off">
					Hex
				</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="380px" resizable="true" id="L">
				<template class="header">
					Lab
				</template>
				<template>
					[[item.L]],
					[[item.a]],
					[[item.b]]
				</template>
				<template class="footer-off">
					Lab
				</template>
			</vaadin-grid-column>
		</vaadin-grid>


		<div class="panel-bottom">
			<tmladmin-ui-grid-pagination 
				visible="[[visible]]"
				loading="[[loadingAny]]"
				localstorage-key="admin-colors-pagesize"
				page-size="{{pageSize}}"
				pfirst="[[pfirst]]"
				plast="[[plast]]"
				ptoken="[[ptoken]]"
				ptoken_next="[[ptoken_next]]"
				total-elements="[[totalElements]]"
				total-pages="[[totalPages]]"
				page="[[page]]"
				pages="[[pages]]">
			</tmladmin-ui-grid-pagination>
		</div>

	</div>
</div>