<app-localstorage-document key="admin-sizecategories-columns" data="{{columnsSettings}}"></app-localstorage-document>

<div class="maindiv-grid">
	<div>
		<div class="panel-top">
			<paper-progress 
				id="progress" 
				indeterminate 
				class="" 
				disabled$="[[!loading]]">
			</paper-progress>

			<div class="buttons list">
				<paper-icon-button 
					class="refresh-btn" 
					icon="admin-icons:refresh" 
					title="Refresh" 
					on-tap="_refreshTap">
				</paper-icon-button>
				<paper-button class="upload-new-product-btn indigo" raised on-tap="newSizeCategoryTap">
					New Size Category
				</paper-button>
			</div>
		</div>

		
		<x-data-provider data-provider="{{dataProvider}}"></x-data-provider>

		<vaadin-grid
			id="grid"
			aria-label="Products" 
			theme="no-border column-borders wrap-cell-content row-stripes compact"
			data-provider="[[dataProvider]]"
			loading="{{loading}}"
			page-size="[[pageSize]]"
			column-reordering-allowed
			height-by-rows
			on-active-item-changed="_onActiveItemChanged">

			<template class="row-details">
				<div class="details-cell white">
					<span class="order-id">[[item.id]]</span>
					<a href="[[_urlViewSizeCategory(item.id)]]">
						<iron-icon icon="admin-icons:open-in-new" class="open-in-here"></iron-icon>
					</a>
				</div>
			</template>

			<vaadin-grid-column width="50px" flex-grow="0" resizable="true" id="#" frozen>
				<template class="header">#</template>
				<template>[[_formatPageN(index, item)]]</template>
				<template class="footer-off">#</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="340px" resizable="true" id="ID">
				<template class="header">
					ID
					<vaadin-grid-filter aria-label="ID" path="ID" value="[[_filterID]]"></vaadin-grid-filter>
				</template>
				<template>
					<span class="order-id">[[item.id]]</span>
					<a href="[[_urlViewSizeCategory(item.id)]]">
						<iron-icon icon="admin-icons:open-in-new" class="open-in-here"></iron-icon>
					</a>
				</template>
				<template class="footer-off">ID</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="380px" resizable="true" id="SizeCategoryName">
				<template class="header">
					SizeCategoryName
					<vaadin-grid-filter aria-label="SizeCategoryName" path="SizeCategoryName" value="[[_filterSizeCategoryName]]"></vaadin-grid-filter>
				</template>
				<template>[[item.SizeCategoryName]]</template>
				<template class="footer-off">SizeCategoryName</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="160px" resizable="true" id="SizesCount">
				<template class="header">
					SizesCount
					<!-- <vaadin-grid-filter aria-label="SizesCount" path="SizesCount" value="[[_filterSizesCount]]"></vaadin-grid-filter> -->
				</template>
				<template>[[item.SizesCount]]</template>
				<template class="footer-off">SizesCount</template>
			</vaadin-grid-column>

		</vaadin-grid>


		<div class="panel-bottom">
			<tmladmin-ui-grid-pagination 
				visible="[[visible]]"
				loading="[[loadingAny]]"
				localstorage-key="admin-sizecategories-pagesize"
				page-size="{{pageSize}}"
				pfirst="[[pfirst]]"
				plast="[[plast]]"
				ptoken="[[ptoken]]"
				ptoken_next="[[ptoken_next]]"
				total-elements="[[totalElements]]"
				total-pages="[[totalPages]]"
				page="[[page]]"
				pages="[[pages]]">
			</tmladmin-ui-grid-pagination>
		</div>

	</div>
</div>