<app-localstorage-document key="admin-product-views-columns" data="{{columnsSettings}}"></app-localstorage-document>

<div class="maindiv-grid">
	<div>
		<div class="panel-top">
			<paper-progress 
				id="progress" 
				indeterminate 
				class="" 
				disabled$="[[!loading]]">
			</paper-progress>

			<div class="buttons list">
				<paper-icon-button 
					class="refresh-btn" 
					icon="admin-icons:refresh" 
					title="Refresh" 
					on-tap="_refreshTap">
				</paper-icon-button>

				<paper-button class="new-product-view-btn indigo" raised on-tap="newProductViewTap">
					New Product View
				</paper-button>

				<div class="order-dangersection-btn">
					<paper-button 
						class="order-сollapse-btn" 
						disabled$="[[loading]]" 
						raised
						on-tap="сollapseTap">
						Collapse
					</paper-button>
				</div>
			</div>
		</div>
		
		<x-data-provider data-provider="{{dataProvider}}"></x-data-provider>

		<vaadin-grid
			id="grid"
			aria-label="ProductViews" 
			theme="no-border column-borders wrap-cell-content row-stripes compact"
			data-provider="[[dataProvider]]"
			loading="{{loading}}"
			page-size="[[pageSize]]"
			column-reordering-allowed
			height-by-rows
			on-active-item-changed="_onActiveItemChanged">

			<template class="row-details">
				<div class="details-cell white">
					<span class="order-id copy-tap" on-tap="_copyTap">[[item.ViewID]]</span>
					<a href="[[_urlViewProductView(item.ViewID)]]">
						<iron-icon icon="admin-icons:open-in-new" class="open-in-here"></iron-icon>
					</a>
				</div>
			</template>

			<vaadin-grid-column width="50px" flex-grow="0" resizable="true" id="#" frozen>
				<template class="header">#</template>
				<template>[[_formatPageN(index, item)]]</template>
				<template class="footer-off">#</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="340px" resizable="true" id="ViewID">
				<template class="header">
					ViewID
					<vaadin-grid-filter aria-label="ViewID" path="ViewID" value="[[_filterViewID]]"></vaadin-grid-filter>
				</template>
				<template>
					<span class="order-id copy-tap" on-tap="_copyTap">[[item.ViewID]]</span>
					<a href="[[_urlViewProductView(item.ViewID)]]">
						<iron-icon icon="admin-icons:open-in-new" class="open-in-here"></iron-icon>
					</a>
				</template>
				<template class="footer-off">ViewID</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="380px" resizable="true" id="SKU">
				<template class="header">
					SKU
					<vaadin-grid-filter aria-label="SKU" path="SKU" value="[[_filterSKU]]"></vaadin-grid-filter>
				</template>
				<template>
					<span class="copy-tap" on-tap="_copyTap">[[item.SKU]]</span>
				</template>
				<template class="footer-off">SKU</template>
			</vaadin-grid-column>

			<vaadin-grid-column width="210px" resizable="true" id="SideName">
				<template class="header">
					SideName
					<vaadin-grid-filter class="hidden" aria-label="SideName" aria-placeholder="SideName" path="SideName"
						value="[[_filterSideName]]"></vaadin-grid-filter>
					<vaadin-combo-box id="SideNameCombo" value="{{_filterSideName}}" style="width:110px;">
					</vaadin-combo-box>
				</template>
				<template>
					[[item.SideName]]
				</template>
				<template class="footer-off">SideName</template>
			</vaadin-grid-column>

		</vaadin-grid>


		<div class="panel-bottom">
			<tmladmin-ui-grid-pagination 
				visible="[[visible]]"
				loading="[[loadingAny]]"
				localstorage-key="admin-product-views-pagesize"
				page-size="{{pageSize}}"
				pfirst="[[pfirst]]"
				plast="[[plast]]"
				ptoken="[[ptoken]]"
				ptoken_next="[[ptoken_next]]"
				total-elements="[[totalElements]]"
				total-pages="[[totalPages]]"
				page="[[page]]"
				pages="[[pages]]">
			</tmladmin-ui-grid-pagination>
		</div>

	</div>
</div>