:host {
	display: block;

	/* margin: 0 auto; */
	/* max-width: var(--app-page-width); */
}

@media (max-width: 767px) {
	.horiz-container {
		flex-direction: column;
	}
	.delivery-rates-section tmladmin-ui-dropdown-menu {
		min-width: calc(100% - 16px);
	}
}

.code {
	color: var(--paper-blue-800);
	@apply --app-font-monospace;
	--paper-input-container-input-color: var(--paper-blue-800);
    --paper-input-font-family: monospace;
    --iron-autogrow-textarea: {
	  font-size: 1.0em;
	  @apply --app-font-monospace;
    };
}

.table .row[disabled] {
	background-color: #ccc;
}

.provider-id {
	text-transform: uppercase;
}

:host([should-show-tabs]) header {
	display: none;
}
.order-save-hub-btn {
	--paper-button: {
		background: var(--paper-indigo-600);
		color: white;
	};
}

.selection tmladmin-ui-dropdown-menu  {
	width: 100%;
}
.delivery-rates-section tmladmin-ui-dropdown-menu {
	min-width: 360px;
}

multiselect-combo-box {
    width: calc(100% - 16px);
}

.barcode {
	@apply --app-font-barcode;
	font-size: 32px;
	font-weight: normal;
}

paper-input.newinput {
	max-width: 420px;
	margin-left: 8px;
}


paper-input#newadmin {
	max-width: 420px;
}

.packages-list,
.layouts-list,
.manufacturers-list {
	margin: 24px 0px 24px 0px;
}
.packages-list h4,
.layouts-list h4,
.order-inputs h4,
.order-packages h4,
.order-history h4,
.order-shipment h4,
.order-payment-history h4,
.order-items h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
}

.gap-container {
	margin: 8px;
}
.packages-list .table {
	/* margin: 16px; */
	width: 100%;
	width: calc(100% - 16px);
	/* max-width:1250px; */
}

.chart-countainer canvas {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
.chart-countainer {
	margin-right: 26px;
	max-width: 900px;
}

vaadin-grid vaadin-text-field {
	width: 100%;
}

vaadin-grid vaadin-button {
	margin-left: 5px;
}

paper-radio-button {
	margin: 8px;
}

[part~="cell"].notvalid {
	background: rgb(255, 240, 240);
}
.notvalid,
[has-errors] {
    background-color: red;
}
.alert {
    margin: 4px;
    padding: 4px;	
    color: white;
    border-radius: 8px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
}
.alert pre {
	white-space: pre-line;
}

#search {
	margin: 0 10px;
}

#search-progress {
	margin: 22px;
	float: right;
}

#dialogdump paper-dialog-scrollable pre {
	max-width: 1100px;
	max-height: 900px;
}

.spinner paper-spinner-lite {
	margin-top: 18px;
}
    
.order {
	margin-bottom: 35px;
	border-bottom: 4px double var(--light-theme-divider-color);
}

.order-cancel-btn {
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}

.order-clone-btn {
	--paper-button: {
		background: var(--paper-green-900);
		color: white;
	};
}


.clone-btn {
	--paper-button: {
		background: var(--paper-green-900);
		color: white;
	};
}

.edit-btn {
	--paper-button: {
		background: var(--paper-indigo-600);
		color: white;
	};
}

.delete-btn {
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}

.order-save-container-btn {
	--paper-button: {
		background: var(--paper-indigo-600);
		color: white;
	};
}

.order-header h3 {
	padding-left: 15px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}

.order-header {
	margin-right: 5px;
	/* margin: 0px 15px; */

	/* background-color: #cccccc;
	border-radius: 8px; 
	border: 1px solid #ccc;*/
	/* padding: 0px 5px; */
}

.order-payment-history {
	margin: 24px 0px 24px 0px;
}
/*
.order-payment-history table tr {
	border-bottom: 1px solid var(--divider-color);
} */
.order-payment-history .table {
	margin: 16px;
	width: 100%;
	width: calc(100% - 16px);
	/* max-width: 950px; */
}

.order-payment-history .table paper-button {
	display: block;
	text-align: center;
}
/* .order-payment-history .row {
	cursor: pointer;
} */

.small-inputs paper-checkbox {
	height: 55px;
    width: 100%;
}

.order-inputs .main {
	padding-top: 9px;
	min-width: 320px;
}
.order-inputs > * {
	padding-left: 16px;
}

.order-inputs,
.order-history,
.order-shipment {
	margin: 24px 16px 24px 0px;
}
.order-inputs .table,
.order-history .table,
.order-shipment .table {
	width: 100%;
	width: calc(100% - 16px);
}

.order-inputs paper-checkbox {
	margin: 8px 8px 8px 0px;
}


.table { 
	display: table; 
}
.table .row, .table .header { display: table-row;}
.table .row > *, .table .header > * { 
	display: table-cell; 
	padding: 0.25em;
}
.table .header > * { 
	font-weight: bold;
}
.table .header > * { 
	border-bottom: 1px solid var(--divider-color);
}
.table .row > * {
	border-bottom: 1px dashed var(--divider-color);
}
.table .centered {
	text-align: center;
}

.order-list {
	margin-top: 10px;
}

.order-items {
	margin: 16px 0px;
}

.order-items teamatical-ui-order-item {
	border-top: 1px dashed var(--divider-color);
}

.order-items teamatical-ui-order-item:first-of-type {
	border-top: 1px solid var(--divider-color);
}

.order-items teamatical-ui-order-item:last-of-type {
	border-bottom: 1px solid var(--divider-color);
}

.order-footer {
	margin: 0px 15px;
	margin-bottom: 30px;
}

.order-not-cancelable {
	border-radius: 5px;
	border: 1px dashed var(--app-secondary-color);
	padding: 8px;
	display: inline;
}

.empty-list {
	text-align: center;
	white-space: nowrap;
	color: var(--app-secondary-color);
}

.dialog_rate .buttons {
	justify-content: right;
}

ui-loader {
	padding-top: 0px;
	display: block;
	margin-top: 40px;
}

.checkout-box {
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

.subtotal {
	margin: 0 64px 0 24px;
}

.main-frame {
	padding: 0 8px 48px 8px;
}


.production-template-svg {
	display: block;
}

.production-template-svg teamatical-ui-image-svg[selected]
{
	opacity: 0.2;
}

.production-template-svg .container-select {
	position: relative;
}
.production-template-svg .container-select teamatical-ui-image-svg{
	position: absolute;
	top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

paper-input[readonly='true'] iron-icon.color-picker-button  {
    cursor: default;
}
.color-picker-button {
    cursor: pointer;

    --iron-icon-height: 30px;
    --iron-icon-width: 30px;
    --iron-icon: {
        -webkit-filter: drop-shadow( -2px -2px 2px #c0c0c0 ); 
                filter: drop-shadow( -2px -2px 2px #c0c0c0 );
    };

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-backface-visibility:hidden;
}

.order-add-all-countries-btn {
	min-width: 160px;
	margin: 0px 16px;
}

.horiz-2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
}

.horiz-2 .small-inputs {
	flex-grow: 20;
}

.preview-img {
	text-align: center;
  	margin: 8px;
}
.preview-img img {
	width: 320px;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}
.preview-img.table img {
	width: 120px;
}


.packages-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}

.package-container {
	border: 2px dashed var(--light-theme-divider-color);
	border-radius: 8px;
	margin: 8px;
	max-width: 476px;
}
.package-container[is-disposed] {
	border: 2px dashed var(--paper-red-600);
}
.package-container .remove-container {
	float: right;
}
.package-container .color-container {
	width: 340px;
    display: inline-block;
    padding: 8px;
    /* margin: 16px; */
}
.package-container teamatical-ui-quantity {
	width:340px;
	display: inline-block;
	padding: 8px;
    /* margin: 16px; */
}

.package-container .row paper-input.uiquantity,
.package-container .row teamatical-ui-quantity {
	width: 68px;
	padding: 0px;
}


/* 
.order-dangersection-btn {
	margin-left: auto;
	display: inline-flex;
} */

.order-dispose-btn {
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}

.order-history {
	margin: 24px 0px 24px 0px;
}
.order-history,
.order-shipment {
	margin: 24px 0px 24px 0px;
}
.order-history h4,
.order-shipment h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-history .table,
.order-shipment .table {
	margin: 16px;
	width:100%;
	/* max-width:1250px; */
}


@media (max-width: 767px) {
	.order-header {
		margin-right: 0px;
	}
	.subtotal {
		margin: 0 0 0 24px;
	}

	#checkout {
		margin-left: 20px;
	}

	#checkout[responsive] {
		margin-left: 0px;
	}

	.main-frame {
		padding: 0 1px 6px 1px;
	}

	.order-inputs > * {
		padding-left: 4px;
	}

}