<div class="maindiv">
	<div>
		<paper-progress 
			id="progress" 
			indeterminate 
			class="" 
			disabled$="[[!loading]]">
		</paper-progress>


		<div class="order">
			<div class="order-header">
				<h3>
					<span class="hidden" showen$="[[hasUnsavedChanges]]">
						<iron-icon icon="admin-icons:warning" class="warning"></iron-icon> [[localize('admin-flag-unsaved')]]
					</span>

					<paper-icon-button 
						class="refresh-btn" 
						icon="admin-icons:refresh"
						title="Refresh" 
						on-tap="_reloadTap">
					</paper-icon-button>

					Shipping Hub #: 
					<span class="copy-tap" on-tap="_copyTap">[[order.ID]]</span>

					<!-- / [[_formatDate(order.Created)]] -->
					<!-- <br/>
					<span class="barcode-as-text">
						Barcode: [[order.Barcode]]
					</span>
					<span class="barcode">
						*[[order.Barcode]]*
					</span> -->

					<!-- <dom-if if="[[order.QrCodeSvg]]">
						<template>
							<teamatical-ui-image-svg class="qr-code" svg-src="[[order.QrCodeSvg]]"></teamatical-ui-image-svg>
						</template>
					</dom-if> -->

					<!-- <span class="hide-on-print" hidden$="[[!userInfo.isAdmin]]">
						[[localize('admin-manufacturer-title')]]
						[[order.ManufacturerName]]
					</span> -->
				</h3>


				<div class="buttons">
					<paper-button 
						class="order-save-hub-btn" 
						disabled$="[[loading]]" 
						hidden$="[[hideSaveBtn(order)]]" 
						raised
						on-tap="saveShippingHubTap">
						Save Shipping Hub
					</paper-button>
				
					<paper-dialog id="dialogsave" proceed no-overlap dynamic-align vertical-align="middle" horizontal-align="center">
						<h2>Confirm Shipping Hub to Save</h2>
						<paper-dialog-scrollable>
							Shipping Hub #: [[order.ID]] is going to be saved...are you sure?
							<!-- <paper-textarea label="Refund reason" value="{{dialogcancel_reason}}"></paper-textarea> -->
						</paper-dialog-scrollable>
						<div class="buttons">
							<paper-button dialog-dismiss>Close</paper-button>
							<paper-button dialog-confirm autofocus class="order-save-hub-btn"  on-tap="saveShippingHubConfirmTap">Save Shipping Hub</paper-button>
						</div>
					</paper-dialog>


					<div class="order-dangersection-btn">
						<paper-button 
							class="order-clone-btn" 
							disabled$="[[loading]]" 
							hidden$="[[hideCloneBtn(order.ID)]]" 
							raised
							on-tap="cloneTap">
							Clone Hub
						</paper-button>

						<paper-button class="order-dispose-btn hidden"
							disabled$="[[loading]]"
							showen-block$="[[order.IsDisposable]]"
							raised
							on-tap="disposeTap">
							Dispose Shipping Hub
						</paper-button>

						<paper-dialog id="dialogdispose" proceed no-overlap dynamic-align vertical-align="middle" horizontal-align="center">
							<h2>Dispose Сontainer Confirmation</h2>
							<paper-dialog-scrollable>
								Dispose hub...are you sure?
								<paper-textarea 
									label="Dispose Shipping Hub Reason" 
									style="min-height: 150px;"
									value="{{dialogdispose.reason}}"
									on-value-changed="onInputChanged" 
									name="dialogdispose.DisposeReason"
									error-message="[[dialogdispose.notvalid.DisposeReason]]"
									invalid="[[_asBool(dialogdispose.notvalid.DisposeReason)]]"></paper-textarea>
							</paper-dialog-scrollable>
							<div class="buttons">
								<paper-button dialog-dismiss>Close</paper-button>
								<paper-button dialog-confirm autofocus class="order-dispose-btn" on-tap="disposeConfirmTap">Dispose Shipping Hub</paper-button>
							</div>
						</paper-dialog>
					</div>					
				</div>
				
				
				<div class="order-inputs">
					<h4>
						Details:
					</h4>

					<paper-checkbox checked="{{order.Disabled}}" disabled$="[[loadingAny]]">
						Disabled
					</paper-checkbox>

					<!-- <paper-checkbox checked="{{order.ThirdPartyDelivery}}" disabled$="[[loadingAny]]">
						Allow Third-Party Delivery (aka Simple)
					</paper-checkbox> -->
					


					<div class="small-inputs">
						<paper-input 
							label="Name" 
							type="string" 
							disabled$="[[loadingAny]]"
							value="{{order.Name}}"
							name="Name"
							on-value-changed="onInputChanged"
							error-message="[[order.notvalid.Name]]" 
							invalid="[[_asBool(order.notvalid.Name)]]">
						</paper-input>

						<paper-input 
							label="ManufacturerID (the factory where shipping hub located at)" 
							placeholder="None"
							type="string" 
							disabled$="[[loadingAny]]"
							value="{{order.ManufacturerID}}"
							name="ManufacturerID"
							on-value-changed="onInputChanged"
							error-message="[[order.notvalid.ManufacturerID]]" 
							invalid="[[_asBool(order.notvalid.ManufacturerID)]]">
						</paper-input>

						<paper-input 
							class="small-inputs-mock" 
							label="..." 
							type="string" 
							disabled>
						</paper-input>
					</div>
					
					<div class="horiz-2">
						<div class="small-inputs">
							<paper-input label="[[localize('order-title-email')]]" type="string" value="{{order.AccountEmail}}"
							 			 disabled$="[[loadingAny]]"
										 name="AccountEmail" on-value-changed="onInputChanged" error-message="[[order.notvalid.AccountEmail]]"
										 invalid="[[_asBool(order.notvalid.AccountEmail)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-phone')]]" type="string" value="{{order.AccountPhone}}"
							 			 disabled$="[[loadingAny]]"
										 name="AccountPhone" on-value-changed="onInputChanged" error-message="[[order.notvalid.AccountPhone]]"
										 invalid="[[_asBool(order.notvalid.AccountPhone)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-firstname')]]" type="string" value="{{order.ShipFirstName}}"
							 			 disabled$="[[loadingAny]]"
										 name="ShipFirstName" on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipFirstName]]"
										 invalid="[[_asBool(order.notvalid.ShipFirstName)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-lastname')]]" type="string" value="{{order.ShipLastName}}"
							 			 disabled$="[[loadingAny]]"
										 name="ShipLastName" on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipLastName]]"
										 invalid="[[_asBool(order.notvalid.ShipLastName)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-address')]]" type="string" value="{{order.ShipAddress}}"
							 			 disabled$="[[loadingAny]]"
										 name="ShipAddress" on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipAddress]]"
										 invalid="[[_asBool(order.notvalid.ShipAddress)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-address2')]]" type="string" value="{{order.ShipAddress2}}"
							 			 disabled$="[[loadingAny]]"
										 name="ShipAddress2" on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipAddress2]]"
										 invalid="[[_asBool(order.notvalid.ShipAddress2)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-address3')]]" type="string" value="{{order.ShipAddress3}}"
							 			 disabled$="[[loadingAny]]"
										 name="ShipAddress3" on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipAddress3]]"
										 invalid="[[_asBool(order.notvalid.ShipAddress3)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-city')]]" type="string" value="{{order.ShipCity}}" name="ShipCity"
							 			 disabled$="[[loadingAny]]"
										 on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipCity]]"
										 invalid="[[_asBool(order.notvalid.ShipCity)]]">
							</paper-input>

							<paper-input label="[[localizeByCountry('order-title-state', order.ShipCountryCode)]]" type="string" value="{{order.ShipState}}"
							 			 disabled$="[[loadingAny]]"
										 name="ShipState" on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipState]]"
										 invalid="[[_asBool(order.notvalid.ShipState)]]">
							</paper-input>

							<paper-input label="[[localizeByCountry('order-title-zip', order.ShipCountryCode)]]"
							 			 disabled$="[[loadingAny]]"
										 type="string" value="{{order.ShipZip}}" name="ShipZip"
										 on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipZip]]"
										 invalid="[[_asBool(order.notvalid.ShipZip)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-country')]]" type="string" value="{{order.ShipCountry}}"
							 			 disabled$="[[loadingAny]]"
										 name="ShipCountry" on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipCountry]]"
										 invalid="[[_asBool(order.notvalid.ShipCountry)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-company')]]" type="string" value="{{order.ShipCompany}}"
							 			 disabled$="[[loadingAny]]"
										 name="ShipCompany" on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipCompany]]"
										 invalid="[[_asBool(order.notvalid.ShipCompany)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-tax')]]" type="string" value="{{order.ShipTaxID}}" name="ShipTaxID"
							 			 disabled$="[[loadingAny]]"
										 on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipTaxID]]"
										 invalid="[[_asBool(order.notvalid.ShipTaxID)]]">
							</paper-input>

							<paper-input label="[[localize('order-title-eori')]]" type="string" value="{{order.ShipEORI}}" name="ShipEORI"
							 			 disabled$="[[loadingAny]]"
										 on-value-changed="onInputChanged" error-message="[[order.notvalid.ShipEORI]]"
										 invalid="[[_asBool(order.notvalid.ShipEORI)]]">
							</paper-input>


							<paper-input 
								class="small-inputs-mock" 
								label="..." 
								type="string" 
								disabled>
							</paper-input>
						</div>

						<!-- <div class="preview-img">
							<img src="[[order.ShippingLabelImageUrl]]" alt="[[order.ID]]" />
						</div> -->
					</div>

					<div class="horiz-2">
						<multiselect-combo-box 
							id="SupportedCountries"
							items="[[order.AvailableCountries]]"
							selected-items="{{order.SupportedCountries}}"
							disabled$="[[loadingAny]]"
							label="Supported Countries" 
							placeholder="Add" 
							error-message="[[order.notvalid.SupportedCountries]]" 
							invalid="[[_asBool(order.notvalid.SupportedCountries)]]"
							clear-button-visible
							allow-custom-values-off>
							<template>
								[[localizep('country-', item)]] - [[item]]
							</template>
						</multiselect-combo-box>

						<paper-button class="order-add-all-countries-btn"
							disabled$="[[loading]]" raised
							on-tap="addAllCountriesTap">
							Add All Countries
						</paper-button>

					</div>
					


					<multiselect-combo-box 
						id="SupportedProviders"
						items="[[order.AvailableProviders]]"
						selected-items="{{order.SupportedProviders}}"
						disabled$="[[loadingAny]]"
						label="Supported Providers" 
						placeholder="Add" 
						error-message="[[order.notvalid.SupportedProviders]]" 
						invalid="[[_asBool(order.notvalid.SupportedProviders)]]"
						clear-button-visible
						allow-custom-values-off>
					</multiselect-combo-box>

				</div>


				<dom-repeat items="[[orderProviders]]" as="provideri" index-as="pinx">
					<template>
						<div class="order-inputs delivery-rates-section">
							<h4>
								<span class="provider-id">[[provideri.ID]]</span> Delivery Rates:
							</h4>

							<div>
								<paper-input id="newpm" class="small-input newinput" label="New Rate" type="string"
									name="Rate" on-value-changed="onInputChanged"
									disabled$="[[loadingAny]]"
									error-message="[[order.notvalid.Rate]]"
									invalid="[[_asBool(order.notvalid.Rate)]]">
									<paper-spinner-lite slot="prefix" class="thick"></paper-spinner-lite>
									<paper-icon-button slot="suffix" class="add-btn" icon="admin-icons:add-circle-outline" on-tap="addRateTap">
									</paper-icon-button>
								</paper-input>
							</div>
		
							<!-- <dom-if if="[[order.notvalid.ThirdPartyDeliveryRates]]">
								<template>
									<div class="notvalid alert">
										<pre>
											[[order.notvalid.ThirdPartyDeliveryRates]]
										</pre>
									</div>
								</template>
							</dom-if> -->

							<div scrollable-x>
								<div class="table">
									<div class="header">
										<div>
											&nbsp;
										</div>
										<div>
											ID
										</div>
										<div>
											Name
										</div>
										<div>
											Is Disabled
										</div>
										<div>
											Is Split Support
										</div>
										<div class="centered">
											Amount (¢)
										</div>
										<div class="centered">
											Currency
										</div>
										<div class="centered">
											Label (img)
										</div>
										<div>
											Is Pickup Point
										</div>
										<div>
											Pickup Address
										</div>
										<div>
											Description
										</div>
										<div>
											&nbsp;
										</div>
									</div>
								
									<dom-repeat items="[[provideri.Rates]]" as="ratei" index-as="rinx">
										<template>
											<div class="row vcenter" disabled$="[[ratei.IsDisabled]]">
												<div class="w10">
													<div class="buttons unset">
														<paper-icon-button class="upward-btn" icon="admin-icons:arrow-upward" on-tap="upwardItemTap"></paper-icon-button>
														<paper-icon-button class="downward-btn" icon="admin-icons:arrow-downward" on-tap="downwardItemTap"></paper-icon-button>
													</div>
												</div>
												<div has-errors$="[[ratei.notvalid.ID]]" title="[[_asString(ratei.notvalid.ID)]]">
													<span class="copy-tap" on-tap="_copyTap">[[ratei.ID]]</span>
												</div>
												<div has-errors$="[[ratei.notvalid.Name]]" title="[[_asString(ratei.notvalid.Name)]]">
													[[ratei.Name]]
												</div>
												<div has-errors$="[[ratei.notvalid.IsDisabled]]" title="[[_asString(ratei.notvalid.IsDisabled)]]">
													<span highlighted$="[[ratei.IsDisabled]]">
														[[ratei.IsDisabled]]
													</span>
												</div>
												<div has-errors$="[[ratei.notvalid.IsSplitSupport]]" title="[[_asString(ratei.notvalid.IsSplitSupport)]]">
													<span highlighted$="[[ratei.IsSplitSupport]]">
														[[ratei.IsSplitSupport]]
													</span>
												</div>
												<div has-errors$="[[ratei.notvalid.Amount]]" title="[[_asString(ratei.notvalid.Amount)]]" class="centered code">
													[[ratei.Amount]]
												</div>
												<div has-errors$="[[ratei.notvalid.Currency]]" title="[[_asString(ratei.notvalid.Currency)]]" class="centered">
													[[ratei.Currency.title]]
												</div>
												<div has-errors$="[[ratei.notvalid.Label]]" title="[[_asString(ratei.notvalid.Label)]]">
													<div class="preview-img table">
														<img src="[[labelImage(provideri.LabelsList, ratei.Label.id)]]" alt="[[ratei.Label.title]]" />
													</div>
												</div>
												<div has-errors$="[[ratei.notvalid.IsPickupPoint]]" title="[[_asString(ratei.notvalid.IsPickupPoint)]]">
													<span highlighted$="[[ratei.IsPickupPoint]]">
														[[ratei.IsPickupPoint]]
													</span>
												</div>
												<div has-errors$="[[ratei.notvalid.Address]]" title="[[_asString(ratei.notvalid.Address)]]">
													<span hidden$="[[!_asBool(ratei.ShipAddress)]]">
													[[ratei.ShipFirstName]],
													[[ratei.ShipLastName]],
													[[ratei.ShipAddress]],
													[[ratei.ShipAddress2]],
													[[ratei.ShipAddress3]],
													[[ratei.ShipCity]],
													[[ratei.ShipState]],
													[[ratei.ShipCountry]]
													([[ratei.ShipCountryCode]])
													</span>
												</div>
												<div has-errors$="[[ratei.notvalid.Description]]" title="[[_asString(ratei.notvalid.Description)]]">
													[[ratei.Description]]
												</div>
												<div class="w15">
													<div class="buttons unset">
														<paper-button raised1 on-tap="editItemTap" class="edit-btn" disabled$="[[loading]]">Edit</paper-button>
														<paper-button raised1 on-tap="deleteItemTap" class="delete-btn" disabled$="[[loading]]">Delete</paper-button>
													</div>
												</div>
											</div>
										</template>
									</dom-repeat>
									<dom-if if="[[!LenMore(provideri.Rates)]]">
										<template>
											<div class="noitems">
												[[localize('admin-list-noitems')]]
											</div>
										</template>
									</dom-if>
								</div>
							</div>
						</div>
					</template>
				</dom-repeat>
				

				<div class="order-inputs delivery-rates-section">
					<h4>
						Container Labels:
					</h4>

					<div class="horiz-container">
						<div>
							<div class="selection">
								<tmladmin-ui-dropdown-menu 
									vertical-align="top" 
									horizontal-align="left"
									id-property="id"
									title-property="title"
									label="Container Label"
									disabled$="[[loadingAny]]" 
									value="{{order.ContainerLabel}}"
									value-list="[[order.ContainerLabelList]]"
									on-value-changed="onInputChanged"
									error-message="[[order.notvalid.ContainerLabel]]"
									invalid="[[_asBool(order.notvalid.ContainerLabel)]]">
								</tmladmin-ui-dropdown-menu>
							</div>
						</div>
						<div>
							<div class="preview-img">
								<img src="[[labelImage(order.ContainerLabelList, order.ContainerLabel.id)]]" alt="[[order.ContainerLabel.title]]" />
							</div>
						</div>

						<div class="hidden" showen$="[[_asBool(order.ManufacturerID)]]">
							<div class="selection">
								<tmladmin-ui-dropdown-menu 
									vertical-align="top" 
									horizontal-align="left"
									id-property="id"
									title-property="title"
									label="Manufacturer Label"
									disabled$="[[loadingAny]]" 
									value="{{order.ManufacturerLabel}}"
									value-list="[[order.ManufacturerLabelList]]"
									on-value-changed="onInputChanged"
									error-message="[[order.notvalid.ManufacturerLabel]]"
									invalid="[[_asBool(order.notvalid.ManufacturerLabel)]]">
								</tmladmin-ui-dropdown-menu>
							</div>
						</div>
						<div class="hidden" showen$="[[_asBool(order.ManufacturerID)]]">
							<div class="preview-img">
								<img src="[[labelImage(order.ManufacturerLabelList, order.ManufacturerLabel.id)]]" alt="[[order.ManufacturerLabel.title]]" />
							</div>
						</div>
					</div>
				</div>

				<tmladmin-ui-changes-history
					class="order-history"
					title="Shipping Hub History"
					items="[[order.History]]">
				</tmladmin-ui-changes-history>
			</div>

		</div>
	</div>
</div>





<!-- dialog-wide-1200 -->
<paper-dialog id="dialog_rate" class="dialog_rate" proceed no-overlap dynamic-align vertical-align="middle" horizontal-align="center"
on-iron-overlay-closed="onCloseEditItemDialog">
	<h2>[[editTitle]]</h2>
	<paper-dialog-scrollable>

		<h4>#: <span class="copy-tap" on-tap="_copyTap">[[editItem.ID]]</span></h4>

		<div class="horiz-2 order-inputs">
			<div class="main">
				<paper-checkbox 
					checked="{{editItem.IsDisabled}}" 
					disabled$="[[loadingAny]]">
					Is Disabled
				</paper-checkbox>

				<paper-checkbox 
					checked="{{editItem.IsSplitSupport}}" 
					disabled$="[[loadingAny]]">
					Is Split Support
				</paper-checkbox>

				<paper-input label="Name" type="string" value="{{editItem.Name::input}}"
					name="editItem.Name" on-value-changed="onInputChanged"
					error-message="[[editItem.notvalid.Name]]"
					invalid="[[_asBool(editItem.notvalid.Name)]]">
				</paper-input>
		
				<paper-textarea 
					class="code"
					label="Amount (¢)" 
					type="string" 
					value="{{editItem.Amount::input}}"
					name="editItem.Order" 
					on-value-changed="onInputChanged"
					error-message="[[editItem.notvalid.Amount]]"
					invalid="[[_asBool(editItem.notvalid.Amount)]]">
				</paper-textarea>
		
				<div class="selection">
					<tmladmin-ui-dropdown-menu 
						vertical-align="top" 
						horizontal-align="left"
						id-property="id"
						title-property="title"
						label="Currency"
						disabled$="[[loading]]" 
						value="{{editItem.Currency}}"
						value-list="[[order.Currencies]]"
						on-value-changed="onInputChanged"
						error-message="[[editItem.notvalid.Currency]]"
						invalid="[[_asBool(editItem.notvalid.Currency)]]">
					</tmladmin-ui-dropdown-menu>
				</div>
		
				<div class="selection">
					<tmladmin-ui-dropdown-menu 
						vertical-align="top" 
						horizontal-align="left"
						id-property="id"
						title-property="title"
						label="Label"
						disabled$="[[loading]]" 
						value="{{editItem.Label}}"
						value-list="[[editItemProvider.LabelsList]]"
						on-value-changed="onInputChanged"
						error-message="[[editItem.notvalid.Label]]"
						invalid="[[_asBool(editItem.notvalid.Label)]]">
					</tmladmin-ui-dropdown-menu>
				</div>
		
				<paper-input label="Description" type="string" value="{{editItem.Description::input}}"
					name="editItem.Description" on-value-changed="onInputChanged"
					error-message="[[editItem.notvalid.Description]]"
					invalid="[[_asBool(editItem.notvalid.Description)]]">
				</paper-input>
			</div>

			<div class="hidden" showen$="[[editItemAllowPickupPoint]]">
				<paper-checkbox checked="{{editItem.IsPickupPoint}}" disabled$="[[loadingAny]]">
					Pickup Point (Empty Address means the same as Hub's)
				</paper-checkbox>
	
				<div class="small-inputs">
					<paper-input label="[[localize('order-title-firstname')]]" type="string" value="{{editItem.ShipFirstName}}"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									name="ShipFirstName" on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipFirstName]]"
									invalid="[[_asBool(editItem.notvalid.ShipFirstName)]]">
					</paper-input>
	
					<paper-input label="[[localize('order-title-lastname')]]" type="string" value="{{editItem.ShipLastName}}"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									name="ShipLastName" on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipLastName]]"
									invalid="[[_asBool(editItem.notvalid.ShipLastName)]]">
					</paper-input>
	
					<paper-input label="[[localize('order-title-address')]]" type="string" value="{{editItem.ShipAddress}}"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									name="ShipAddress" on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipAddress]]"
									invalid="[[_asBool(editItem.notvalid.ShipAddress)]]">
					</paper-input>
	
					<paper-input label="[[localize('order-title-address2')]]" type="string" value="{{editItem.ShipAddress2}}"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									name="ShipAddress2" on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipAddress2]]"
									invalid="[[_asBool(editItem.notvalid.ShipAddress2)]]">
					</paper-input>
	
					<paper-input label="[[localize('order-title-address3')]]" type="string" value="{{editItem.ShipAddress3}}"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									name="ShipAddress3" on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipAddress3]]"
									invalid="[[_asBool(editItem.notvalid.ShipAddress3)]]">
					</paper-input>
	
					<paper-input label="[[localize('order-title-city')]]" type="string" value="{{editItem.ShipCity}}" name="ShipCity"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipCity]]"
									invalid="[[_asBool(editItem.notvalid.ShipCity)]]">
					</paper-input>
	
					<paper-input label="[[localizeByCountry('order-title-state', editItem.ShipCountryCode)]]" type="string" value="{{editItem.ShipState}}"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									name="ShipState" on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipState]]"
									invalid="[[_asBool(editItem.notvalid.ShipState)]]">
					</paper-input>
	
					<paper-input label="[[localizeByCountry('order-title-zip', editItem.ShipCountryCode)]]"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									type="string" value="{{editItem.ShipZip}}" name="ShipZip"
									on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipZip]]"
									invalid="[[_asBool(editItem.notvalid.ShipZip)]]">
					</paper-input>
	
					<paper-input label="[[localize('order-title-country')]]" type="string" value="{{editItem.ShipCountry}}"
									disabled$="[[_dis_address(loadingAny, editItem.IsPickupPoint)]]"
									name="ShipCountry" on-value-changed="onInputChanged" error-message="[[editItem.notvalid.ShipCountry]]"
									invalid="[[_asBool(editItem.notvalid.ShipCountry)]]">
					</paper-input>
	
					<paper-input 
						class="small-inputs-mock" 
						label="..." 
						type="string" 
						disabled>
					</paper-input>
				</div>
			</div>

			
		</div>
		
	</paper-dialog-scrollable>

	<div class="buttons">
		<paper-button dialog-dismiss autofocus>Close</paper-button>
		<paper-button dialog-confirm on-tap="saveRateTap">[[editBtn]]</paper-button>
	</div>
</paper-dialog>
