:host {
	display: block;

	/* margin: 0 auto; */
	/* max-width: var(--app-page-width); */
}


.invalid {
	margin-left: 260px;
    margin-top: 40px;
}
.was-printed {
	text-align: center;
}
.was-printed > span {
	font-size: 1.5em;
	color: white;
	background-color: var(--paper-green-800);
	border-radius: 4px;
	padding: 4px;
}
.center {
	text-align: center;
}
[is-current] {
	background-color: var(--paper-green-600);
	color: white;
	font-size: 1.5em;
}

.side-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
/* 
.side-left
*/
.side-container .side-right {
	width: 20%;
}

/* tmladmin-production-sewing-item {
	text-align: center;
} */
paper-button {
	text-align: center;
}

.print-count-input {
	margin-top: -18px;
}
.order-bulk-count {
	@apply --app-font-pdf;
	font-size: 1.9em;
	line-height: 1.9em;
	text-align: center;
}

ul.print-groups {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.print-groups li {
  display: inline-block;
}

.camera-result-image {
	display: block;
    margin-left: auto;
    margin-right: auto;
	width: 1200px;
}

@media (min-width: 1500px) {
	.camera-result-image {
		width: 1400px;
	}
}
@media (max-width: 1250px) {
	.camera-result-image {
		width: 900px;
	}
}
@media (max-width: 1050px) {
	.camera-result-image {
		width: 800px;
	}
}
@media (max-width: 880px) {
	.camera-result-image {
		width: 540px;
	}
}
@media (max-width: 580px) {
	.camera-result-image {
		width: 370px;
	}
}
@media (max-width: 350px) {
	.camera-result-image {
		width: 250px;
	}
}
  
	
.defected,
.approved {
	--iron-icon-height: 1.5em;
    --iron-icon-width: 1.5em;
}
.main > iron-icon {
	--iron-icon-height: 40em;
    --iron-icon-width: 40em;
    opacity: 0.7;
	position: absolute;
	z-index: 3;

	top: 2em;
    left: 50%;
    margin-left: -200px;
}
.approved {
	display: inline-block;
	fill:var(--google-green-300);
	color:var(--google-green-300);
	font-size: 0.8em;
}
.defected {
	display: inline-block;
	fill:var(--google-red-300);
	color:var(--google-red-300);
}
iron-icon.discarded {
	fill:var(--google-red-300);
}


.order-tasks {
	margin: 24px 0px 64px 0px;
}
.order-tasks h2 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-tasks h2 {
	background-color: var(--paper-blue-grey-600);
	color:white;
}
.order-tasks .table {
	margin: 16px;
	/* width: 100%; */
}
.order-tasks .table {
	max-width: 1450px;
}

[is-approve] {
	--primary-text-color: var(--paper-green-600);
	--paper-input-container-color: var(--paper-green-600);
	--paper-input-container-focus-color: var(--paper-green-500);
	/* --paper-input-container-invalid-color: var(--paper-green-600); */
}

.order-buttons {
	@apply --layout-horizontal;
	@apply --layout-center-center;
	@apply --layout-wrap;
}

.order-buttons > .table {
	max-width: 1250px;
	margin: 16px;
}

.horiz {
	@apply --layout-horizontal;
	align-content: space-around;
}

.horiz .menu {
	min-width: 7.1em;
	margin-right: 5px;
}
.horiz .order-container {
	flex-grow: 1;
}

.pdf-title {
	@apply --app-font-pdf;
	font-size: 20px;
}
.pdf-filename {
	@apply --app-font-monospace;
	/* font-size: 14px; */
}

.pdf-meters {
	@apply --app-font-monospace;
	/* font-size: 14px; */
}

:host([should-show-tabs]) header {
	display: none;
}

#search {
	margin: 0 10px;
}

#search-progress {
	margin: 22px;
	float: right;
}

#dialogdump paper-dialog-scrollable pre {
	max-width: 1100px;
	max-height: 900px;
}

.spinner paper-spinner-lite {
	margin-top: 18px;
}
    
.order {
	/* margin-bottom: 35px; */
	border-bottom: 4px double var(--light-theme-divider-color);
}

.order-header h3 {
	padding-left: 15px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}

.order-header {
	margin-right: 5px;
	/* margin: 0px 15px; */

	/* background-color: #cccccc;
	border-radius: 8px; 
	border: 1px solid #ccc;*/
	/* padding: 0px 5px; */
}

.order-payment-history {
	margin: 24px 0px 24px 0px;
}
.order-payment-history h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
/*
.order-payment-history table tr {
	border-bottom: 1px solid var(--divider-color);
} */
.order-payment-history .table {
	margin: 16px;
	width:100%;
	max-width:950px;
}

.order-payment-history .table paper-button {
	display: block;
	text-align: center;
}
/* .order-payment-history .row {
	cursor: pointer;
} */


.order-stock,
.order-vinyls,
.order-sublimationroll,
.order-sewing, 
.order-qa, 
.order-printing,
.order-shipping,
.order-reprocess {
	margin: 0px 0px 0px 0px;
}

.order-stock h2,
.order-vinyls h2,
.order-sewing h2, 
.order-qa h2,  
.order-sublimationroll h2,
.order-printing h2,
.order-shipping h2,
.order-reprocess h2 {
	padding-left: 16px;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-stock h2 {
	background-color: var(--paper-grey-500);
	color:white;
} 
.order-vinyls h2 {
	background-color: var(--paper-red-600);
	color:white;
} 
.order-sewing h2 {
	background-color: var(--paper-light-green-600);
	color:white;
} 
.order-qa h2 {
	background-color: var(--paper-light-green-600);
	color:white;
} 
.order-printing h2 {
	background-color: var(--paper-brown-600);
	color:white;
}
.order-sublimationroll h2 {
	background-color: var(--paper-teal-700);
	color:white;
}
.order-shipping h2 {
	background-color: var(--paper-indigo-600);
	color:white;
}
.order-reprocess h2 {
	background-color: var(--paper-green-600);
	color:white;
}
/* .order-reprocess paper-item {
	cursor: pointer;
} */
.order-reprocess .iron-selected {
  background-color: blue;
  color: white;
}
.order-reprocess .iron-selected  paper-checkbox {
  background-color: blue;
  color: white;
}

.order-qa div.main {
	margin: 8px;
}


.order-stock .table,
.order-vinyls .table,
.order-sublimationroll .table,
.order-sewing .table, 
.order-qa .table, 
.order-printing .table,
.order-shipping .table,
.order-reprocess .table {
	/* margin: 16px; */
	/* width: 100%; */
	/* min-width: 796px; */
	min-width: 28em;

}
/* .order-stock .table,
.order-vinyls .table,
.order-sublimationroll .table,
.order-sewing .table, 
.order-printing .table,
.order-shipping .table {
	max-width: 1450px;
} */
.order-reprocess .table .row > *, 
.order-reprocess .table .header > * { 
	padding: 0.65em;
}


.order-sublimationroll-productsummary,
.order-shipping-productsummary,
.order-printing-productsummary {
	margin: 24px 0px 24px 0px;
}

.order-sublimationroll-productsummary h4,
.order-shipping-productsummary h4,
.order-printing-productsummary h4 {
	padding-left: 46px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
/* .order-shipping-productsummary h4::before,
.order-printing-productsummary h4::before {
  content: '&#11169';
  display: block;
} */

.order-sublimationroll-productsummary .table,
.order-shipping-productsummary .table,
.order-printing-productsummary .table {
	margin-left: 46px;
	width:100%;
	max-width:1250px;
}

/* .dialogbulk paper-dialog-scrollable {
	flex: wrap;
} */

.order paper-button {
    height: 100px;
    width: 180px;
}
.icon-bigger {
	margin: 8px;
	--iron-icon-height: 40px;
	--iron-icon-width: 40px;
}

.order-defect-btn,
.order-resetlabeled-btn {
	--paper-button-flat-keyboard-focus: {
		background-color: var(--paper-red-600) !important;
		color: white !important;
	};
	--paper-button-raised-keyboard-focus: {
		background: var(--paper-red-600) !important;
		color: white !important;
	};
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}
.order-printlabelsbulk-btn {
	--paper-button-flat-keyboard-focus: {
      background-color: var(--paper-green-500) !important;
      color: white !important;
    };
	--paper-button-raised-keyboard-focus: {
		background: var(--paper-green-500) !important;
		color: white !important;
	};
	--paper-button: {
		background: var(--paper-green-600);
		color: white;
	};
}



.order-qa teamatical-ui-image {
	height: 560px;
}

.order-list {
	margin-top: 10px;
}

.order-items {
	margin: 16px 0px;
}
.order-items h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}

.order-items teamatical-ui-order-item {
	border-top: 1px dashed var(--divider-color);
}

.order-items teamatical-ui-order-item:first-of-type {
	border-top: 1px solid var(--divider-color);
}

.order-items teamatical-ui-order-item:last-of-type {
	border-bottom: 1px solid var(--divider-color);
}

.order-footer {
	margin: 0px 15px;
	margin-bottom: 30px;
}

.order-not-cancelable {
	border-radius: 5px;
	border: 1px dashed var(--app-secondary-color);
	padding: 8px;
	display: inline;
}

.empty-list {
	text-align: center;
	white-space: nowrap;
	color: var(--app-secondary-color);
}

.buttons {
	display: flex;
    align-items: center;
	justify-content: left;
}

ui-loader {
	padding-top: 0px;
	display: block;
	margin-top: 40px;
}

.checkout-box {
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

.subtotal {
	margin: 0 64px 0 24px;
}

.main-frame {
	padding: 0 8px 48px 8px;
}


.image-product-grid {
  padding: 0;
  min-width: 21px; 
  flex-shrink: 1;
  display: flex;
  flex-flow: row unwrap;
  justify-content: center;
  align-items: flex-start;
}

.image-product-grid teamatical-ui-image {
  width: 120px;
  height: 160px;
  align-self: flex-start;

  /* cursor: pointer; */

  --teamatical-ui-image-img: {
    border-radius: 6px;
  };
}

.image-product-grid teamatical-ui-image::before {
  content: ""; 
  padding-top: 133%;
}

teamatical-ui-scanner-printer-settings {
    display: block;
    position: fixed;
    top: 1em;
    right: 1.6em;
    z-index: 12;
}

.approve-mode-switcher > paper-toggle-button {
	display: inline-block;
}
.approve-mode-switcher {
	font-size: 2em;
	text-align: center;
	/* --paper-toggle-button-unchecked-button: {
		width: 48px;
		height: 48px;
	}; */
}


.fbuttons-container tmladmin-ui-product-search {
	--tmladmin-ui-product-search-btn: {
		--paper-fab-background: var(--paper-grey-100);
		--paper-fab-keyboard-focus-background: var(--paper-grey-100);
		--paper-fab-iron-icon: {
			fill: white; 
		};
	};
}


@media (max-width: 767px) {

	.subtotal {
		margin: 0 0 0 24px;
	}

	#checkout {
		margin-left: 20px;
	}

	#checkout[responsive] {
		margin-left: 0px;
	}

	.main-frame {
		padding: 0 1px 6px 1px;
	}
	.order paper-button {
    	height: 60px;
    	width: 120px;
	}

	.main > iron-icon {
		top: 10em;
	}


}



.order-parts-list {
	margin: 8px;
}
.order-part-item {
	display: inline-block;
	margin: 8px;

	width: 160px;
	text-align: center;

	font-size: 1.9em;
	line-height: 1.9em;
}
.order-part-item teamatical-ui-image {
	height: 106px;
}

.order-parts-list h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
	text-transform: uppercase;
}


.order-keymeasurements-list {
	margin: 8px;
}
.order-keymeasurements-list h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
	text-transform: uppercase;
}


.fbuttons-container .button.batch-name {
	background-color: #fff;
    padding: 6px 12px;
    font-size: 3em;
	min-width: 70px;
    min-height: 58px;
    text-align: center;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	border-radius: 5px;
}

.fbuttons-container .button.rfid-flag {
    --paper-fab-background: var(--paper-red-300);
    --paper-fab-keyboard-focus-background: var(--paper-red-200);
    --paper-fab-disabled-background: var(--paper-grey-200);
    --paper-fab-iron-icon: {
	  fill: black; 
	};
}