:host {
	display: block;

	/* margin: 0 auto; */
	/* max-width: var(--app-page-width); */
}

#content {
  @apply --layout-horizontal;
  @apply --layout-center-justified;
  overflow: hidden;
}

.current-pack {
  overflow-x: auto;
  width: 50%;
}
.package-list {
	overflow-x: auto;
	width: 50%;
}
@media (max-width: 1600px) {
  #content {
    @apply --layout-vertical;
    @apply --layout-center;
  }
  .current-pack {
	/* width: unset; */
	width: 96%;
  }
  .package-list {
    width: 100%;
  }
}

.order-printlabel-btn,
.order-printshipping-btn {
	height: 80px;
}

.weight-section {
	text-align: center;

}
.single-bucket-icon {
	--iron-icon-height: 64px;
	--iron-icon-width: 64px;
	fill: var(--paper-red-500);
}
.parts-container > div {
	margin: 0 auto;
}

.parts-container .warning {
    position: absolute;
}
.parts-container div.header {
	/* @apply --app-font-pdf; */
	@apply --app-font-monospace;
	font-size: 2em;
	text-transform: uppercase;
	white-space: nowrap;
}
.parts-container div.row {
	@apply --app-font-pdf;
	font-size: 7em;
}

.parts-container div.row .small {
	font-size: 0.2em;
}


.parts-container .table .row > *,  
.parts-container .table .header > * {
	padding: 0.25em 0.7em;
	text-align: center;
}

.order-shipping-items-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.order-shipping-items-item {
	margin: 8px;
    padding: 8px;
    border: 1px solid gray;

	min-width: 12em;

	display: flex;
    justify-content: center;
    align-items: center;
}
.order-shipping-items-item .help-btn {
	margin-left: auto;
}
.order-shipping-items-item[is-packed] {
	background-color: var(--paper-green-600) !important;
	color:white;
}
.order-shipping-items h4 {
	margin: 0px;
}

.package {
	border: 2px solid var(--light-theme-divider-color);
	border-radius: 6px;
	padding: 2px 8px;
	margin: 16px;

	@apply --layout-horizontal;
	@apply --layout-center-justified;
}
.package > * {
	flex-grow: 1;
	margin: 5px;
}
.package > .zpl-image {
	flex-grow: 0;
	width: 320px;
}
.zpl-image > div > img {
	width: 320px;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.current-pack[is-completed] {
	border: 5px dashed var(--light-theme-divider-color);
	border-radius: 6px;
	padding: 2px 8px;
}

.order-tasks {
	margin: 24px 0px 64px 0px;
}
.order-tasks h2 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-tasks h2 {
	background-color: var(--paper-blue-grey-600);
	color:white;
}
.order-tasks .table {
	margin: 16px;
	/* width: 100%; */
}
.order-tasks .table {
	max-width: 1450px;
}

.order-finishsingleshipping-btn,
.order-finishshipping-btn,
.order-splitshipping-btn {
	--paper-button: {
		background: var(--paper-indigo-600);
		color: white;
	};
}
.order-disposeparcel-btn {
	--paper-button: {
		background: var(--paper-red-900);
		color: white;
	};
	opacity: 0.7;
}
.order-disposeparcel-btn:hover,
.order-disposeparcel-btn:focus {
	opacity: 1;
}

.order-disposepackage-btn,
.order-cancelshipping-btn {
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}


.order-currentpack-dispose-container {
	position: relative;
}
.order-currentpack-dispose-container .spinner {
	position: absolute;
	right: 0px;
}

.order-currentpack-buttons {
	@apply --layout-horizontal;
	@apply --layout-center-center;
	@apply --layout-wrap;
}

.order-buttons {
	@apply --layout-horizontal;
	@apply --layout-center-center;
	@apply --layout-wrap;
}

.first-line {
	@apply --layout-horizontal;
	align-content: flex-end;
}
.first-line paper-input[readonly="true"] {
	margin: 16px 4px;
}
.horiz {
	@apply --layout-horizontal;
	align-content: space-around;
}

.horiz .menu {
	min-width: 7.1em;
	margin-right: 5px;
}
.horiz .order-container {
	flex-grow: 1;
}

.pdf-title {
	@apply --app-font-pdf;
	font-size: 20px;
}
.pdf-filename {
	@apply --app-font-monospace;
	/* font-size: 14px; */
}

.pdf-meters {
	@apply --app-font-monospace;
	/* font-size: 14px; */
}

:host([should-show-tabs]) header {
	display: none;
}

#search {
	margin: 0 10px;
}

#search-progress {
	margin: 22px;
	float: right;
}

#dialogdump paper-dialog-scrollable pre {
	max-width: 1100px;
	max-height: 900px;
}

.spinner paper-spinner-lite {
	margin-top: 18px;
}
    
.order {
	/* margin-bottom: 35px; */
	border-bottom: 4px double var(--light-theme-divider-color);
}

.order-header h3 {
	padding-left: 15px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}

.order-header {
	margin-right: 5px;
	/* margin: 0px 15px; */

	/* background-color: #cccccc;
	border-radius: 8px; 
	border: 1px solid #ccc;*/
	/* padding: 0px 5px; */
}

.order-payment-history {
	margin: 24px 0px 24px 0px;
}
.order-payment-history h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
/*
.order-payment-history table tr {
	border-bottom: 1px solid var(--divider-color);
} */
.order-payment-history .table {
	margin: 16px;
	width:100%;
	max-width:950px;
}

.order-payment-history .table paper-button {
	display: block;
	text-align: center;
}
/* .order-payment-history .row {
	cursor: pointer;
} */


.order-stock,
.order-vinyls,
.order-sublimationroll,
.order-shipping, 
.order-printing,
.order-shipping,
.order-reprocess {
	margin: 0px 0px 0px 0px;
}

.order-stock h2,
.order-vinyls h2,
.order-shipping h2, 
.order-sublimationroll h2,
.order-printing h2,
.order-shipping h2,
.order-reprocess h2 {
	padding-left: 16px;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-stock h2 {
	background-color: var(--paper-grey-500);
	color:white;
} 
.order-vinyls h2 {
	background-color: var(--paper-red-600);
	color:white;
} 

.order-printing h2 {
	background-color: var(--paper-brown-600);
	color:white;
}
.order-sublimationroll h2 {
	background-color: var(--paper-teal-700);
	color:white;
}
.order-shipping h2 {
	background-color: var(--paper-indigo-600);
	color:white;
}
.order-reprocess h2 {
	background-color: var(--paper-green-600);
	color:white;
}
/* .order-reprocess paper-item {
	cursor: pointer;
} */
.order-reprocess .iron-selected {
  background-color: blue;
  color: white;
}
.order-reprocess .iron-selected  paper-checkbox {
  background-color: blue;
  color: white;
}

.order-shipping div.main {
	margin: 8px;
}


.order-stock .table,
.order-vinyls .table,
.order-sublimationroll .table,
.order-shipping .table, 
.order-printing .table,
.order-shipping .table,
.order-reprocess .table {
	/* margin: 16px; */
	/* width: 100%; */
	/* min-width: 796px; */
	min-width: 28em;

}
/* .order-stock .table,
.order-vinyls .table,
.order-sublimationroll .table,
.order-shipping .table, 
.order-printing .table,
.order-shipping .table {
	max-width: 1450px;
} */
.order-reprocess .table .row > *, 
.order-reprocess .table .header > * { 
	padding: 0.65em;
}


.order-sublimationroll-productsummary,
.order-shipping-productsummary,
.order-printing-productsummary {
	margin: 24px 0px 24px 0px;
}

.order-sublimationroll-productsummary h4,
.order-shipping-productsummary h4,
.order-printing-productsummary h4 {
	padding-left: 46px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
/* .order-shipping-productsummary h4::before,
.order-printing-productsummary h4::before {
  content: '&#11169';
  display: block;
} */

.order-sublimationroll-productsummary .table,
.order-shipping-productsummary .table,
.order-printing-productsummary .table {
	margin-left: 46px;
	width:100%;
	max-width:1250px;
}

paper-button.order-freeze-btn {
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}
paper-button.order-download-btn {
	--paper-button: {
		background: var(--paper-green-600);
		color: white;
	};
}

.order-shipping teamatical-ui-image {
	height: 560px;
}

.order-list {
	margin-top: 10px;
}

.order-items {
	margin: 16px 0px;
}
.order-items h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}

.order-items teamatical-ui-order-item {
	border-top: 1px dashed var(--divider-color);
}

.order-items teamatical-ui-order-item:first-of-type {
	border-top: 1px solid var(--divider-color);
}

.order-items teamatical-ui-order-item:last-of-type {
	border-bottom: 1px solid var(--divider-color);
}

.order-footer {
	margin: 0px 15px;
	margin-bottom: 30px;
}

.order-not-cancelable {
	border-radius: 5px;
	border: 1px dashed var(--app-secondary-color);
	padding: 8px;
	display: inline;
}

.empty-list {
	text-align: center;
	white-space: nowrap;
	color: var(--app-secondary-color);
}

.buttons {
	display: flex;
    align-items: center;
	justify-content: left;
}

ui-loader {
	padding-top: 0px;
	display: block;
	margin-top: 40px;
}

.checkout-box {
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

.subtotal {
	margin: 0 64px 0 24px;
}

.main-frame {
	padding: 0 8px 48px 8px;
}


.image-product-grid {
  padding: 0;
  min-width: 21px; 
  flex-shrink: 1;
  display: flex;
  flex-flow: row unwrap;
  justify-content: center;
  align-items: flex-start;
}

.image-product-grid teamatical-ui-image {
  width: 120px;
  height: 160px;
  align-self: flex-start;

  /* cursor: pointer; */

  --teamatical-ui-image-img: {
    border-radius: 6px;
  };
}

.image-product-grid teamatical-ui-image::before {
  content: ""; 
  padding-top: 133%;
}

teamatical-ui-scanner-printer-settings {
    display: block;
    position: fixed;
    top: 1em;
    right: 1.6em;
    z-index: 12;
}




@media (max-width: 767px) {

	.subtotal {
	margin: 0 0 0 24px;
	}

	#checkout {
	margin-left: 20px;
	}

	#checkout[responsive] {
	margin-left: 0px;
	}

	.main-frame {
	padding: 0 1px 6px 1px;
	}
	.first-line {
		@apply --layout-vertical-reverse;
	}
	.order-currentpack-buttons {
		@apply --layout-vertical;
	}
	.order-buttons {
		@apply --layout-vertical;
	}
	.parts-container div.header {
		font-size: 1em;
	}
	.parts-container div.row {
		font-size: 2em;
	}
	.parts-container .table .row > *,  
	.parts-container .table .header > * {
		padding: 0.05em 0.20em;
	}


	.order-stock .table,
	.order-vinyls .table,
	.order-sublimationroll .table,
	.order-shipping .table, 
	.order-printing .table,
	.order-shipping .table,
	.order-reprocess .table {
		min-width: 15em;
	}
}