:host {
	display: block;

	/* margin: 0 auto; */
	/* max-width: var(--app-page-width); */

	--tm-ws-replacements-menu-offset: 188px;
}

.reasontype-radio {
	min-width: 116px;
}
.reason-radio {
	min-width: 422px;
	max-width: 422px;
}

.reason-group {
	border-top: lightgray dashed 1px;
	
	--paper-radio-group-item-padding: 2px;
	font-size: 0.8em;
}
.reason-group h5 {
	margin-block-start: 0.67em;
    margin-block-end: 0px;
}

.reason-radio.iron-selected,
.reasontype-radio.iron-selected {
	/* background-color: yellow; */
	background: var(--paper-green-200);
	border-radius: 4px;
}

.replace-list-item {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
	align-items: flex-start;
    align-content: center;
	gap: 8px;

	border-bottom: #c0c0c0 dashed 2px;

    margin: 0px 8px;
	width: 100%;
    width: calc(100% - 16px);
}
.replace-list-item .centered {
	text-align: center;
}
/* .replace-list-item > * {
	background-color: white;
    border-radius: 8px;
    padding: 4px;
} */
/* .replace-list-item > * {
	min-width: 60px;
} */
.replace-list-item > .part-batch-id {
	flex: 1;
	font-size: 2em;
}
.replace-list-item > .part-reason {
	flex: 2;
}
.replace-list-item > .part-image {
	flex: 1;
}
.replace-list-item > .part-name {
	flex: 1;
	min-width: 80px;
}
.replace-list-item > .part-count {
	flex: 1;
	font-size: 2em;
	min-width: 80px;
}
.replace-list-item > .part-flags {
	flex: 1.5;
	text-align: center;
	min-width: 120px;
}
.replace-list-item > .part-btns-1 {
	flex: 1;
	text-align: center;
}
.replace-list-item > .part-btns-2 {
	flex: 0.5;
	text-align: center;
}

.reason-selection {
	margin-bottom: 16px;
}
.reason-selection > tmladmin-ui-dropdown-menu,
.reason-selection > paper-dropdown-menu-light {
	width: 100%;
}

.order-replaceroll-btn {
	--paper-button: {
		background: var(--paper-red-800);
		color: white;
	};
}


tmladmin-production-sewing-item {
	text-align: center;
}
.barcode-input {
	width: 240px;
}

.width100 {
	width: 100%;
}

.table .row > * {
	font-size: 1.5em;
}

.pdf-title {
	@apply --app-font-pdf;
	font-size: 20px;
}
.pdf-filename {
	@apply --app-font-monospace;
	/* font-size: 14px; */
}
.pdf-barcode {
	@apply --app-font-barcode;
	font-size: 32px;
}
.pdf-meters {
	@apply --app-font-monospace;
	/* font-size: 14px; */
}


.horiz-marks {
	@apply --layout-horizontal;
	@apply --layout-end;
}
.horiz-marks > * {
	margin: 8px;
    font-size: 1.2em;
}
.current-batch h3 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
}

.clickable {
	cursor: pointer;
}

teamatical-ui-scanner-printer-settings {
    display: block;
    position: fixed;
    top: 1em;
    right: 1.6em;
    z-index: 12;
}

[removed] {
	opacity: 0.2;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
[is-locked] {
	background: 
		repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			var(--paper-yellow-600) 10px,
			var(--paper-yellow-600) 20px
		);
	box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
}
[is-disabled] {
	background: #f0f0f0;
	box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
}
[is-bounding] {
	background: 
		repeating-linear-gradient(
			45deg,
			transparent,
			transparent 10px,
			#f0f0f0 10px,
			#f0f0f0 20px
		);
	box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
}

[is-failed] {
	opacity: 0.7;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
paper-item {
	padding: 4px;
}
[is-replacement] {
	color: var(--paper-red-800);
}
.is-replacement {
    display: inline-block;
	border-radius: 9px;
	padding: 5px;
	color: white;
	background-color: var(--paper-red-800);
	font-weight: bold;
    /* font-size: 1.2em; */
}

.total {
	font-weight: bold;
}


.order-tasks {
	margin: 24px 0px 64px 0px;
}
.order-tasks h2 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-tasks h2 {
	background-color: var(--paper-blue-grey-600);
	color:white;
}
.order-tasks .table {
	margin: 16px;
	/* width: 100%; */
}
.order-tasks .table {
	/* max-width: 1450px; */
}


.no-batch {
	text-align: center;
	font-size: 24px;
    padding: 24px;
}

.order-buttons {
	@apply --layout-horizontal;
	@apply --layout-center-center;
	@apply --layout-wrap;
}

.horiz {
	@apply --layout-horizontal;
	align-content: space-around;
}

.horiz .menu {
	min-width: 7.1em;
	margin-right: 5px;
}
.horiz .order-container {
	flex-grow: 1;
}
.horiz.menu-fixed .menu {
	position: fixed;
	width: var(--tm-ws-replacements-menu-offset);
	top: 43px;
    bottom: 0px;
	overflow-y: scroll;
	z-index: 1;

	background-color: white;
	        -webkit-filter: drop-shadow( -2px -2px 2px #c0c0c0 ); 
                filter: drop-shadow( -2px -2px 2px #c0c0c0 );

}

.section-layout[product] {
  @apply --layout-horizontal;
  @apply --layout-center-justified;

  overflow: hidden; /* avoid tooltip scrollbars */
}
.section-layout[product] > * {
	min-width: 50%;
}

.section-layout[product] .order-replacementitems-list h4 {
	margin-top: 21px;
	height: 24px;
}


/* .horiz.menu-fixed .menu:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 2em;
  z-index: 1;
  background-image: linear-gradient(to right, 
    rgba(255, 0, 0, 1), 
    rgba(255, 0, 0, 0) 100%);
} */
.horiz.menu-fixed .current-batch {
    margin-left: calc(var(--tm-ws-replacements-menu-offset) + 10px);
}

.menu paper-item:not([disabled]) {
	cursor: pointer;
}

.menu .iron-selected {
  border-top: 1px dashed var(--app-accent-color);
  border-bottom: 1px dashed var(--app-accent-color);
  /* border-radius: 8px; */
  background-color: var(--paper-blue-grey-50);
}

.replacement-title {
	color: var(--paper-red-500);
	text-transform: uppercase;
	font-size: 2em;
}
.batch-name {
	width: 42px;
	margin-left: 16px;
	font-size:1.6em;
	color: var(--paper-red-600);
}
.batch-date {
	position: absolute;
	top: -4px;
	right: 4px;
	font-size: 0.8em;
	z-index: 1;
	font-weight: bold;
	white-space: nowrap;
	color: var(--paper-red-300);
}

.pdf-title {
	@apply --app-font-pdf;
	font-size: 20px;
}
.pdf-filename {
	@apply --app-font-monospace;
	/* font-size: 14px; */
}

.pdf-meters {
	@apply --app-font-monospace;
	/* font-size: 14px; */
}

:host([should-show-tabs]) header {
	display: none;
}

#search {
	margin: 0 10px;
}

#search-progress {
	margin: 22px;
	float: right;
}

#dialogdump paper-dialog-scrollable pre {
	max-width: 1100px;
	max-height: 900px;
}

.spinner paper-spinner-lite {
	margin-top: 18px;
}
    
.order {
	/* margin-bottom: 35px; */
	border-bottom: 4px double var(--light-theme-divider-color);
}

.order-header h3 {
	padding-left: 15px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}

.order-header {
	margin-right: 5px;
	/* margin: 0px 15px; */

	/* background-color: #cccccc;
	border-radius: 8px; 
	border: 1px solid #ccc;*/
	/* padding: 0px 5px; */
}

.order-payment-history {
	margin: 24px 0px 24px 0px;
}
.order-payment-history h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
/*
.order-payment-history table tr {
	border-bottom: 1px solid var(--divider-color);
} */
.order-payment-history .table {
	margin: 16px;
	width:100%;
	/* max-width:950px; */
}

.order-payment-history .table paper-button {
	display: block;
	text-align: center;
}
/* .order-payment-history .row {
	cursor: pointer;
} */


.order-stock,
.order-vinyls,
.order-sublimationroll,
.order-cutting, 
.order-replacements,
.order-shipping,
.order-reprocess {
	margin: 0px 0px 0px 0px;
}

.order-stock h2,
.order-vinyls h2,
.order-cutting h2, 
.order-sublimationroll h2,
.order-replacements h2,
.order-shipping h2,
.order-reprocess h2 {
	padding-left: 16px;
	margin: 0px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
.order-stock h2 {
	background-color: var(--paper-grey-500);
	color:white;
} 
.order-vinyls h2 {
	background-color: var(--paper-red-600);
	color:white;
} 

.order-replacements teamatical-ui-image {
	height: 88px;
	width: 66px;
	
	margin: 4px auto;
	border-radius: 6px;
}

.order-cutting h2 {
	background-color: var(--paper-orange-600);
	color:white;
} 
.order-replacements h2 {
	background-color: var(--paper-red-600);
	color:white;
}
.order-sublimationroll h2 {
	background-color: var(--paper-teal-700);
	color:white;
}
.order-shipping h2 {
	background-color: var(--paper-indigo-600);
	color:white;
}
.order-reprocess h2 {
	background-color: var(--paper-green-600);
	color:white;
}
/* .order-reprocess paper-item {
	cursor: pointer;
} */
.order-reprocess .iron-selected {
  background-color: blue;
  color: white;
}
.order-reprocess .iron-selected  paper-checkbox {
  background-color: blue;
  color: white;
}

.table-container-scroll {
	width: 80%;
	@apply --layout-scroll;	

	::-webkit-scrollbar { 
	    display: none;  /* Chrome Safari */
	}
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none;  /* IE 10+ */
}

.order-stock .table,
.order-vinyls .table,
.order-sublimationroll .table,
.order-cutting .table, 
.order-replacements .table,
.order-shipping .table,
.order-reprocess .table {
	/* margin: 16px; */
	/* width: 100%; */
	/* margin: 1.2em; */
	min-width: 28em;
}
/* .order-stock .table,
.order-vinyls .table,
.order-sublimationroll .table,
.order-cutting .table, 
.order-replacements .table,
.order-shipping .table {
	max-width: 1450px;
} */
.order-reprocess .table .row > *, 
.order-reprocess .table .header > * { 
	padding: 0.65em;
}


.order-sublimationroll-productsummary,
.order-shipping-productsummary,
.order-replacements-productsummary {
	margin: 24px 0px 24px 0px;
}

.order-sublimationroll-productsummary h4,
.order-shipping-productsummary h4,
.order-replacements-productsummary h4 {
	padding-left: 46px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}
/* .order-shipping-productsummary h4::before,
.order-replacements-productsummary h4::before {
  content: '&#11169';
  display: block;
} */

.order-sublimationroll-productsummary .table,
.order-shipping-productsummary .table,
.order-replacements-productsummary .table {
	margin-left: 46px;
	width:100%;
	max-width:1250px;
}

paper-button.order-push-btn {
	--paper-button: {
		background: var(--paper-deep-purple-600);
		color: white;
	};
}
paper-button.order-unfreeze-btn {
	--paper-button: {
		background: var(--paper-red-600);
		color: white;
	};
}
paper-button.order-download-btn {
	--paper-button: {
		background: var(--paper-green-600);
		color: white;
	};
}

.order-sewing tmladmin-production-sewing-item teamatical-ui-image {
	height: 560px;
}

.order-part-item[is-replaced] {
	opacity: 0.2;
	pointer-events: none;
}
.order-part-item .add-btn {
	transform: rotate(90deg) translateX(-100px) translateY(-60px);
}
.add-btn {
	--paper-icon-button: {
		color: var(--paper-red-400);
	};
}
.vertical-barcode {
	transform: rotate(90deg) translateX(-100px) translateY(60px);
}

.order-sewing teamatical-ui-image {
	height: 106px;
}

.order-replacementitems-list,
.order-parts-list {
	margin: 8px;
}
.order-part-item {
	display: inline-block;
	margin: 8px;

	width: 160px;
	text-align: center;
}
.order-replacementitems-list h4,
.order-parts-list h4,
.order-step-list h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 3px solid var(--paper-green-600);
	text-transform: uppercase;
}
.roll-input {
	width:240px;
}

.order-list {
	margin-top: 10px;
}

.order-items {
	margin: 16px 0px;
}
.order-items h4 {
	padding-left: 16px;
	margin: 24px 0px 0px 0px;
	border-bottom: 1px solid var(--light-theme-divider-color);
}

.order-items teamatical-ui-order-item {
	border-top: 1px dashed var(--divider-color);
}

.order-items teamatical-ui-order-item:first-of-type {
	border-top: 1px solid var(--divider-color);
}

.order-items teamatical-ui-order-item:last-of-type {
	border-bottom: 1px solid var(--divider-color);
}

.order-footer {
	margin: 0px 15px;
	margin-bottom: 30px;
}

.order-not-cancelable {
	border-radius: 5px;
	border: 1px dashed var(--app-secondary-color);
	padding: 8px;
	display: inline;
}

.empty-list {
	text-align: center;
	white-space: nowrap;
	color: var(--app-secondary-color);
}

.buttons {
	display: flex;
    align-items: center;
	justify-content: left;
}

ui-loader {
	padding-top: 0px;
	display: block;
	margin-top: 40px;
}

.checkout-box {
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
}

.subtotal {
	margin: 0 64px 0 24px;
}

.main-frame {
	padding: 0 8px 48px 8px;
}

.order-replacementitems-list [highlighted] {
	display: inline-block;
	margin: 4px;
}

.image-product-grid {
  padding: 0;
  min-width: 21px; 
  flex-shrink: 1;
  display: flex;
  flex-flow: row unwrap;
  justify-content: center;
  align-items: flex-start;
}

teamatical-ui-image-svg.repl-image-svg,
.image-product-grid teamatical-ui-image {
  width: 120px;
  height: 160px;
  align-self: flex-start;

  margin: 0 auto;
  /* cursor: pointer; */
  
  --teamatical-ui-image-img: {
    border-radius: 6px;
  };
}

teamatical-ui-image-svg.repl-image-svg::before,
.image-product-grid teamatical-ui-image::before {
  content: ""; 
  padding-top: 133%;
}




.nopreviews {
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
}
.preview-pages {
	@apply --layout-vertical;
	min-height: 460px;
	max-height: 560px;
	margin-bottom: 32px;
}

@media (min-height: 812px) {
	.preview-pages {
		max-height: 460px;
	}
}
@media (min-height: 1012px) {
	.preview-pages {
		max-height: 960px;
	}
}

.preview-pages img {
	width: auto;
	height: auto;
}

.dialog-wide90 {
	min-width: 90%;
}




@media (max-width: 767px) {
	.subtotal {
	margin: 0 0 0 24px;
	}

	#checkout {
	margin-left: 20px;
	}

	#checkout[responsive] {
	margin-left: 0px;
	}

	.main-frame {
	padding: 0 1px 6px 1px;
	}
}




.fbuttons-container {
    display: block;
    position: fixed;
    top: 1em;
    right: 9.6em;
    z-index: 12;
}
.fbuttons-container > paper-fab {
    --paper-fab-disabled-background: var(--paper-grey-200);
    --paper-fab-iron-icon: {
	  fill: white; 
	};
	font-size: 1.5em;
	font-weight: bold;
}
.fbuttons-container .button-sorting {
    --paper-fab-background: var(--paper-cyan-700);
    --paper-fab-keyboard-focus-background: var(--paper-cyan-500);
}
.fbuttons-container .button-bundling {
    --paper-fab-background: var(--paper-amber-600);
    --paper-fab-keyboard-focus-background: var(--paper-amber-300);
}
